footer {
	.top-footer {
		display: flex;
		.left,
		.right {
			width: 50%;
		}
		.left {
			background: #f6f7fa;
			padding: 120px 75px 65px 100px;
			display: flex;
			justify-content: space-between;
			h4 {
				margin: 0 0 45px;
			}
			.left-l {
				width: 40%;
				a {
					display: inline-block;
				}
			}
			.left-r {
				width: 55%;
				.offices {
					display: flex;
					justify-content: space-between;
				}
				p {
					color: #969696;
					font-size: 16px;
					&.title {
						color:#969696;
						font-size:18px;
						text-transform:uppercase;
						font-weight:700;
					}
				}
			}
		}
		.right {
			background: url(https://driftingcreatives.com/wp-content/uploads/2019/11/footer-image.jpg) center no-repeat;
			background-size: cover;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 0;
			&:before {
				position: absolute;
				width: 100%;
				height: 100%;
				background: $red;
				opacity: .5;
				content: '';
				z-index: 0;
			}
			.surprise {
				font-family: jaf-lapture, serif;
				font-weight: 600;
				font-style: normal;
				font-size: 50px;
				color: #fafafa;
				border: 2px solid #fff;
				padding: 25px;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
		}
	}
	.bottom-footer {
		background: #0b1929;
		text-align: center;
		padding: 30px 0 20px;
		position: relative;
		p {
			font-size: 14px;
			color: #fafafa;
			text-transform: uppercase;
			margin: 0;
		}
		img.lightning {
			position: absolute;
			width: 28px;
			height: 28px;
			top: -14px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
