header {
  position: relative;
  z-index: 10;
  background: white;
  transition: all ease 0.3s;
  &.fade-in {
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 2s;
  }
  display: flex;
  padding: 80px 5% 0;
  .header-section {
    flex: 1;
    display: flex;
    align-items: center;
    &.center {
      justify-content: center;
      .img-cover {
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        width: 230px;
        height: 111px;
        a,
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        img.white {
          opacity: 0;
        }
      }
    }
    &.right {
      justify-content: flex-end;
      position: relative;
      .menu-activator {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: $red;
        z-index: 30;
      }
      .nav-background {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: #b50a13;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all linear 0.5s;
      }
    }
  }
  //new header
  .nav-container {
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s ease;
    .content {
      width: 100%;
      padding: 0 15%;
      overflow: hidden;
      overflow-y: scroll;
      .menu-header {
        position: relative;
        display: flex;
        padding: 80px 0 0;
        .header-section.center {
          position: relative;
          .img-cover {
            padding-bottom: 0;
            display: flex;
            justify-content: center;
            width: 230px;
            height: 111px;
          }
          a {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 1;
          }
        }
      }
      .nav-navigation {
        margin-bottom: 90px;
        opacity: 0;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            flex: 0 40%;
            font-family: jaf-lapture, serif;
            font-weight: 600;
            font-style: normal;
            a {
              font-size: 11rem;
              font-weight: 600;
              color: #ca1e27;
              transition: all ease 0.3s;
              white-space: nowrap;
              position: relative;
              &:before {
                content: "";
                background: white;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease 0.3s;
                opacity: 0;
                pointer-events: none;
              }
            }
            &:hover a {
              color: white;
              &:before {
                opacity: 1;
              }
            }
          }
          &:not(:focus-within):not(:hover) {
            li {
              a {
                color: white;
                z-index: 1;
              }
            }
          }
        }
      }
      .bottom {
        display: flex;
        border-top: solid 1px white;
        padding-top: 45px;
        .number-block {
          margin-right: 7%;
        }
        p {
          color: white;
          &.phone,
          &.email {
            color: white;
            font-weight: 600;
          }
          &.gotham {
            font-weight: 700;
          }
        }
        .email-block {
          margin-right: 19%;
        }
        .social-block {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            li {
              display: inline-block;
              margin-right: 10px;
              border-radius: 100%;
              width: 44px;
              height: 44px;
              color: $red;
              display: flex;
              font-size: 1.8rem;
              transition: all ease 0.4s;
              background: #ca1d26;
              cursor: pointer;
              a {
                margin: auto;
                color: $red;
                display: flex;
                &:before {
                  margin: auto;
                  transition: all ease 3s;
                  color: #b50a13;
                }
              }
              &:focus,
              &:hover {
                background: white;
              }
            }
            &:not(:focus-within):not(:hover) {
              li {
                background: white;
                a:before {
                  color: #b50a13;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  //end new header
  .dot-link {
    color: #ca1e27;
    font-weight: 700;
    &:before,
    &:after {
      background: #ca1e27;
    }
    &:hover {
      color: darken(#ca1e27, 10%);
    }
  }
  .menu-activator {
    background: #ca1e27;
    border: none;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    .icon {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      fill: none;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round;
      cursor: pointer;
      stroke: #ffffff;
      opacity: 0.95;
      transition: color ease 0.3s;
    }
  }
  &.menuOpen {
    .header-section.right {
      .nav-background {
        transform: scale(300);
      }
      .menu-activator {
        background: white;
        .icon {
          stroke: $red;
        }
      }
    }
    .nav-container {
      width: 100%;
      opacity: 1;
      .content {
        .nav-navigation {
          opacity: 1;
        }
      }
    }
  }
}

.localizing-b2b {
  @include res(800) {
    font-size: 16px;
  }
  @include res(700) {
    font-size: 13px;
  }
}
