.-row {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 7%;

	@include respond(2000) {
		padding: 0;
	}


	@include respond(1200) {
		padding: 0 5%;
	}

	@include respond(992) {
		padding: 0 3rem;
	}

	@include respond(500) {
		padding: 0 2rem;
	}

	&--inset {
		padding: 0 13%;

		@include respond(2000) {
			padding: 0 10%;
		}

		@include respond(1200) {
			padding: 0 5%;
		}
	}

	.base-slideshow {
		margin: 2rem;
		max-width: 163rem;

		@include respond(2000) {
			margin: 2rem auto;
		}

		@include respond(992) {
			margin: 1rem;
		}

		@include respond(640) {
			margin: 1rem -3rem;
		}
	}
}