div.color-block {
  background: -webkit-gradient(linear, left top, right top, from(#ff4078), to(#f46d94));
  background: -webkit-linear-gradient(left, #ff4078 0%, #f46d94 100%);
  background: -o-linear-gradient(left, #ff4078 0%, #f46d94 100%);
  background: linear-gradient(left, #ff4078 0%, #f46d94 100%);
  height: 30px; }

p {
  margin: 0; }

section.selecting-players h1 {
  color: #ff4078; }

section.selecting-players div.players {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  section.selecting-players div.players h5 {
    margin: 0;
    padding: 10px;
    background: #F7F7F7;
    color: #909090;
    border: solid 1px #909090;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  section.selecting-players div.players div.down-arrow {
    width: 50px;
    background: #F7F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: solid 1px #909090;
    border-left: none; }
    section.selecting-players div.players div.down-arrow before {
      content: '^';
      margin: 0;
      font-size: 20px;
      color: #ff4078; }
  section.selecting-players div.players div.select-players {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%; }
    section.selecting-players div.players div.select-players label {
      display: block;
      background: #F2F2F2;
      width: 100%;
      padding: 10px;
      border: solid 1px #f46d94;
      border-top: none;
      margin-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section.selecting-players div.players div.select-players label:first-child {
        border-top: solid 1px #f46d94; }
      section.selecting-players div.players div.select-players label:nth-child(even) {
        background: #fff; }
