div.color-block{
    background: linear-gradient(left,  #ff4078 0%, #f46d94 100%);
    height: 30px;
}
p{
    margin:0;
}
section.selecting-players{
    h1{
        color: #ff4078;
    }
    div.players{
        position: relative;
        cursor: pointer;
        display: flex;
        h5{
            margin:0;
            padding: 10px;
            background: #F7F7F7;
            color: #909090;
            border: solid 1px #909090;
            flex:1;
        }
        div.down-arrow{
            width:50px;
            background: #F7F7F7;
            display: flex;
            border: solid 1px #909090;
            border-left: none;
            before{
                content:'^';
                margin:0;
                font-size: 20px;
                color:#ff4078;
            }
        }
        div.select-players{
            position: absolute;
            left:0;
            top: 100%;
            width: 100%;
            label{
                display: block;
                background: #F2F2F2;
                width: 100%;
                padding: 10px;
                border:solid 1px #f46d94;
                border-top: none;
                margin-bottom: 0;
                display: flex;
                &:first-child{
                    border-top: solid 1px #f46d94;
                }
                &:nth-child(even){
                    background: #fff;
                }
            }
        }
    }
}


