@mixin centerItem {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

@mixin driftFont {
	display: inline-block;
	font-family: 'Drift icon';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



@mixin paddingTopBottom($topStart, $topEnd, $bottomStart, $bottomEnd) {
	$pixelChangeTop: $topStart - $topEnd;
	$pixelChangeBottom: $bottomStart - $bottomEnd;
	$breakpointChangeTop: $pixelChangeTop / 8;
	$breakpointChangeBottom: $pixelChangeBottom / 8;
	padding-top: $topStart + rem;
	padding-bottom: $bottomStart + rem;

	@media (max-width: 106.25em) {
		//1700px
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;

	}

	@media (max-width: 93.75em) {
		//1500px
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}

	@media (max-width: 75em) {
		//1200px
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;

	}

	@media (max-width: 62em) {
		//992px
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}

	@media (max-width: 48em) {
		//768
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}

	@media (max-width: 40em) {
		//640
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}

	@media (max-width: 31.25em) {
		//500
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}

	@media (max-width: 25em) {
		//400
		$topStart: $topStart - $breakpointChangeTop;
		$bottomStart: $bottomStart - $breakpointChangeBottom;
		padding-top: $topStart + rem;
		padding-bottom: $bottomStart + rem;


	}
}

//BREAKPOINTS
@mixin respond($breakpoint) {
	@if $breakpoint==2000 {
		@media (min-width: 125em) {
			//2000px
			@content;
		}
	}

	@if $breakpoint==1700 {
		@media (max-width: 106.25em) {
			//1700px
			@content;
		}
	}

	@if $breakpoint==1500 {
		@media (max-width: 93.75em) {
			//1500px
			@content;
		}
	}

	@if $breakpoint==1200 {
		@media (max-width: 75em) {
			//1200px
			@content;
		}
	}

	@if $breakpoint==992 {
		@media (max-width: 62em) {
			//992px
			@content;
		}
	}

	@if $breakpoint==768 {
		@media (max-width: 48em) {
			@content;
		}
	}

	@if $breakpoint==640 {
		@media (max-width: 40em) {
			@content;
		}
	}

	@if $breakpoint==500 {
		@media (max-width: 31.25em) {
			@content;
		}
	}

	@if $breakpoint==400 {
		@media (max-width: 25em) {
			@content;
		}
	}
}

@mixin res($breakpoint) {
	$breakpointEM: ($breakpoint / 16) *1em;
	@if $breakpointEM > 2000 {
		@media (max-width: $breakpointEM) {
			@content;
		}
	} @else {
		@media (max-width: $breakpointEM) {
			@content;
		}
	}
}