// COLORS
$red: #ca1e27;
$grey-lt: #969696;
$nvy-blue: #0b1929;
$bg-lt-grey: #f5f7fa;
$color-blue-drk:#1F2A63;
$blue-lt: #1898bf;
$list-border-gr: rgba(199, 199, 201, .11);
$navy-button: #112439;
$white: #FFFFFF;
$grey-text: #454545;
// WIDTHS
$content-width: 1670px;
$content-width-small: 1500px;