@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;
	}
}
@media only screen and (min-width: 2000px) {
	// UTILITIES
	.u-pad {
		padding-left: 0;
		padding-right: 0;
	}
	section.s3-work .image-row-block .text {
		flex: none;
	}
	section.s3-work-overview .work {
		height: 100vh;
		padding: 0 7%;
	}
	//CASE STUDIES

	//MIDSOUTH
	main.case-study .case-study-s2 div.bottom-content div.story h2 {
		max-width: 750px;
	}
}
@media only screen and (max-width: 1700px) {
	/*GLOBAL*/
	//MARGIN BOTTOM
	section {
		&.m-400 {
			margin-bottom: 300px !important;
		}
	}
	.hidden-nav .menu-content .menu-header-container ul li a {
		font-size: 8rem;
	}
	//MENU
	header .nav-container .content {
		padding: 0 10%;
	}
	//FOOTER
	footer .top-footer .left .left-r .offices {
		flex-wrap: wrap;
	}
	footer .top-footer .left .left-r .offices .office:first-child {
		margin-right: 20px;
		margin-bottom: 30px;
	}
	// BLOCK ELEMENTS
	// HOME
	//section 2
	section.s2-home .s2-video-thumb {
		margin: 0 10%;
		width: unset;
		height: unset;
		padding-bottom: 41%;
	}
	//s5
	section.s5-home {
		padding: 125px 10%;
	}
	section.s5-home .top {
		width: unset;
		h1 {
			max-width: 1000px;
			margin: auto;
		}
		.sub-text {
			margin-bottom: 50px;
		}
	}
	// WORK
	// CASE STUDIES
	//GRUB
	main.case-study.grub div.case-study-content .s7-grub h2:before {
		height: 275px;
	}
	// EAGLE CASE STUDY
	main.case-study div.case-study-content.eagle .s6-eagle {
		overflow-x: hidden;
	}

	// SINGLE SERVICE
	main.services-child section.s3-services-child .signup {
		margin-left: 0;
	}
	//MIDSOUTH CASE STUDY
	main.case-study .case-study-s2 div.bottom-content div.story {
		flex-wrap: wrap;
	}
	main.case-study .case-study-s1 h1 {
		font-size: 100px;
	}
	main.case-study.midSouth section.s2-midSouth {
		padding-bottom: 150px;
	}
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-left
		.img-container,
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-right
		.img-container {
		padding: 200px 70px;
	}
	main.case-study.midSouth section.s7-midSouth .top h2 {
		margin-right: 30px;
	}
	main.case-study.midSouth section.s12-midSouth .top {
		padding: 0;
	}

	// SERVICES
	// CULTURE
	main.culture section.s1-culture div.line {
		height: 270px;
	}
	main.culture section.s5-culture div.scrolling-text {
		padding: 0 10%;
		.sticky.stick {
			left: 10%;
		}
		div.text {
			width: 400px;
		}
	}
	main.culture section.s3-culture a.drifter h2 {
		font-size: 45px;
	}
	// BLOG
	//INDIVIDUAL
	main.post section.s2-post {
		padding: 0 5%;
	}
	// CONTACT
	// DRIFTERS
	main.drifter-page section.s2-drifter div.red-line div.line {
		height: 190px;
	}
	main.drifter-page section.s4-drifter div.left {
		margin-right: 40px;
	}
	// LOGOS
	main.logos section.s3-logos ul li {
		padding: 50px;
	}
	// WORK TEMPLATE
	section.s3-work {
		div.stats-row {
			padding: 0 7.5%;
		}
		div.scrolling-text {
			padding: 0 10%;
			div.sticky {
				width: 500px;
				&.stick {
					left: 10%;
				}
			}
		}
		div.img-text-block {
			div.image {
				width: 70%;
			}
			div.text {
				max-width: unset;
			}
		}
	}
}
@media only screen and (max-width: 1500px) {
	// GLOBAL
	//MARGIN BOTTOMS

	section {
		&.m-230 {
			margin-bottom: 200px !important;
		}
	}
	//MENU
	header.fade-in {
		padding-top: 40px;
	}
	header .nav-container .content {
		padding: 0 7%;
	}
	header .nav-container .content .nav-navigation ul li a {
		font-size: 10rem;
	}
	//FOOTER
	footer .top-footer .left {
		padding: 90px 45px 65px 40px;
		flex-direction: column;
		.left-l,
		.left-r {
			width: unset;
			&:first-child {
				margin-bottom: 60px;
			}
			h4 {
				margin-bottom: 30px;
			}
		}
	}
	footer .top-footer .left .left-r .offices {
		justify-content: unset;
		.office:first-child {
			margin-right: 100px;
		}
	}

	// BLOCK ELEMENTS
	// NEWSLETTER
	.newsletter {
		&:before {
			height: 150px;
		}
		&__content {
			flex-direction: column;
			align-items: flex-start;
			&__left {
				margin-bottom: 60px;
				max-width: 700px;
			}
		}
	}
	// CORE VALUES
	.core-values {
		&__text {
			max-width: 650px;
			margin-right: 120px;
		}
	}
	// UTILITIES
	// PADDING
	.u-pad {
		&-small {
			padding-left: 0;
			padding-right: 0;
		}
	}
	// HOME
	//s1
	section.s1-home {
		padding: 30px 10% 185px;
	}
	section.s1-home .text {
		margin-bottom: 25px;
		h1 {
			max-width: 850px;
			margin: auto;
			.second span {
				max-width: 850px;
			}
		}
	}
	.b58 {
		font-size: 40px;
	}
	//s2
	section.s2-home .s2-video-thumb {
		transform: translateY(-50px);
	}
	section.s2-home .s2-video-thumb .line {
		top: -188px;
	}
	//s3
	section.s3-home {
		padding: 30px 10% 150px;
		.text {
			width: unset;
			max-width: 900px;
		}
		.logos {
			width: unset;
			flex-wrap: wrap;
			justify-content: space-around;
			img {
				margin: 0 50px 50px;
			}
		}
	}
	//s4
	section.s4-home h2 {
		margin-bottom: 60px;
	}
	section.s4-home .case-studies .case-study .image-container {
		width: 60%;
		height: 31.5vw;
	}
	section.s4-home .case-studies .case-study:nth-child(odd),
	section.s4-home .case-studies .case-study:nth-child(even) {
		padding: 100px 5%;
	}
	section.s4-home .case-studies .case-study .info {
		width: 33%;
		margin-top: 0;
	}
	section.s4-home .case-studies .case-study .info h2 {
		font-size: 28px;
	}
	//s5
	section.s5-home {
		text-align: center;
	}
	section.s5-home .services {
		flex-wrap: wrap;
		justify-content: space-between;
		.service {
			width: 45%;
			padding: 20px;
			margin-bottom: 130px;
		}
	}
	section.s5-home .top h1 {
		max-width: 780px;
	}
	section.s5-home .services .service h2 {
		font-size: 28px;
		height: unset;
	}
	//s6
	section.s6-home {
		padding: 265px 5% 115px;
	}
	section.s6-home .blog-posts .post h2 {
		font-size: 30px;
	}
	section.s6-home .blog-posts .post p.date {
		margin-top: auto;
	}
	// WORK
	// CASE STUDIES
	//GRUB
	main.case-study.grub .case-study-s2 div.bottom-content ul {
		columns: 4;
	}
	main.case-study.grub div.case-study-content .s3-grub div.top {
		justify-content: unset;
		.b173 {
			margin-right: 60px;
		}
	}

	main.case-study.grub
		div.case-study-content
		.s3-grub
		div.top
		div.right
		.img-cover {
		width: 380px;
	}

	main.case-study.grub div.case-study-content .s7-grub .bottom .text .number {
		font-size: 100px;
	}

	main.case-study.grub div.case-study-content .s7-grub .bottom {
		transform: translateX(3%) translateY(-2%);
	}
	main.case-study.grub div.case-study-content .s8-grub .list .item .number {
		font-size: 100px;
		top: -44px;
		left: 30px;
	}
	// EAGLE CASE STUDY
	main.case-study section.s2-eagle div.bottom-content {
		padding: 0;
	}
	main.case-study section.s2-eagle {
		padding: 0 5% 120px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.top h2.b173 {
		top: -72px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.center {
		width: 80%;
		h3 {
			font-size: 30px;
			margin: 140px 0 0;
			&:after {
				bottom: -20px;
			}
		}
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box h3 {
		width: 100%;
	}
	main.case-study
		div.case-study-content.eagle
		.s4-eagle
		.white-box
		.bottom-left
		img {
		width: 45%;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box p.sub-text {
		left: 30px;
		top: 30px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .bottom {
		padding: 30px 0 120px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .side {
		width: 100px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .content {
		margin-left: 100px;
		padding: 0 60px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .top h2 {
		font-size: 48px;
	}
	main.case-study div.case-study-content.eagle .s8-eagle .top h2.b173 {
		top: -72px;
	}
	main.case-study div.case-study-content.eagle .s8-eagle {
		padding-bottom: 77%;
	}
	main.case-study div.case-study-content.eagle .s8-eagle .right {
		width: 50%;
		top: 80px;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .top img {
		margin: -437px auto 0;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .center h3 {
		font-size: 48px;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .bottom .text {
		bottom: 60px;
		width: 50%;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .top {
		padding: 30% 0;
	}
	main.case-study div.case-study-content section.s9-eagle .top,
	main.case-study div.case-study-content section.s9-eagle .bottom {
		padding: 0 9%;
	}
	//MIDSOUTH CASE STUDY
	main.case-study .case-study-s1 h1 {
		font-size: 80px;
	}
	main.case-study .case-study-s2 .img-cover {
		transform: translateY(-130px);
	}
	main.case-study .case-study-s2 div.bottom-content ul {
		column-count: 3;
	}
	main.case-study .case-study-s2 div.bottom-content div.story h2 {
		max-width: unset;
	}
	main.case-study.midSouth section.s4-midSouth .right {
		width: 380px;
	}
	main.case-study.midSouth section.s5-midSouth .segment {
		padding: 180px 100px;
	}
	main.case-study.midSouth section.s7-midSouth {
		padding-top: 250px;
		margin-bottom: 250px;
	}

	// SERVICES
	main.services section.s3-services .service-group .left {
		margin-right: 40px;
	}
	// SINGLE SERVICE
	main.services-child section.s1-services-child div.content,
	main.services-child section.s2-services-child .content {
		flex-wrap: wrap;
		.left,
		p,
		.right {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
		}
		h1.b100 {
			font-size: 70px;
			margin-bottom: 30px;
			max-width: 100%;
		}
		h2 {
			margin-bottom: 30px;
		}
	}
	main.services-child section.s3-services-child .signup .left {
		margin-right: 30px;
		max-width: 50%;
	}
	main.services-child section.s3-services-child .signup {
		margin-right: 0;
	}
	main.services-child section.s5-services-child .side-by-side .left {
		margin-right: 30px;
	}

	section.s2-work {
		height: unset;
		padding: 120px 10%;
		display: block;
		h1 {
			width: unset;
		}
	}
	section.s3-work div.scrolling-text {
		padding: 0 5%;
	}
	section.s3-work div.scrolling-text div.sticky.stick {
		left: 5%;
	}
	// CULTURE
	main.culture section.s1-culture div.line {
		height: 230px;
	}
	main.culture section.s5-culture div.scrolling-text {
		padding-left: 5%;
	}
	main.culture section.s5-culture div.scrolling-text .sticky.stick {
		left: 5%;
	}
	main.culture section.s3-culture a.drifter h2 {
		font-size: 30px;
	}
	// BLOG
	//INDIVIDUAL
	main.post section.s2-post {
		padding: 0;
	}
	section.blog-posts-navy {
		padding: 190px 5%;
	}
	section.blog-posts-navy li {
		padding: 30px 20px;
	}
	section.blog-posts-navy li a h2 {
		margin-right: 0;
	}
	// CONTACT
	main.contact section.s4-contact ul {
		flex-wrap: wrap;
		padding: 0;
		.item {
			width: 50%;
			margin-bottom: 60px;
			.learn {
				margin: auto;
			}
		}
	}
	// DRIFTERS
	main.drifter-page section.s6-drifter div.left {
		margin-right: 50px;
	}
	main.drifter-page section.s6-drifter {
		padding-left: 5%;
		padding-right: 5%;
	}
	//LOGOS
	main.logos section.s3-logos ul {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main.logos section.s4-logos div.text {
		padding: 0;
	}
	// WORK TEMPLATE
	section.s3-work {
		div.stats-row {
			div.stats {
				div.stat {
					h1.big-number {
						// left: -50px;
						// top: -85px;
						// font-size: 130px;
					}
					h3 {
						font-size: 20px;
					}
				}
			}
		}
		div.scrolling-text {
			div.sticky {
				width: 450px;
			}
		}
	}
}
@media only screen and (max-width: 1200px) {
	//MAILING LIST
	main.mailing-list .s2-mailing-list {
		padding: 0 10% 120px;
	}
	//GLOBAL
	//STICKY MENU
	.side-nav-container {
		padding-top: 25px;
	}
	//header
	header {
		padding-top: 40px;
	}
	// .hidden-nav .menu-content .menu-header-container ul li a{
	//     font-size: 7rem;
	// }
	// .hidden-nav .menu-content .bottom .email-block{
	//     margin-right: 10%;
	// }
	//NAVIGATION
	header .nav-container .content .nav-navigation ul li a {
		font-size: 7rem;
	}
	header .nav-container .content .bottom .number-block {
		margin-right: 5%;
	}
	header .nav-container .content .bottom .email-block {
		margin-right: auto;
	}
	.contained {
		width: 100%;
		padding: 0 60px;
	}
	// HOME
	.multi-step-contact .fieldset-cf7mls-wrapper {
		width: 100%;
	}
	.multi-step-contact .cf7mls_progress_bar {
		right: -90px;
		top: 93px;
	}
	.video-popup.active iframe {
		width: 800px;
		height: 500px;
	}
	.contained {
		width: unset;
	}
	//s1
	section.s1-home {
		padding: 80px 5%;
		padding-bottom: 150px;
	}
	.b58 {
		font-size: 45px;
	}
	section.s2-home .s2-video-thumb .line {
		top: -50px;
	}
	//s2
	//s3
	section.s3-home .logos img {
		margin: 0 40px 50px;
	}
	//s4
	section.s4-home .case-studies {
		padding: 0 5%;
		.case-study {
			padding: 80px 0 !important;
			flex-direction: column;
			&:nth-child(odd) {
				flex-direction: column-reverse;
			}
			.info {
				width: 100%;
				height: unset;
			}
			.image-container {
				width: 100%;
				height: unset;
				margin-bottom: 60px;
			}
		}
	}
	//s6
	section.s6-home .line {
		height: 225px;
	}
	// WORK OVERVIEW
	section.s2-work-overview .work {
		height: unset;
		padding: 100px 60px;
	}
	section.s2-work-overview .work .full h2 {
		font-size: 45px;
	}
	section.s2-work-overview .work .half h2 {
		font-size: 35px;
	}
	// BLOG OVERVIEW
	main.blog-overview ul li {
		width: 50%;
	}
	// WORK
	section.s3-work .stats-row .stats .stat .big-number {
		font-size: 80px;
		top: -50px;
		left: -45px;
	}
	section.s3-work-overview .work {
		height: unset;
		min-height: unset;
		padding: 50px 7%;
		align-items: flex-start;
	}

	// CASE STUDIES
	//GRUB
	main.case-study.grub .case-study-s2 div.bottom-content div.story h2 {
		max-width: 352px;
	}
	main.case-study.grub
		.case-study-s2
		div.bottom-content
		div.story
		div.story-content {
		flex: 1;
	}
	main.case-study.grub .case-study-s2 div.bottom-content ul {
		columns: 3;
	}
	main.case-study.grub div.case-study-content .s3-grub div.top {
		display: block;
		.b173 {
			margin: 0;
			margin-bottom: 100px;
		}
		div.right {
			margin-bottom: 100px;
			.img-cover {
				width: 70%;
				transform: unset;
				padding-bottom: 65%;
				margin: 0 auto;
			}
		}
	}
	main.case-study.grub div.case-study-content .s3-grub div.bottom {
		flex-direction: column;
		.left {
			width: 100%;
			margin-bottom: 100px;
			.img-cover {
				width: 70%;
				margin: 0 auto;
				padding-bottom: 58%;
			}
		}
		.right {
			width: 100%;
			.img-cover {
				width: 70%;
				margin: 0 auto;
				padding-bottom: 72%;
			}
		}
	}

	main.case-study.grub div.case-study-content .s7-grub .bottom {
		transform: unset;
		flex-wrap: wrap;
		margin-top: 100px;
		.text {
			width: 100%;
			margin: 0 auto;
			margin-bottom: 100px;

			.number {
				top: -40px;
				left: 120px;
			}
			h3 {
				max-width: 400px;
				margin: 0 auto;
				text-align: center;
			}
		}
		.image {
			width: 35%;
			padding: 10px;
			margin: 0;
			&:last-child {
				width: 65%;
			}
		}
	}
	main.case-study.grub div.case-study-content .s8-grub .list .item .text {
		margin-left: 50px;
	}
	main.case-study.grub div.case-study-content .s8-grub {
		padding-bottom: 275px;
	}
	// EAGLE CASE STUDY
	main.case-study .s2-eagle div.bottom-content div.story {
		h2 {
			width: 50%;
		}
		.story-content {
			width: 50%;
		}
	}
	main.case-study .case-study-s2 div.bottom-content ul li {
		font-size: 16px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.center h3 {
		margin: 70px 0 0;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box .top {
		padding: 60px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .content {
		margin-right: 96px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .top h2 {
		font-size: 40px;
	}
	section.s6-eagle {
		padding-right: 110px;
	}
	main.case-study div.case-study-content.eagle .s8-eagle {
		padding-bottom: 90%;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .top img {
		margin: -352px auto 0;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .center h3 {
		font-size: 32px;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .bottom .text {
		width: 65%;
		bottom: 30px;
	}
	//  MIDSOUTH CASE STUDY
	main.case-study section {
		padding: 0 5%;
	}
	main.case-study.midSouth .image-row {
		margin: unset;
	}
	main.case-study .case-study-s1 h1 {
		font-size: 70px;
	}
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-left
		.img-container,
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-right
		.img-container {
		padding: 150px 70px;
	}
	main.case-study.midSouth section.s3-midSouth .top .img-container {
		padding: 20px;
	}
	main.case-study.midSouth section.s3-midSouth .bottom .bottom-top {
		padding: 113px 66px 80px;
	}
	main.case-study.midSouth section.s3-midSouth .top {
		margin-bottom: 100px;
		display: block;
		.img-container {
			transform: none;
			text-align: center;
		}
	}
	main.case-study.midSouth section.s5-midSouth {
		margin-bottom: 200px;
	}
	main.case-study.midSouth section.s7-midSouth .top {
		padding: 0 5%;
		display: block;
		h2 {
			margin-bottom: 30px;
		}
	}
	main.case-study.midSouth section.s10-midSouth {
		padding-top: 0;
	}
	main.case-study.midSouth section.s6-midSouth .image-row .left,
	main.case-study.midSouth section.s6-midSouth .image-row .right {
		padding: 10px;
	}
	main.case-study.midSouth section.s9-midSouth .img-container,
	main.case-study.midSouth section.s10-midSouth .image-row .left,
	main.case-study.midSouth section.s10-midSouth .image-row .right {
		padding: 10px;
	}
	main.case-study.midSouth section.s12-midSouth .top {
		display: block;
		.left {
			margin-bottom: 30px;
		}
		.right {
			max-width: unset;
		}
	}
	main.case-study.midSouth section.s11-midSouth,
	main.case-study.midSouth section.s10-midSouth {
		margin-bottom: 250px;
	}
	main.case-study.midSouth section.last .next a {
		font-size: 55px;
	}
	main.case-study.midSouth section.s5-midSouth .segment {
		padding: 150px 40px;
	}
	// SINGLE SERVICE
	main.services-child section.s3-services-child .signup .left h2 {
		font-size: 37px;
	}
	main.services-child section.s3-services-child .signup .left p {
		font-size: 18px;
	}
	main.services-child section.s3-services-child:before {
		bottom: -1px;
		height: 260px;
	}
	main.services-child section.s7-services-child h2.b58 {
		font-size: 30px;
	}
	section.s2-work {
		padding: 120px 10% !important;
	}
	section.s4-work p.next a {
		font-size: 45px;
	}

	// CULTURE
	main.culture section.s3-culture {
		flex-wrap: wrap;
		a.drifter {
			width: 50%;
			margin-bottom: 100px;
		}
	}
	main.culture section.s5-culture div.scrolling-text {
		display: block;
		padding-bottom: 100px;
		padding-top: 100px;
		.sticky {
			float: unset;
			padding-top: 0;
			position: relative !important;
			&.stick {
				left: unset !important;
			}
		}
		div.text {
			width: 100%;
		}
		.image {
			width: unset;
			padding-left: 10%;
		}
	}

	// BLOG
	//INDIVIDUAL
	section.s1-post.m-130 {
		margin-bottom: 70px !important;
	}
	main.post section.s2-post {
		flex-direction: column;
		div.by-line {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 60px;
			margin-left: unset;
			div.author {
				margin-bottom: 0;
				margin-right: 30px;
			}
			div.social {
				margin-bottom: 0;
				margin-right: 30px;
			}
		}
		div.content {
			width: 100%;
		}
	}
	section.blog-posts-navy h2 {
		margin-right: 40px;
	}
	// CONTACT
	// DRIFTERS
	main.drifter-page section.s4-drifter {
		flex-direction: column-reverse;
		div.left {
			margin: 0 auto;
			width: 55%;
		}
		div.right {
			margin-bottom: 60px;
		}
	}
	// CAREERS
	main.careers .s1_career {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 5% 9rem;
		.left {
			margin-bottom: 30px;
			max-width: unset;
			width: 100%;
		}
		.right {
			max-width: unset;
			width: 100%;
		}
	}
	main.careers .s2_career {
		display: block;
		.left {
			margin-bottom: 60px;
			max-width: 440px;
		}
	}
	// SERVICES
	main.services section.s3-services {
		div.service-group,
		div.service-group:nth-child(even) {
			flex-direction: column;
			padding: 80px 0 !important;
			margin-bottom: 10%;
			div.left {
				width: 100%;
				margin: unset;
				div.link {
					margin-bottom: 30px;
				}
				div.img-cover {
					margin-bottom: 60px;
				}
			}
			div.right {
				max-width: unset;
				width: 100%;
				h2.b65 {
					max-width: unset;
				}
			}
		}
	}
	// WORK TEMPLATE
	// s2
	section.s2-work {
		padding: 0 10%;
		div.more-text {
			div.list {
				width: 25%;
			}
		}
	}
	// s3
	section.s3-work {
		div.scrolling-text {
			div.sticky {
				width: 300px;
			}
		}
		div.img-text-block {
			flex-direction: column;
			div.image {
				width: 100%;
			}
			div.text {
				width: 90%;
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	//MAILING LIST
	main.mailing-list .s1-mailing-list {
		padding: 0 5%;
	}
	main.mailing-list .s2-mailing-list {
		padding: 0 5% 120px;
	}
	main.mailing-list .s2-mailing-list .left,
	main.mailing-list .s2-mailing-list .right {
		width: 45%;
	}
	//GLOBAL
	.contained {
		width: 100%;
		padding: 0 30px;
	}
	//SIDE NAV STICKY
	.side-nav-container {
		display: none;
	}
	// ELEMENTS
	p.p-25 {
		font-size: 18px;
	}
	//NAVIGATION
	header .nav-container .content .nav-navigation ul li a {
		font-size: 6rem;
	}
	header .nav-container .content .bottom {
		flex-wrap: wrap;
		.number-block,
		.email-block {
			width: 33.333%;
			margin: 0;
		}
		.social-block {
			margin-top: 30px;
			width: 100%;
		}
	}
	header .nav-container .content .menu-header {
		padding-top: 40px;
	}
	//IMAGE-ROW
	.image-row .image {
		padding: 12px;
	}
	//HEADER
	.hidden-nav .menu-content {
		padding-top: 250px;
		.menu-header-container {
			margin-bottom: 50px;
		}
	}
	.hidden-nav .menu-content .menu-header-container ul li a {
		font-size: 5rem;
	}
	.hidden-nav .menu-content .bottom .email-block {
		margin-right: 3%;
	}
	.hidden-nav .menu-content .bottom {
		flex-direction: column;
		div {
			margin-bottom: 30px;
		}
	}
	//FOOTER
	footer .top-footer {
		flex-direction: column;
		.left,
		.right {
			width: 100%;
		}
		.left {
			.left-l {
				display: flex;
				h4 {
					margin-right: 100px;
					margin-bottom: 0;
				}
			}
		}
		.right {
			padding: 100px 0;
		}
	}
	// BLOCK ELEMENTS
	// NEWSLETTER
	.newsletter {
		&__content {
			&__left {
				max-width: unset;
				margin-right: 0;
			}
		}
	}
	// VIDEO ROW
	.video-row-career .image,
	.video-row-career .video {
		padding: 12px;
	}
	// CORE VALUES
	.core-values {
		display: block;
		&__text {
			margin-bottom: 100px;
		}
		&__items {
			padding-left: 50px;
		}
		&__item {
			margin-bottom: 100px;
		}
	}
	// HOME
	.video-popup.active iframe {
		width: 580px;
		height: 370px;
	}
	//s1
	section.s1-home {
		padding-bottom: 320px;
		.text {
			h1 {
				max-width: 100%;
				.second span {
					max-width: 100%;
					display: none;
				}
			}
		}
	}
	section.s1-home .links {
		width: 90%;

		margin: 85px auto 0;
	}
	//s2
	section.s2-home .s2-video-thumb {
		margin: 0 5%;
		transform: translateY(-40%);
		padding-bottom: 46%;
	}
	section.s2-home .s2-video-thumb .line {
		top: -60%;
		height: 100%;
	}
	//s3
	section.s3-home {
		padding: 0 5% 150px;
	}
	section.s3-home .logos img {
		margin: 0 10px 50px;
	}
	//s4
	section.s4-home .case-studies .case-study {
		padding-top: 0 !important;
		padding-bottom: 100px !important;
	}
	//s5
	section.s5-home {
		padding: 125px 5%;
		.top {
			h1 {
				font-size: 40px;
			}
		}
	}
	section.s5-home .services .service {
		width: 100%;
		padding: 0;
		padding-bottom: 50px;
		&:last-child {
			border-bottom: none;
		}
		h2,
		p,
		a {
			margin-left: 30px;
		}
		.big-number {
			left: 0px;
			top: -100px;
		}
	}
	//s6
	section.s6-home {
		padding: 265px 0 115px;
	}
	section.s6-home .blog-posts {
		display: none;
		&.mobile {
			display: block;
			.post {
				padding: 0 20px;
			}
		}
	}
	//s7
	section.s7-home {
		h1 {
			font-size: 50px;
		}
	}
	.wpcf7-form .fieldset-cf7mls,
	.fieldset-cf7mls-wrapper {
		padding: 0;
	}
	.multi-step-contact .cf7mls_progress_bar {
		margin: 0 auto 60px;
		transform: unset;
		right: unset;
		top: unset;
		padding-left: unset;
		position: relative;
	}
	.multi-step-contact {
		margin-top: 60px;
	}
	.video-popup .vid-width {
		width: 80%;
	}
	// WORK
	section.s3-work div.stats-row div.stats div.stat h3 {
		text-align: center;
	}
	section.s3-work .stats-row .stats .stat .big-number {
		left: 50% !important;
		transform: translateX(-50%);
	}
	// WORK OVERVIEW
	section.s1-work-overview {
		padding: 0 0 60px;
	}
	section.s2-work-overview .work {
		padding: 60px 30px;
	}
	section.s2-work-overview .work .full h2 {
		font-size: 40px;
	}
	section.s2-work-overview .work .half h2 {
		font-size: 28px;
	}
	// CASE STUDIES
	main.case-study-overview .more .link a {
		font-size: 60px;
	}
	// EAGLE CASE STUDY
	section.s2-eagle div.what-we-did {
		display: none;
	}
	main.case-study .s2-eagle .img-cover {
		transform: translateY(-60px);
	}
	main.case-study .s1-eagle {
		margin-bottom: 120px !important;
	}
	main.case-study div.case-study-content.eagle .s3-eagle {
		padding-bottom: 80%;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.center h3 {
		font-size: 20px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box h3 {
		font-size: 30px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box .top {
		padding: 30px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .white-box p.sub-text {
		left: 15px;
		top: 15px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .side {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s4-eagle {
		padding: 0 60px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .content {
		margin: unset;
		padding: 0 60px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .content .left {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .content .right {
		width: 100%;
		img.tradeshow {
			display: none;
		}
		img.mobile-tradeshow {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	main.case-study div.case-study-content.eagle .s6-eagle .content .right .text {
		width: 100%;
		margin: unset;
		margin-bottom: 30px;
	}
	main.case-study
		div.case-study-content.eagle
		.s7-eagle
		.stuff
		.splash-slider
		button.slick-prev {
		width: 66px;
		height: 33px;
		background-size: 18px;
		left: -35px;
	}
	main.case-study
		div.case-study-content.eagle
		.s7-eagle
		.stuff
		.splash-slider
		button.slick-next {
		width: 66px;
		height: 33px;
		background-size: 18px;
		right: -35px;
	}
	main.case-study div.case-study-content.eagle .s7-eagle {
		padding: 0 60px;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .top img {
		margin: -290px auto 0;
	}
	main.case-study div.case-study-content section.s9-eagle .top,
	main.case-study div.case-study-content section.s9-eagle .bottom {
		padding: 0;
	}
	main.case-study div.case-study-content.eagle .s11-eagle {
		flex-wrap: wrap;
	}
	main.case-study div.case-study-content.eagle .s11-eagle .left,
	main.case-study div.case-study-content.eagle .s11-eagle .right {
		width: 100%;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .top {
		height: 480px;
	}
	main.case-study div.case-study-content.eagle .s12-eagle div.image {
		display: none;
	}
	section.s12-eagle .photography-mobile-slider {
		display: block !important;
		width: 100%;
		position: relative;
		button.slick-prev {
			border: 0;
			-webkit-appearance: 0;
			border-radius: 0;
			left: 50%;
			transform: translateX(-50%) rotate(180deg);
			background: url(../images/white-arrow.svg) center no-repeat #1bb1de;
			background-size: 18px;
			position: absolute;
			font-size: 0;
			width: 66px;
			height: 33px;
			bottom: -15px;
			z-index: 5;
			margin-left: -40px;
		}
		button.slick-next {
			border: 0;
			-webkit-appearance: 0;
			border-radius: 0;
			left: 50%;
			transform: translateX(-50%);
			background: url(../images/white-arrow.svg) center no-repeat #1bb1de;
			background-size: 18px;
			position: absolute;
			font-size: 0;
			width: 66px;
			height: 33px;
			bottom: -15px;
			z-index: 5;
			margin-left: 40px;
		}
	}
	// MIDSOUTH CASE STUDY
	main.case-study section {
		padding: 0 30px;
	}
	main.case-study .case-study-s1 {
		margin-bottom: 250px !important;
	}
	main.case-study .case-study-s1 h1 {
		font-size: 60px;
	}
	main.case-study.midSouth .case-study-s2 div.bottom-content ul {
		margin-bottom: 0;
	}
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-left
		.img-container,
	main.case-study.midSouth
		section.s3-midSouth
		.bottom
		.bottom-right
		.img-container {
		padding: 110px 60px;
	}
	main.case-study.midSouth section.s4-midSouth {
		display: block;
		.left {
			margin-bottom: 60px;
		}
		.right {
			margin: auto;
		}
	}
	main.case-study.midSouth section.s9-midSouth h2 {
		margin-bottom: 12rem;
		&:after {
			height: 18rem;
		}
	}
	main.case-study.midSouth section.s11-midSouth h2 {
		margin-bottom: 50px;
	}
	main.case-study.midSouth section.s12-midSouth {
		padding-top: 80px;
	}
	main.case-study.midSouth section.s12-midSouth .top {
		margin-bottom: 100px;
	}
	main.case-study.midSouth section.s12-midSouth .bottom .navigation {
		bottom: 10px;
	}
	main.case-study.midSouth
		section.s12-midSouth
		.bottom
		.navigation
		.slider-prev,
	main.case-study.midSouth
		section.s12-midSouth
		.bottom
		.navigation
		.slider-next {
		padding: 8px 35px;
	}

	//GRUB
	main.case-study.grub section {
		padding: 0 5%;
	}
	main.case-study.grub section.s2-grub {
		padding-bottom: 100px;
	}
	main.case-study.grub .case-study-s1 {
		margin-bottom: 200px !important;
	}
	main.case-study.grub .case-study-s2 div.bottom-content {
		padding: 0;
	}
	main.case-study.grub .case-study-s2 .img-cover {
		transform: translateY(-110px);
	}
	main.case-study.grub .case-study-s2 div.bottom-content div.story {
		display: block;
		h2 {
			max-width: unset;
			margin-bottom: 60px;
		}
	}
	main.case-study.grub div.case-study-content .s6-grub div.hoverbox {
		top: 29%;
	}
	main.case-study.grub div.case-study-content .s6-grub .img-cover {
		width: 100%;
		padding-bottom: 341%;
	}
	main.case-study.grub div.case-study-content .s7-grub .bottom {
		margin: 0;
		.text {
			margin-top: 200px;
			margin-bottom: 200px;
		}
	}
	main.case-study.grub div.case-study-content .s7-grub .bottom .text .number {
		left: 30px;
	}
	main.case-study.grub div.case-study-content .s8-grub {
		padding-bottom: 175px;
	}
	main.case-study.grub div.case-study-content .s8-grub h2 {
		margin-bottom: 100px;
	}
	main.case-study.grub div.case-study-content .s8-grub .list {
		display: block;
		.item {
			margin: 0 auto;
			margin-bottom: 80px;
			max-width: 430px;
			.number {
				left: -10px;
			}
			.text {
				font-size: 20px;
			}
		}
	}

	// SINGLE SERVICE
	main.services-child section {
		margin-bottom: 120px !important;
	}
	main.services-child section.s3-services-child .signup {
		flex-wrap: wrap;
		.left,
		.right {
			width: 100%;
			max-width: 100%;
		}
		.left {
			margin-right: 0;
			margin-bottom: 60px;
		}
	}
	main.services-child section.s3-services-child {
		padding: 80px 30px;
	}
	main.services-child
		section.s3-services-child
		.signup
		.right
		.mc-field-group
		label {
		margin-bottom: 15px;
	}
	main.services-child
		section.s3-services-child
		.signup
		.right
		.mc-field-group
		input {
		min-width: 100%;
		width: 100%;
	}
	main.services-child section {
		padding: 0 30px;
	}
	main.services-child section.s5-services-child .image-row .image {
		padding: 25px;
	}
	main.services-child section.s5-services-child .fc-block {
		flex-wrap: wrap;
		.left,
		.right {
			max-width: 100%;
			margin: 0;
			width: 100%;
		}
		.right {
			margin-top: 60px;
		}
		&:last-child {
			margin-bottom: 120px;
		}
	}

	section.s3-work div.scrolling-text div.sticky {
		background: unset !important;
	}
	section.s1-work,
	section.s3-work .image-row-block,
	section.s3-work div.scrolling-text {
		padding: 0 30px !important;
	}
	section.s2-work {
		padding: 60px 30px !important;
	}
	section.s3-work .text-row {
		height: unset;
		padding: 60px 30px;
	}
	section.s3-work .image-row-block {
		margin: 0 -15px;
	}
	section.s3-work .image-row-block .image {
		padding: 15px;
	}
	section.s3-work div.scrolling-text div.sticky {
		width: unset;
	}
	.scrolling-text .image {
		padding-top: 30px;
	}
	section.s3-work div.scrolling-text div.sticky {
		padding-top: 60px;
	}
	// CULTURE
	main.culture section {
		padding: 0 5%;
	}
	// BLOG
	// OVERVIEW
	main.blog-overview {
		padding: 0 30px;
	}
	//INDIVIDUAL
	main.post {
		padding: 0 5%;
	}
	section.blog-posts-navy {
		padding: 100px 5%;
		flex-direction: column;
		div.left {
			margin-bottom: 60px;
		}
	}
	// CONTACT
	main.contact section {
		padding: 0 5%;
	}
	main.contact section.s2-contact .-content p {
		font-size: 20px;
	}
	main.contact section.s2-contact .-content {
		padding: 0 5%;
	}
	main.contact section.s3-contact .wpcf7 {
		min-width: unset;
	}
	main.contact section.s3-contact .wpcf7 .wpcf7-list-item {
		width: 33%;
	}
	main.contact section.s4-contact ul .item {
		width: 45%;
	}
	// DRIFTERS
	main.drifter-page section {
		padding: 0 5%;
	}
	main.drifter-page section.s4-drifter div.left {
		width: 65%;
	}
	main.drifter-page section.s5-drifter div.favorites {
		.-block {
			width: 33.333%;
			h4 {
				font-size: 20px;
			}
		}
	}
	main.drifter-page section.s6-drifter {
		display: block;
		padding-top: 75px;
		padding-bottom: 88px;
		div.left {
			.img-cover {
				display: none;
			}
		}
	}
	// LOGOS
	main.logos section {
		padding: 0 5%;
	}
	main.logos section.s3-logos ul li {
		padding: 20px;
	}
	main.logos section.s6-logos a {
		font-size: 55px;
	}
	// SERVICES
	// s3
	main.services section.s3-services {
		div.service-group,
		div.service-group:nth-child(even) {
			padding-top: 0;
			padding-bottom: 100px;
		}
	}
	section.s3-work .slickSlideShow {
		padding: 0;
	}
	// WORK TEMPLATE
	// s1
	section.s1-work {
		div.main-image:before {
			height: 165px;
		}
	}
	// s2
	section.s2-work {
		div.more-text {
			div.list {
				width: 30%;
			}
		}
	}
	// s3
	section.s3-work {
		div.stats-row {
			padding: 30% 7.5% 0 7.5%;
			div.stats {
				flex-direction: column;
				align-items: center;
				padding: 10% 0 0;
				div.stat {
					margin-bottom: 25%;
					width: 66%;
					h1.big-number {
						// left: -75px;
						// top: -100px;
					}
					h3 {
						font-size: 26px;
					}
				}
			}
		}
		div.video-row {
			flex-direction: column;
			padding: 0;
			div.image {
				width: 100%;
			}
			div.video {
				width: 100%;
			}
		}
		div.scrolling-text {
			div.sticky {
				width: 615px;
				background: #0b1929;
				position: unset !important;
			}
			div.image {
				width: 100%;
			}
		}
		div.img-text-block {
			flex-direction: column;
			div.image {
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	// MAILING LIST
	main.mailing-list .s1-mailing-list .img-cover {
		margin-bottom: 100px;
	}
	main.mailing-list .s2-mailing-list {
		flex-wrap: wrap;
	}
	main.mailing-list .s2-mailing-list .left {
		margin-bottom: 60px;
	}
	main.mailing-list .s2-mailing-list .left,
	main.mailing-list .s2-mailing-list .right {
		width: 100%;
	}
	// GLOBAL
	//BUTTON
	.main-button {
		min-width: 200px;
	}
	//IMAGE ROW
	.image-row {
		margin: 0;
	}
	//MARGIN BOTTOM
	.m-200 {
		margin-bottom: 150px !important;
	}
	//MENU
	header .nav-container .content .nav-navigation ul {
		display: block;
	}

	header .nav-container .content {
		padding: 0 5%;
		padding-bottom: 100px;
	}
	header .nav-container .content .nav-navigation ul li a:before {
		width: 10px;
		height: 10px;
		left: -20px;
	}
	header .nav-container .content .menu-header .header-section.center {
		width: 230px !important;
	}
	//HEADER
	.hidden-nav .menu-content {
		padding-top: 190px;
	}
	//FOOTER
	footer .top-footer .left .left-l {
		flex-wrap: wrap;
		h4 {
			margin-bottom: 30px;
		}
	}
	// BLOCK ELEMENTS
	// VIDEO ROW
	.video-row-career {
		margin: 0;
	}
	// HOME
	//s1
	section.s1-home {
		padding-bottom: 200px;
		.text {
			h1 {
				max-width: 100%;
				.second span {
					max-width: 100%;
				}
			}
		}
	}

	//S4
	section.s4-home {
		padding-top: 200px;
	}
	// WORK OVERVIEW
	section.s2-work-overview .case-studies .case-study {
		margin-bottom: 75px;
	}
	section.s3-work-overview .work {
		flex-wrap: wrap;
		padding: 0;
		.half,
		.full {
			width: 100%;
			padding: 30px;
			.image-container {
				padding-bottom: 70%;
			}
		}
	}
	section.s2-work-overview .work .full h2 {
		font-size: 28px;
	}
	section.s2-work-overview:before {
		height: 100px;
	}
	section.s3-work div.image-row-block {
		margin: 0 !important;
	}

	// CASE STUDIES
	// EAGLE CASE STUDY
	main.case-study section.s2-eagle {
		padding: 0 30px 120px;
	}
	main.case-study .s2-eagle div.bottom-content div.story {
		flex-wrap: wrap;
		margin-bottom: 0;
		h2 {
			max-width: unset;
			width: 100%;
			margin: 0 0 60px;
		}
		.story-content {
			width: 100%;
		}
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.top h2.b173 {
		left: 30px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle {
		padding: 0;
		.white-box {
			transform: unset;
			text-align: center;
			.top {
				padding: 60px 30px;
			}
			p.sub-text {
				position: relative;
				left: unset;
				top: unset;
			}
			.bottom-left {
				width: 100%;
				border-bottom: 0.5px solid rgba(112, 112, 112, 0.75);
				padding-bottom: unset;
				padding: 45px 30px;
				img {
					position: relative;
					transform: unset;
					left: unset;
					top: unset;
					margin-top: 15px;
					width: 171px;
				}
			}
			.bottom-right {
				width: 100%;
				border-left: unset;
				padding-bottom: unset;
				padding: 45px 30px 80px;
				img {
					position: relative;
					transform: unset;
					left: unset;
					top: unset;
					margin-top: 15px;
					width: 245px;
				}
			}
		}
		.bottom {
			padding: 80px 30px 0;
			h3 {
				margin-bottom: 60px;
			}
			div.language {
				display: none;
			}
			.language-mobile {
				display: block !important;
				width: 100%;
				position: relative;
				padding-bottom: 60px;
				strong {
					text-transform: uppercase;
				}
				button.slick-prev {
					border: 0;
					-webkit-appearance: 0;
					border-radius: 0;
					left: 50%;
					transform: translateX(-50%) rotate(180deg);
					background: url(../images/white-arrow.svg) center no-repeat #1bb1de;
					background-size: 18px;
					position: absolute;
					font-size: 0;
					width: 66px;
					height: 33px;
					bottom: -15px;
					z-index: 5;
					margin-left: -40px;
				}
				button.slick-next {
					border: 0;
					-webkit-appearance: 0;
					border-radius: 0;
					left: 50%;
					transform: translateX(-50%);
					background: url(../images/white-arrow.svg) center no-repeat #1bb1de;
					background-size: 18px;
					position: absolute;
					font-size: 0;
					width: 66px;
					height: 33px;
					bottom: -15px;
					z-index: 5;
					margin-left: 40px;
				}
			}
		}
	}
	main.case-study div.case-study-content.eagle .s5-eagle {
		padding: 120px 0;
		.content {
			padding: 0 30px;
			flex-wrap: wrap;
			text-align: center;
			.left {
				width: 100%;
				p {
					display: none;
				}
			}
			.right {
				width: 100%;
			}
		}
		.brochure {
			display: none;
		}
	}
	main.case-study div.case-study-content.eagle .s6-eagle {
		padding: 80px 30px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .top {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s7-eagle {
		height: 200px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle {
		overflow: unset;
	}
	main.case-study div.case-study-content.eagle .s6-eagle .top img {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s7-eagle .stuff {
		display: none;
	}
	main.case-study
		div.case-study-content.eagle
		.s6-eagle
		.content
		.right
		img.mobile-tradeshow {
		margin-bottom: -120px;
		position: relative;
	}
	main.case-study div.case-study-content.eagle .s8-eagle {
		padding-bottom: unset;
		padding: 120px 30px 52vw;
		text-align: center;
	}
	main.case-study div.case-study-content.eagle .s8-eagle .right {
		width: 100%;
		top: unset;
		right: unset;
		position: relative;
		a {
			display: inline-block;
		}
	}
	main.case-study div.case-study-content.eagle .s9-eagle .top img {
		margin: -44.1vw auto 0;
	}
	main.case-study div.case-study-content section {
		padding: 0 30px;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .center {
		height: unset;
		padding: 120px 0;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .bottom .text h3 {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s11-eagle {
		display: none;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .bottom {
		padding-bottom: 45%;
	}
	section.s12-eagle .photography-mobile-slider {
		margin-top: -120px;
	}
	section.s12-eagle .mobile-statement {
		display: block;
		text-align: center;
		margin: 120px 0 0;
	}
	section.s7-home {
		padding-bottom: 120px;
	}
	.video-popup .vid-width {
		width: 90%;
	}
	// MIDSOUTH CASE STUDY
	main.case-study.midSouth section.s3-midSouth .bottom .bottom-top {
		border: none;
		padding-left: 30px;
		padding-right: 30px;
	}
	main.case-study.midSouth section.s3-midSouth .bottom .bottom-left,
	main.case-study.midSouth section.s3-midSouth .bottom .bottom-right {
		width: 100%;
		border: none;
	}
	main.case-study.midSouth section.s3-midSouth .bottom .bottom-left {
		border-top: solid black 1px;
		border-bottom: solid black 1px;
	}
	main.case-study.midSouth section.s12-midSouth .bottom .navigation {
		position: relative;
		bottom: unset;
		margin-top: 10px;
	}
	// GLOBAL
	main.case-study section.last .next a {
		font-size: 60px;
	}
	main.case-study.grub
		div.case-study-content
		.s3-grub
		div.top
		div.right
		.img-cover {
		width: 100%;
		padding-bottom: 92%;
	}
	main.case-study.grub
		div.case-study-content
		.s3-grub
		div.bottom
		.left
		.img-cover {
		width: 100%;
		padding-bottom: 82%;
	}
	main.case-study.grub
		div.case-study-content
		.s3-grub
		div.bottom
		.right
		.img-cover {
		width: 100%;
		padding-bottom: 113%;
	}

	main.case-study.grub div.case-study-content .s4-grub {
		display: block;
		div.left,
		div.right {
			width: 100%;
		}
		div.left {
			transform: translateY(-3.5%);
			margin-bottom: 30px;
			h2 {
				margin-bottom: 60px;
			}
		}
		div.right {
			position: relative;
			z-index: 1;
		}
	}
	main.case-study.grub div.case-study-content .s6-grub div.hoverbox .on-hover {
		right: 3%;
	}
	// SINGLE SERVICE
	main.services-child section.s2-services-child .content .right ul {
		columns: 1;
	}
	main.services-child section.s3-services-child {
		padding-bottom: 10%;
		&:before {
			height: 160px;
		}
	}
	main.services-child section.s1-services-child div.content h1.b100 {
		font-size: 50px;
	}
	main.services-child section.s7-services-child .projects {
		flex-wrap: wrap;
	}
	main.services-child section.s7-services-child .projects .project {
		width: 100%;
	}
	main.services-child section.s7-services-child .projects .project .img-cover {
		margin-bottom: 15px;
	}
	// CULTURE
	main.culture section.s5-culture div.scrolling-text h2 span {
		left: -60px;
	}
	main.culture section.s1-culture div.line {
		height: 200px;
	}
	// BLOG
	// OVERVIEW
	main.blog-overview ul li {
		width: 100%;
		padding: 0;
	}
	// CONTACT
	main.contact section.s3-contact .wpcf7-form-control {
		flex-wrap: wrap;
		justify-content: unset;
	}
	main.contact section.s3-contact .wpcf7 .wpcf7-list-item {
		width: 150px;
		margin: 0;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	// DRIFTERS
	main.drifter-page section.next-drifter p.next a {
		font-size: 60px;
	}
	// WORK TEMPLATE
	// s2
	section.s2-work {
		div.more-text {
			flex-direction: column-reverse;
			div.paragraph {
				width: 100%;
			}
			div.list {
				width: 100%;
				margin-bottom: 30px;
				ul {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-gap: 0 30px;
				}
			}
		}
	}
	// s3
	section.s3-work {
		div.image-row-block {
			flex-direction: column;
		}
		div.slickSlideShow {
			div.img-cover {
				padding-bottom: 26%;
			}
		}
	}
}
@media only screen and (max-width: 640px) {
	//GLOBAL
	main {
		margin-top: 50px;
	}
	//MARGIN BOTTOMS
	.m-400 {
		margin-bottom: 200px !important;
	}
	.m-200 {
		margin-bottom: 170px !important;
	}
	.m-150 {
		margin-bottom: 100px !important;
	}
	//ELEMENTS
	p.big-number {
		font-size: 100px;
	}
	p.p-25 {
		font-size: 16px;
	}
	//MENU
	header.menuOpen .nav-container .content .nav-navigation {
		margin-top: 60px;
	}
	header .nav-container .content .bottom .number-block,
	header .nav-container .content .bottom .email-block {
		width: 100%;
		margin: 0;
	}
	header .nav-container .content .bottom .number-block {
		margin-bottom: 60px;
	}
	//HEADER
	.hidden-nav .menu-content .menu-header-container ul {
		flex-direction: column;
	}
	.hidden-nav .menu-content .menu-header-container {
		margin-bottom: 23px;
	}
	header .dot-link {
		display: none;
	}
	//FOOTER
	footer .top-footer .left {
		padding: 90px 30px 45px;
		.left-l {
			h4 {
				max-width: 210px;
			}
		}
		.left-r {
			h4 {
				max-width: 300px;
			}
		}
	}
	// Utilities
	.u-pad {
		padding: 0 30px;
	}
	// BLOCK ELEMENTS
	// NEWSLETTER
	.newsletter {
		&__content {
			&__right {
				width: 100%;
				.mc-field-group label {
					margin-bottom: 0px;
				}
				.mc-field-group input {
					min-width: unset;
					width: 100%;
				}
			}
		}
	}
	// CORE VALUES
	.core-values {
		&__text {
			margin-right: 0;
		}
		&__items {
			padding-left: 80px;
		}
	}
	// HOME
	.video-popup.active iframe {
		width: 400px;
		height: 260px;
	}
	//s1
	section.s1-home {
		padding-top: 0;
	}
	section.s2-home .s2-video-thumb .line {
		top: -35%;
		height: 75%;
	}
	.b58 {
		font-size: 40px;
	}
	section.s1-home .links {
		flex-direction: column;
		margin-top: 25px;
		a {
			margin-bottom: 10px;
		}
	}

	//S3
	section.s3-home .logos img {
		&:nth-child(3) {
			padding: 40px;
		}
	}

	//S4
	section.s4-home .case-studies .case-study .image-container {
		margin-bottom: 30px;
	}
	section.s4-home .case-studies .case-study .info h2 {
		font-size: 24px;
		text-align: center;
	}
	section.s4-home .case-studies .case-study .link-container {
		text-align: center;
	}
	section.s4-home .line {
		height: 225px;
	}
	//S5
	section.s5-home {
		padding-top: 50px;
	}
	section.s5-home .services .service .big-number {
		top: -50px;
	}
	section.s5-home .top h2 {
		font-size: 24px;
	}
	section.s5-home .services .service {
		margin-bottom: 100px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	section.s5-home .services .service h2 {
		font-size: 24px;
	}
	section.s5-home .top {
		margin-bottom: 100px;
	}
	//S6
	section.s6-home {
		padding-top: 150px;
	}
	section.s6-home .line {
		top: -120px;
	}
	section.s6-home .blog-posts .post h2 {
		max-width: 100%;
		margin: 0 auto 30px;
		font-size: 22px;
	}
	section.s6-home .blog-posts.mobile .post {
		padding: 0 7.5px;
		p.date {
			font-size: 20px;
		}
	}
	// WORK
	section.s3-work .stats-row .stats .stat .big-number {
		left: -15px;
	}
	section.s2-work-overview:before {
		height: 50px;
	}
	// CASE STUDIES
	// EAGLE CASE STUDY
	main.case-study .case-study-s1 h1 {
		font-size: 60px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.top h2.b173,
	main.case-study div.case-study-content.eagle .s8-eagle .top h2.b173 {
		top: -42px;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .top h2.b173 {
		padding-left: 30px;
		bottom: -30px;
	}
	main.case-study div.case-study-content.eagle .s9-eagle .bottom img {
		margin-bottom: -110px;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .top {
		height: 270px;
	}
	// MIDSOUTH CASE STUDY
	main.case-study .case-study-s2 div.bottom-content ul {
		column-count: 2;
	}
	main.case-study.midSouth section.s4-midSouth .left {
		width: unset;
	}
	main.case-study.midSouth section.s5-midSouth {
		display: block;
		.segment {
			width: unset;
		}
	}
	main.case-study.midSouth section.s6-midSouth .color-block {
		height: 90px;
	}
	main.case-study.midSouth section.s6-midSouth {
		.image-row {
			display: block;
			.left,
			.right {
				padding: 0;
			}
			.left {
				margin: 20px 0;
			}
		}
	}
	main.case-study.midSouth section.s7-midSouth {
		padding-top: 150px;
	}
	main.case-study.midSouth section.s7-midSouth .color-block {
		height: 150px;
	}
	main.case-study.midSouth section.s7-midSouth .bottom .img-cover {
		padding-bottom: 130%;
	}
	main.case-study.midSouth section.s9-midSouth {
		padding-top: 100px;
	}
	main.case-study.midSouth section.s9-midSouth h2 {
		margin-bottom: 50px;
		&:after {
			height: 80px;
		}
	}
	main.case-study.midSouth section.s9-midSouth .img-container {
		padding: 0;
	}
	main.case-study.midSouth section.s9-midSouth h2:after {
		height: 110px;
	}
	main.case-study.midSouth section.s10-midSouth {
		.image-row {
			display: block;
			.left,
			.right {
				padding: 0;
			}
			.left {
				margin: 20px 0;
			}
		}
	}
	main.case-study.midSouth section.s11-midSouth,
	main.case-study.midSouth section.s10-midSouth {
		margin-bottom: 150px;
	}
	main.case-study.midSouth section.s11-midSouth h2 {
		margin-bottom: 60px;
	}
	main.case-study.midSouth section.last .next a {
		font-size: 35px;
	}
	//GRUB
	main.case-study.grub div.case-study-content .s3-grub div.top h2 span {
		margin-left: 90px;
	}
	main.case-study.grub .case-study-s2 div.bottom-content ul {
		columns: 2;
	}
	main.case-study.grub div.case-study-content .s5-grub {
		padding-top: 170px;
		padding-bottom: 200px;
	}
	main.case-study.grub div.case-study-content .s6-grub div.hoverbox {
		display: none;
	}
	main.case-study.grub div.case-study-content .s7-grub .bottom {
		display: block;
		.text {
			margin-bottom: 100px;
			.number {
				left: -10px;
				top: -60px;
			}
		}
		.image {
			margin: 0 auto;
			width: 80%;
			margin-bottom: 60px;
			&:last-child {
				width: 80%;
				margin: 0 auto;
				margin-bottom: 0;
			}
		}
	}
	main.case-study.grub div.case-study-content .s7-grub h2 {
		margin-bottom: 130px;
		&:before {
			height: 125px;
		}
	}
	// SINGLE SERVICE
	main.services-child section.s5-services-child .image-row .image {
		padding: 0;
	}
	main.services-child section.s5-services-child .side-by-side .right ul {
		column-count: 1;
	}
	section.s4-work p.next a {
		font-size: 25px;
	}
	// CULTURE
	main.culture section.s1-culture p.gotham {
		font-size: 16px;
	}
	main.culture section.s2-culture div.img-cover {
		margin-bottom: 80px;
	}
	// BLOG
	//INDIVIDUAL
	main.post section.s2-post div.by-line {
		flex-direction: column;
		align-items: unset;
		div.author {
			margin-bottom: 30px;
		}
		div.social {
			margin-bottom: 30px;
		}
	}
	section.blog-posts-navy .left {
		h2 {
			margin-right: 0;
		}
	}
	section.blog-posts-navy li a h2 {
		flex: 1;
	}
	section.blog-posts-navy li a p {
		width: 30%;
		margin: 0;
	}
	// CONTACT
	main.contact section.s2-contact .-content {
		padding: 0;
	}
	main.contact section.s3-contact .wpcf7 .wpcf7-list-item {
		width: 45%;
	}
	main.contact section.s3-contact form p.sr {
		font-size: 14px;
		position: relative;
		line-height: 0;
	}
	main.contact section.s4-contact ul .item {
		width: 100%;
	}
	main.contact section.s5-contact {
		padding: 0;
	}
	// DRIFTERS
	main.drifter-page section.s3-drifter {
		margin-bottom: 40px !important;
	}
	main.drifter-page section.s3-drifter div.img-cover {
		padding-bottom: 85%;
	}
	main.drifter-page section.s2-drifter h2 {
		margin-bottom: 30px;
	}
	main.drifter-page section.s2-drifter div.red-line div.line {
		height: 200px;
	}
	main.drifter-page section.s4-drifter div.right p {
		font-size: 16px;
	}
	main.drifter-page section.s4-drifter {
		margin-bottom: 75px;
	}
	main.drifter-page section.s5-drifter div.favorites div.-block {
		width: 50%;
	}
	main.drifter-page section.s5-drifter a.main-button {
		display: none;
	}
	main.drifter-page section.s5-drifter {
		margin-bottom: 100px;
	}
	main.drifter-page section.next-drifter p.next a {
		line-height: 1.3;
	}
	main.drifter-page section.s6-drifter {
		margin-bottom: 50px;
	}
	// LOGOS
	main.logos section.s6-logos a {
		font-size: 40px;
	}
	main.logos section.s3-logos ul {
		grid-template-columns: 1fr 1fr;
	}
	// CAREERS
	main.careers .s1_career .left {
		max-width: 330px;
	}
	main.careers .s2_career .left {
		max-width: 380px;
	}
	main.careers .s2_career .right ul li {
		margin-left: 0;
	}
	main.careers .s4_career {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	// SERVICES
	// s3
	main.services section.s3-services {
		div.service-group,
		div.service-group:nth-child(even) {
			div.left {
				div.link {
					justify-content: center;
					a.dot-link {
						margin: unset;
					}
				}
			}
			div.right {
				h2.b65 {
					font-size: 25px;
				}
				p {
					font-size: 18px;
				}
			}
		}
	}
	// WORK TEMPLATE
	// s2
	section.s2-work {
		margin: 15% 0;
		div.more-text {
			div.paragraph {
				a.main-button {
					width: unset;
				}
			}
			div.list {
				ul {
					display: unset;
				}
			}
		}
	}
	// s3
	section.s3-work {
		div.stats-row {
			div.stats {
				div.stat {
					width: 100%;
					h1.big-number {
						// position: relative;
						// left: unset;
						// top: unset;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	// GLOBAL
	//MARGIN BOTTOM
	section {
		&.m-230 {
			margin-bottom: 100px !important;
		}
	}
	//FLEXIBLE CONTENT
	.image-row .image {
		padding: 5px;
	}
	//ELEMENTS
	.main-button {
		min-width: unset;
	}
	//MENU
	header .header-section.center .img-cover {
		width: 170px;
	}
	header
		.nav-container
		.content
		.menu-header
		.header-section.center
		.img-cover {
		width: 170px;
	}
	header .nav-container .content .nav-navigation ul li a {
		font-size: 5.5rem;
		&:before {
			left: -12px;
		}
	}
	//DISCOVERY FORM

	//FOOTER
	footer .top-footer .right .surprise {
		font-size: 30px;
	}
	footer .bottom-footer {
		padding: 30px 20px;
	}
	footer .top-footer .left .left-l {
		display: block;
	}
	footer .top-footer .left .left-l h4 {
		margin-right: 0;
	}
	footer .top-footer .right {
		padding: 200px 0;
	}
	// BLOCK ELEMENTS
	// NEWSLETTER
	.newsletter {
		&:before {
			height: 70px;
		}
		&__content {
			margin-bottom: 90px;
			&__right {
				.mc-field-group input {
					font-size: 18px;
				}
				#mc_embed_signup_scroll .clear {
					top: 50%;
				}
			}
		}
	}
	// CORE VALUES
	.core-values {
		&__text {
			a {
				max-width: 200px;
			}
		}
		&__items {
			padding-left: 80px;
		}
	}
	// HOME
	//s1
	section.s1-home {
		padding-top: 0;
	}

	.b58 {
		font-size: 30px;
	}
	//s3
	section.s3-home .logos {
		img {
			margin: 0;
			padding: 15px;
			width: 50%;
			margin-bottom: 30px;
			&:last-child {
				width: 100%;
			}
		}
	}
	//S5
	section.s5-home .top .sub-text {
		max-width: 240px;
		margin: 0 auto 50px;
	}
	section.s5-home .services .service h2 {
		height: unset;
		margin-bottom: 30px;
	}
	section.s5-home .services .service h2 {
		margin-left: 0;
	}
	section.s5-home .services .service .big-number {
		top: -40px;
		left: -10px;
	}
	section.s5-home .services .service p,
	section.s5-home .services .service a {
		margin-left: 10px;
	}
	//S6
	section.s6-home .blog-posts.mobile .post p.date {
		font-size: 15px;
	}
	// WORK OVERVIEW
	section.s2-work-overview .work .full h2,
	section.s2-work-overview .work .half h2 {
		font-size: 25px;
	}
	// CASE STUDIES
	// GLOBAL
	main.case-study section.last .next a {
		font-size: 38px;
	}
	// EAGLE CASE STUDY
	main.case-study div.case-study-content.eagle .s8-eagle .right a {
		width: 200px;
	}

	.video-popup .vid-width {
		width: 100%;
	}

	// MIDSOUTH CASE STUDY
	main.case-study section.case-study-s1 {
		margin-bottom: 200px !important;
	}
	main.case-study .case-study-s2 div.bottom-content {
		padding: 0;
	}
	main.case-study .case-study-s1 h1 {
		font-size: 40px;
	}
	main.case-study.midSouth section.s3-midSouth .top .img-container {
		padding: 0;
	}
	main.case-study.midSouth section.s4-midSouth .right {
		width: 100%;
	}
	main.case-study.midSouth section.s8-midSouth {
		margin-bottom: 200px;
	}
	main.case-study.midSouth section.last .next a {
		font-size: 25px;
	}
	main.case-study.midSouth section.s9-midSouth .color-block {
		height: 50px;
	}
	// GRUB
	main.case-study.grub .case-study-s2 div.bottom-content ul {
		margin-bottom: 80px;
		li {
			font-size: 14px;
		}
	}
	main.case-study .case-study-s2 div.bottom-content .main-button {
		width: 150px;
	}
	main.case-study.grub div.case-study-content .s8-grub .list .item .number {
		font-size: 80px;
	}
	// SINGLE SERVICE
	main.services-child
		section.s3-services-child
		.signup
		.right
		.mc-field-group
		input {
		font-size: 20px;
		padding: 15px 5px;
	}
	main.services-child
		section.s3-services-child
		.signup
		.right
		#mc_embed_signup_scroll
		.clear {
		top: 55%;
	}
	main.services-child section.s1-services-child div.content {
		margin-bottom: 45px;
	}
	main.services-child section {
		margin-bottom: 60px !important;
	}
	main.services-child section.s2-services-child .content .right ul li {
		margin-bottom: 10px;
	}
	main.services-child section.s2-services-child .content .right ul li {
		margin-bottom: 10px;
	}
	main.services-child section.s3-services-child .img-cover {
		padding-bottom: 80%;
	}
	main.services-child section.s5-services-child .image-row .image {
		height: 235px;
	}
	// CULTURE
	main.culture section.s1-culture div.line {
		height: 90px;
	}
	div.line-group {
		bottom: -80px;
		div.line {
			height: 110px;
		}
	}
	main.culture section.s3-culture a.drifter {
		width: 100%;
	}
	main.culture section.s5-culture div.scrolling-text div.text a.main-button {
		width: unset;
		p {
			font-size: 15px;
		}
	}
	main.culture section.s5-culture div.scrolling-text .image {
		padding-top: 80px;
	}
	main.culture section.s5-culture div.scrolling-text div.item {
		margin-bottom: 120px;
	}
	main.culture section.s5-culture div.scrolling-text h2 span {
		left: -45px;
		top: -65px;
	}
	// BLOG
	//INDIVIDUAL
	section.blog-posts-navy li a {
		flex-direction: column;
		p {
			width: 100%;
		}
		h2 {
			width: 100%;
		}
	}
	section.blog-posts-navy .right .main-button {
		width: unset;
	}

	// CONTACT
	main.contact section.s3-contact .wpcf7 .wpcf7-list-item {
		width: 100%;
		margin-right: 0;
	}
	main.contact section.s2-contact .-content p {
		font-size: 19px;
	}
	// DRIFTERS
	main.drifter-page section.s1-drifter {
		margin-bottom: 40px;
	}
	main.drifter-page section.s4-drifter div.right h2 {
		margin-bottom: 20px;
	}
	main.drifter-page section.s4-drifter div.left {
		width: 100%;
	}
	main.drifter-page section.s5-drifter .-header {
		margin-bottom: 35px;
	}
	main.drifter-page section.s5-drifter div.favorites div.-block {
		width: 100%;
		margin-bottom: 25px;
		h4 {
			font-size: 22px;
		}
	}
	main.drifter-page section.next-drifter p.next a {
		font-size: 35px;
	}
	main.drifter-page section.s6-drifter div.right ul li a h5 {
		margin-right: 20px;
	}
	// LOGOS
	main.logos section.s2-logos h1 {
		margin-bottom: 30px;
	}
	main.logos section.s6-logos p {
		font-size: 14px;
	}
	// CAREERS
	main.careers .s1_career .left {
		max-width: 300px;
	}
	main.careers .s2_career .left {
		max-width: 280px;
	}
	main.careers .s2_career .right ul {
		column-count: 1;
		padding: 0 30px;
	}
	// WORK TEMPLATE
	// s2
	section.s2-work {
		height: unset;
	}
	// s3
	section.s3-work {
		div.stats-row {
			height: unset;
		}
		div.video-row {
			div.video-popup {
				div.vid-width {
					width: 90%;
					div.vid-con {
						padding-bottom: 74.5%;
					}
				}
			}
		}
		div.slickSlideShow {
			div.img-cover {
				div.buttons {
					bottom: 0;
					div.slick-arrow {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
	// s4
	section.s4-work {
		p.next {
			display: flex;
			justify-content: center;
		}
	}
	// DISCOVERY FORM
	.multi-step-contact span.wpcf7-checkbox span.wpcf7-list-item {
		width: 50%;
	}
}
@media only screen and (max-width: 400px) {
	// GLOBAL
	.contained {
		width: 100%;
		padding: 0 15px;
	}
	// HOME
	.video-popup.active iframe {
		width: 340px;
		height: 192px;
	}
	section.s5-home .services .service:nth-child(4) h2 {
		max-width: 190px;
	}
	// DRIFTERS
	main.drifter-page section.s6-drifter div.right ul li {
		a h2 {
			font-size: 20px !important;
		}
	}
	// SERVICES
	// s1
	main.services section.s1-services {
		div.line {
			height: 185px;
		}
	}
	// s3
	main.services section.s3-services {
		div.service-group,
		div.service-group:nth-child(even) {
			padding-top: 0;
			padding-bottom: 100px;
			div.right {
				a.main-button {
					width: 100%;
				}
			}
		}
	}
	// WORK OVERVIEW
	section.s2-work-overview .work .half,
	section.s2-work-overview .work .full {
		padding: 30px 15px;
	}
	// BLOG OVERVIEW
	main.blog-overview {
		padding: 0 15px;
	}
	// CASE STUDIES
	// EAGLE CASE STUDY
	main.case-study .case-study-s1 h1 {
		font-size: 40px;
	}
	main.eagle .b173 {
		font-size: 40px;
	}
	main.case-study section.s2-eagle {
		padding: 0 15px 120px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle {
		padding-bottom: 120%;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.center {
		width: 100%;
		padding: 0 15px;
	}
	main.case-study div.case-study-content.eagle .s3-eagle div.top h2.b173,
	main.case-study div.case-study-content.eagle .s8-eagle .top h2.b173 {
		top: -22px;
	}
	main.case-study div.case-study-content.eagle .s4-eagle .bottom {
		padding: 60px 15px 0;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .content {
		padding: 0 15px;
	}
	main.case-study div.case-study-content.eagle .s5-eagle .content .left img {
		width: 195px;
		margin-bottom: 30px;
	}
	main.case-study div.case-study-content.eagle .s6-eagle {
		padding: 60px 15px;
	}
	main.case-study div.case-study-content section.s9-eagle {
		padding: 0 15px;
	}
	main.case-study div.case-study-content.eagle .s10-eagle .bottom {
		padding-bottom: 65%;
	}
	// SINGLE SERVICE
	main.services-child section {
		padding: 0 15px;
	}
	main.services-child section.s3-services-child {
		padding: 60px 15px 15%;
	}
	main.services-child section.s1-services-child div.content h1.b100 {
		font-size: 40px;
	}
	main.services-child section.s3-services-child .signup {
		margin-bottom: 60px;
	}
}
