.base-slideshow {
    position: relative;

    &_buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 3.5rem;
        width: 100%;
        z-index: 1;

        @include respond(640) {
            bottom: -2rem;
        }
    }

    &_button {
        width: 12rem;
        height: 8rem;
        display: flex;
        cursor: pointer;

        @include respond(640) {
            width: 9rem;
            height: 4.5rem;

        }

        &:first-child:before {
            transform: rotate(180deg);
        }

        &:before {
            font-size: 4rem;
            margin: auto;

            @include respond(640) {
                font-size: 2.5rem;
            }
        }

        &_blue {
            background: $blue-lt;
            color: white;
        }
    }
}