// VIDEO ROW
.video-row-career {
	display: flex;
	margin: 0 -25px;

	@include respond(2000) {
		justify-content: center;
	}

	.image,
	.video {
		padding: 25px;
	}

	.video-container {
		position: relative;
		cursor: pointer;

		.play {
			width: 7.8rem;
			height: 7.8rem;
			border-radius: 100%;
			background: transparent;
			border: solid white 2px;
			display: flex;
			position: absolute;
			@include centerItem;
			transition: all ease .3s;

			&:before {
				content: 'PLAY';
				margin: auto;
				font-size: 1.4rem;
				color: white;
				transition: all ease .3s;
			}
		}

		&:hover {
			.play {
				background: white;

				&:before {
					color: black;
				}
			}
		}
	}
}

// CORE VALUES
.core-values {
	display: flex;
	color: #fff;
	justify-content: space-between;

	@include respond(2000) {
		justify-content: space-around;
	}

	&__section {
		background: #0b1929;
		padding-top: 220px;
		padding-bottom: 120px;
	}

	&__text {
		max-width: 536px;
		margin-right: 60px;

		h2 {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 60px;
		}
	}

	//all of the items
	&__items {
		max-width: 674px;
	}

	//individual items
	&__item {
		margin-bottom: 60px;
		position: relative;

		h2 {
			margin-bottom: 30px;

			span {
				position: absolute;
				top: -45px;
				left: -80px;
				font-size: 120px;
				color: #dddddd;
				-webkit-text-fill-color: transparent;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #dddddd;
				opacity: .25;
			}
		}
	}
}

// NEWS LETTER
.newsletter {
	background: #0b1929;
	position: relative;
	padding-top: 120px !important;

	&:before {
		content: '';
		position: absolute;
		background: white;
		width: 100%;
		height: 436px;
		z-index: 0;
		bottom: 0;
		left: 0;
	}

	&__circle {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background: $red;
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		display: flex;

		&:before {
			color: white;
			margin: auto;
			font-size: 15px;
		}
	}

	&__image.img-cover {
		padding-bottom: 50%;
		position: relative;
		z-index: 1;
	}

	&__content {
		display: flex;
		margin: 0 auto;
		margin-bottom: 120px;
		align-items: flex-end;
		max-width: 1600px;
		justify-content: space-between;
		padding: 0 7%;

		&__left {
			max-width: 536px;
			margin-right: 155px;

			p {
				color: #969696;
			}

			h2 {
				color: white;
			}
		}

		&__right {
			#mc_embed_signup_scroll {
				position: relative;

				.clear {
					position: absolute;
					width: 30px;
					height: 30px;
					top: 65%;
					right: 0;

					&:before {
						color: white;
						margin: auto;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
						font-size: 18px;
						border: none;
						pointer-events: none;
					}

					input {
						background: #1898bf;
						border: none;
						border-radius: 100%;
						position: relative;
						width: 100%;
						height: 100%;
					}
				}
			}

			.mc-field-group {
				label {
					display: block;
					color: white;
					font-size: 18px;
					margin-bottom: 40px;

					span {
						color: $red;
					}
				}

				input {
					display: block;
					border: none;
					min-width: 500px;
					background: #0b1929;
					padding: 20px 5px;
					font-size: 25px;
					border-bottom: solid white 1px;
					color: white;
				}
			}
		}
	}
}