.block-h-3col {
    &__heading {
        width: 100%;
        margin-bottom: 10rem;

        @include respond(768) {
            width: 70%;
        }

        @include respond(640) {
            width: 80%;
        }

        @include respond(500) {
            width: 100%;
        }
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__column {
        max-width: 40rem;

        @include respond(1500) {
            max-width: 50rem;
            margin-bottom: 6rem;
        }
    }

    &__column-heading {
        text-transform: uppercase;
        color: $grey-text;
        margin-bottom: 3rem;
    }

    &__column-text {
        color: $grey-text;
    }
}