// DOT LINKS
.dot-link {
	color: #333333;
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	transition: all 0.3s ease;
	font-weight: 700;
	cursor:pointer;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: $blue-lt;
		bottom: -8px;
		transition: all 0.5s ease;
	}
	&::before {
		left: calc(50% - 4px);
		transform: translateX(-50%);
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: l-bounce;
		animation-timing-function: ease;
	}
	&::after {
		left: calc(50% + 4px);
		transform: translateX(-50%);
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: r-bounce;
		animation-timing-function: ease;
	}
	&:hover {
		color: darken($blue-lt, 5%);
		&::before,
		&::after {
			width: 50%;
			border-radius: 0;
			animation: none;
		}
	}
}

// MAIN BUTTON
.main-button {
	background: transparent;
	border: solid 2px #1898bf;
	border-radius: 3px;
	padding: 15px 10px;
	min-width: 240px;
	font-size: 16px;
	font-family: 'Gotham A', sans-serif;
	font-weight: 700;
	color: #1898bf;
	text-transform: uppercase;
	text-decoration: none;
	transition: all ease .3s;
	position: relative;
	z-index: 1;
	text-align: center;
	display: inline-block;
	&:before {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		width: 0;
		background: #1898bf;
		z-index: -1;
		content: '';
		transition: all ease-in-out .3s;
	}
	&:hover {
		color: white;
		&:before {
			width: 100%;
		}
	}
	&__white {
		border: solid 2px #fff;
		color: #fff;
		&:hover {
			border: solid 2px #1898bf;
		}
	}
}
