.cs-story {
    color: $white;
    padding: 0 7%;

    @include respond(2000) {
        padding: 0;
        max-width: 1600px;
        margin: 0 auto;
    }

    @include respond(1700) {
        padding: 0 2%;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        @include respond(1500) {
            display: block;
        }
    }

    &__header {
        max-width: 40rem;

        @include respond(1500) {
            margin-bottom: 6rem;
            max-width: 82rem;
        }
    }

    &__story {
        max-width: 80rem;

        p {
            margin-bottom: 3rem;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        column-count: 5;

        @include respond(1200) {
            column-count: 3;
        }

        @include respond(768) {
            column-count: 2;
        }

        @include respond(500) {
            column-count: 1;
        }
    }

    &__list-header {
        margin-bottom: 30px;
    }

    &__item {
        color: $white;
        font-size: 1.8rem;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}