// as seen on that conference case study


.c-slideshow-caption {
    display: flex;
    align-items: flex-end;

    @include respond(1500) {
        align-items: flex-start;
    }

    @include respond(1200) {
        display: block;
    }

    &_images {
        position: relative;
        width: 65%;
        margin-right: 5rem;

        @include respond(1200) {
            width: 100%;
        }

    }



    &_content {
        padding-bottom: 2rem;
        width: 32%;

        @include respond(1500) {
            padding-top: 12rem;
        }

        @include respond(1200) {
            width: 100%;
            padding-top: 9rem;
        }

        @include respond(640) {
            padding: 9rem 3rem;
        }
    }

    &_header {
        margin-bottom: 18rem;

        @include respond(1700) {
            margin-bottom: 5rem;

            .stroke-text {
                font-size: 9rem;
            }
        }

        @include respond(1500) {
            .stroke-text {
                font-size: 6rem;
            }

            span.b40 {
                font-size: 3rem;
            }
        }

        @include respond(500) {
            span.b40 {
                font-size: 2.5rem;
            }
        }
    }

    &_slick-text {
        margin-left: 8rem;
        margin-right: 3rem;
        color: white;

        @include respond(1700) {
            margin-left: 3rem;
        }

        @include respond(1500) {
            margin: 0;
        }

        .b20 {
            margin-bottom: 2.5rem;
        }
    }
}