.cs-logo-compare {

    //title and colors
    &__top {
        padding: 180px 100px 100px;
        position: relative;

        @include respond(1200) {
            padding: 18rem 5rem 10rem;
        }

        @include respond(768) {
            padding-top: 32rem;
        }

        @include respond(640) {
            padding: 20rem 3rem 10rem;
        }
    }

    &__colors {
        position: absolute;
        right: 100px;
        top: 0;
        transform: translateY(-128px);

        .mobile {
            display: none;
        }

        @include respond(1500) {
            right: 4rem;
            transform: translateY(-15.3rem) scale(.8);
        }

        @include respond(1200) {
            right: 0;
        }

        @include respond(992) {
            transform: translateY(-16.6rem) scale(.7);
            right: -3rem;


        }

        @include respond(640) {
            right: 0;
            transform: translateY(-6rem);


            .mobile {
                display: block;
            }

            .desktop {
                display: none;
            }
        }
    }

    //side by side logo
    &__center {
        display: flex;
        border-top: solid 1px #A2A2A2;
        border-bottom: solid 1px #A2A2A2;

        @include respond(640) {
            display: block;
        }
    }

    &__logo-container {
        padding: 90px 0 150px;
        position: relative;
        display: flex;
        width: 50%;

        @include respond(1500) {
            padding: 9rem 0;
        }

        @include respond(1200) {
            padding: 9rem;
        }

        @include respond(992) {
            padding: 9rem 3rem;
        }

        @include respond(640) {
            width: 100%;
            padding: 12rem 4.5rem;
        }

        &:first-child {
            border-right: 1px solid #A2A2A2;

            @include respond(640) {
                border-right: none;
                border-bottom: 1px solid #A2A2A2;
            }
        }
    }

    &__logo-title {
        position: absolute;
        top: 4rem;
        left: 4rem;

        @include respond(768) {
            top: 2rem;
            left: 2rem;
        }

        @include respond(768) {
            top: 3rem;
            left: 3rem;
        }
    }

    &__logo {
        margin: auto;

        @include respond(992) {
            margin: auto auto 0;
        }

    }


    &__bottom {
        position: relative;
        padding: 175px 85px 190px 55px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include respond(1500) {
            padding-right: 5.5rem;
        }

        @include respond(992) {
            flex-wrap: wrap;
            padding-bottom: 15rem;
        }

        @include respond(768) {
            padding: 17.5rem 3rem 15rem;
        }

        @include respond(640) {
            padding-top: 6.5rem;
            padding-left: 0;
            padding-right: 0;
        }


    }

    &__bottom-title {
        position: absolute;
        top: 4rem;
        left: 4rem;

        @include respond(640) {
            top: 6.5rem;
        }

        @include respond(500) {
            font-size: 1.4rem;
        }
    }

    &__character {
        @include respond(992) {
            width: 23%;
            margin-bottom: 4rem;
        }

        @include respond(640) {
            width: 50%;
            display: flex;
            margin-bottom: 5rem;

            img {
                margin: 0 auto;

                &#racoon {
                    width: 9.5rem;
                }

                &#moose {
                    width: 13rem;
                }

                &#robot {
                    width: 13.7rem;
                }

                &#orange-bear {
                    width: 15.6rem;
                }

                &#green-bear,
                &#pink-bear {
                    width: 10.3rem;
                }

                &#bigfoot {
                    width: 12rem;
                }

                &#octo {
                    width: 11.3rem;
                }
            }




        }
    }
}