// Image row on careers, origin, culture, midsouth

.image-row {
	display: flex;
	padding: 0;
	margin: 0 -25px;
	@media screen and (min-width: 1920px) {
		justify-content: center;
	}
	.image {
		padding: 25px;
		position: relative;
		img {
			&.work-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
