.scrolling-text {
	padding: 0 10% 0 20%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 80px 0 25px;
	.text {
		width: 40%;
		color: #fff;
		padding: 140px 0 40px;
		width: 530px;
		height: fit-content;
		h2 {
			margin: 0 0 30px;
		}
	}
	//ALSO CONTROLS TEXT ON CULTURE PAGE
	.image {
		padding-top: 140px;
		width: 55%;
		margin-left: auto;
		order: 2;
		h2,
		p {
			color: #fff;
		}
		h2 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 30px;
		}
	}
	.sticky-anchor {
		width: 100%;
	}
	.sticky {
		width: 530px;
		height: fit-content;
		float: left;
		&.stick {
			position: fixed;
			top: 0;
			left: 20%;
			z-index: 10;
		}
	}
}

.scrolling-text-end {
	margin-bottom:80px;
}

.stick {
	position: fixed !important;
}
