section.comp-test {
	background-color: black;
}
.header-hero {
	position: relative;
	padding-top: 10rem;
	&__image {
		width: 100%;
	}
	&__line {
		&:before {
			position: absolute;
			left: 50%;
			top: 10px;
			transform: translateX(-50%);
			width: 2px;
			height: 25rem;
			background: $red;
			content: '';
		}
	}
}
@media only screen and (min-width: 2000px) {
}
@media only screen and (max-width: 1700px) {
	.header-hero__line:before {
		height: 19rem;
	}
}
@media only screen and (max-width: 1500px) {
	.header-hero__line:before {
		height: 16rem;
	}
}
@media only screen and (max-width: 1200px) {
	.header-hero__line:before {
		height: 13rem;
	}
}
@media only screen and (max-width: 992px) {
	.header-hero__line:before {
		height: 14rem;
	}
}
@media only screen and (max-width: 768px) {
	.header-hero {
		padding-top: 7rem;
	}
	.header-hero__line:before {
		height: 11rem;
	}
}
@media only screen and (max-width: 640px) {
	.header-hero__line:before {
	}
}
@media only screen and (max-width: 500px) {
	.header-hero__line:before {
		height: 9rem;
	}
}
@media only screen and (max-width: 400px) {
	.header-hero__line:before {
		height: 8rem;
	}
}
