// as seen on that conference case study page
.c-img-overlay {
    padding: 425px 30px 400px;
    padding-left: 3rem;
    padding-right: 3rem;
    background: url(../images/case-studies/that-conference/that-stage-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include respond(640) {
        padding: 22.5rem 3rem 20rem;
    }

    &:before {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: rgba($color-blue-drk, .8);
    }

    &__text {
        max-width: 135rem;
        color: $white;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: -5rem;
        transform: translateX(-50%);
        z-index: 2;
        color: $red;
        font-size: 10rem;
        line-height: 1;

        @include respond(640) {
            font-size: 7rem;
            top: -3.3rem
        }

        &:before {
            line-height: 1;
        }
    }
}