.images-row {
	display: flex;
	position: relative;
	@include respond(2000) {
		justify-content: center;
	}
	@include respond(640) {
		display: block;
	}
	&__image-container {
		padding: 2rem;
		position: relative;
		@include respond(992) {
			padding: 1rem;
		}
		@include respond(640) {
			padding: 1rem 0;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
