.image-video-3x {
	display: flex;
	position: relative;
	max-width: 2000px;
	padding: 0 7%;
	margin: 0 auto;
	@include respond(992) {
		padding: 0 30px;
		margin: 0 -15px;
	}
	@include respond(768) {
		display: block;
	}

	&__cell {
		padding: 2.5rem;
		position: relative;
		flex: 1;
		@include respond(992) {
			padding: 1.5rem;
		}
	}
	&__content-container {
		cursor: pointer;
	}
	&__image-container {
		padding-bottom: 100%;
		position: relative;
	}
	&__video {
		// position: absolute;
		width: 100%;
		height: 100%;
		// top: 0;
		// left: 0;
		object-fit: cover;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__play-button {
		position: absolute;
		width: 10rem;
		height: 10rem;
		@include centerItem;
		color: $red;
		text-align: center;
		background: transparent;
		border: solid $red 1px;
		border-radius: 50%;
		display: flex;
		transition: all ease .3s;
		p {
			margin: auto;
		}
		@include respond(992) {
			width: 5rem;
			height: 5rem;
			p {
				font-size: 1.4rem;
			}
		}
	}

	&__content-container:hover &__play-button {
		transform: translate(-50%, -50%) scale(1.1);
		background: $red;
		color: white;
	}
}
