// LINE GROUP WITH RED CIRCLE AT THE END WITH AN ICON IN IT USUALLY
// ON : CULTURE PAGE
.line-group {
	position: absolute;
	left: 50%;
	bottom: -160px;
	transform: translateX(-50%);
	.line {
		width: 2px;
		background: $red;
		height: 230px;
		margin: 0 auto;
	}
	.circle {
		width: 30px;
		height: 30px;
		display: flex;
		border-radius: 100%;
		background: $red;
		&:before {
			color: #fff;
			margin: auto;
			font-size: 17px;
		}
	}
}
