.fieldset-cf7mls-wrapper .fieldset-cf7mls {
	transition: all 800ms ease;
	transition-timing-function: ease;
}

.message-in-route {
	display: none;
	img {
		margin-top: 100px;
		width: 28px;
		height: auto;
	}
	h2 {
		margin-bottom: 30px !important;
		margin-top: 15px !important;
	}
	p {
		color: #fff;
	}
}

.multi-step-contact {
	margin-top: 150px;
	position: relative;
	transition: all 0.5s ease;
	display: none;
	.wpcf7-mail-sent-ok {
		display: none !important;
	}
	&.deactivate {
		opacity: 0;
	}
	*:focus {
		outline: unset;
	}
	div.wpcf7-validation-errors {
		margin: 60px 0 0;
		border: unset;
		padding: 15px;
		background: red;
		color: #fff;
	}
	h2 {
		margin-top: 0 !important;
		&.left {
			text-align: left;
		}
	}
	p {
		text-align: left;
		color: #fff;
		font-size: 18px;
		margin-bottom: 75px;
		&.sub-text {
			margin-bottom: 0;
			color: #969696;
		}
		span {
			color: #b50a13;
		}
		input {
			width: 100%;
			background: transparent;
			color: #fff;
			border: 0;
			border-bottom: 1px solid #fff;
			font-size: 25px;
			padding: 5px 0;
			&:focus {
				border-bottom: 1px solid #1898bf;
			}
			&.wpcf7-not-valid {
				border: unset !important;
				border-bottom: 1px solid red !important;
			}
		}
	}
	select {
		border: 2px solid #fff;
		padding: 15px;
		background: url(../images/white-down-arrow.svg) right 15px center no-repeat;
		background-color: transparent;
		border-radius: 0;
		-webkit-appearance: none;
		color: #fff;
		padding-right: 50px;
		option {
			color: #000;
		}
		&:focus {
			border: 2px solid #1898bf;
		}
	}
	textarea {
		width: 100%;
		background: unset;
		border: 1px solid #fff;
		font-size: 18px;
		padding: 15px;
		color: #fff;
		margin-bottom: 60px;
		&:focus {
			border: 1px solid #1898bf;
		}
	}
	span.wpcf7-checkbox {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
		span.wpcf7-list-item {
			width: 33.33%;
			padding: 15px;
			margin: 0;
			label {
				height: 74px;
				border: 2px solid #fff;
				color: rgba(255, 255, 255, 0.5);
				width: 100%;
				height: 74px;
				font-weight: normal;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.2s ease;
				cursor: pointer;
				font-size: 18px;
				input {
					display: none;
				}
				&.active {
					border: 2px solid #1bb1de;
					color: #1bb1de;
				}
			}
		}
	}
	.cf7mls_progress_bar {
		margin: 0;
		position: absolute;
		width: 201px;
		transform: rotate(90deg);
		right: 0;
		li {
			&:before {
				font-size: 0;
				width: 18px;
				height: 18px;
				border: 2px solid #fff;
				border-radius: 50%;
				background: #0b1929;
				margin-top: 4px;
			}
			&.active {
				&:before {
					border: 2px solid #1898bf;
					background: #1898bf;
				}
				&:after {
					background: #1898bf;
				}
			}
		}
	}
	.fieldset-cf7mls-wrapper {
		width: 970px;
		margin: 0 auto;
	}
	.cf7mls_back.action-button {
		display: none;
	}
	.button-container {
		margin: 0 auto;
		z-index: 5;
		background: transparent;
		border: solid 2px #1898bf;
		border-radius: 3px;
		padding: 15px 10px;
		min-width: 240px;
		font-size: 16px;
		font-family: "Gotham A", sans-serif;
		font-weight: 700;
		color: #1898bf;
		text-transform: uppercase;
		text-decoration: none;
		transition: all ease 0.3s;
		position: relative;
		z-index: 1;
		text-align: center;
		display: inline-block;
		&:before {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 0;
			background: #1898bf;
			z-index: -1;
			content: "";
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			color: white;
			&:before {
				width: 100%;
			}
		}
		.ajax-loader {
			display: none !important;
		}
		input[type="submit"] {
			background: unset;
			padding: unset;
			margin: unset;
			color: unset;
			border: unset;
			font-weight: unset;
			box-shadow: unset;
			text-transform: uppercase;
			&:hover {
				background: unset;
				border: unset;
				box-shadow: unset;
			}
		}
	}
	.cf7mls_next.action-button {
		margin: 0 auto;
		z-index: 5;
		background: transparent;
		border: solid 2px #1898bf;
		border-radius: 3px;
		padding: 15px 10px;
		min-width: 240px;
		font-size: 16px;
		font-family: "Gotham A", sans-serif;
		font-weight: 700;
		color: #1898bf;
		text-transform: uppercase;
		text-decoration: none;
		transition: all ease 0.3s;
		position: relative;
		z-index: 1;
		text-align: center !important;
		display: inline-block;
		&:before {
			position: absolute !important;
			right: 15px !important;
			top: 50% !important;
			display: block !important;
		}
		&:after {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			width: 0;
			background: #1898bf;
			z-index: -1;
			content: "";
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			color: white;
			&:after {
				width: 100%;
			}
		}
	}
	.multi-step-contact p input[type="submit"] {
		font-size: 16px;
	}
}
