.hidden-nav {
	display: flex;
	position: fixed;
	top: -3000px;
	left: 0px;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	transition: all ease .3s;
	background: #b50a13;
	z-index: 9;
	overflow-y: scroll;
	.menu-content {
		padding-top: 215px;
		padding-bottom: 60px;
		padding: 215px 10% 60px;
		.menu-header-container {
			margin-bottom: 95px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				li {
					flex: 0 40%;
					font-family: jaf-lapture, serif;
					font-weight: 600;
					font-style: normal;
					a {
						font-size: 11rem;
						font-weight: 600;
						color: #ca1e27;
						transition: all ease .3s;
						white-space: nowrap;
						position: relative;
						&:before {
							content: '';
							background: white;
							border-radius: 100%;
							width: 30px;
							height: 30px;
							position: absolute;
							left: -50px;
							top: 50%;
							transform: translateY(-50%);
							transition: all ease .3s;
							opacity: 0;
							pointer-events: none;
						}
					}
					&:hover a {
						color: white;
						&:before {
							opacity: 1;
						}
					}
				}
				&:not(:focus-within):not(:hover) {
					li {
						a {
							color: white;
							z-index: 1;
						}
					}
				}
			}
		}

		.bottom {
			display: flex;
			border-top: solid 1px white;
			padding-top: 45px;
			.number-block {
				margin-right: 7%;
			}
			p {
				color: white;
				&.phone,
				&.email {
					color: white;
					font-weight: 600;
				}
			}
			.email-block {
				margin-right: 19%;
			}
			.social-block {
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					display: flex;
					li {
						display: inline-block;
						margin-right: 10px;
						border-radius: 100%;
						width: 44px;
						height: 44px;
						color: $red;
						display: flex;
						font-size: 1.8rem;
						transition: all ease .4s;
						background: #ca1d26;
						cursor: pointer;
						a {
							margin: auto;
							color: $red;
							display: flex;
							&:before {
								margin: auto;
								transition: all ease 3s;
								color: #b50a13;
							}
						}
						&:focus,
						&:hover {
							background: white;
						}
					}
					&:not(:focus-within):not(:hover) {
						li {
							background: white;
							a:before {
								color: #b50a13;
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}
	&.active {
		top: 0;
	}
}
