// SECTION ON SINGLE BLOG POSTS (NEEDS WORK)

section.blog-posts-navy {
	background: $nvy-blue;
	padding: 190px 0;
	justify-content: center;
	display: flex;
	h2 {
		color: #fff;
		max-width: 450px;
		margin-right: 90px;
	}
	ul {
		margin-bottom: 60px;
	}
	li {
		padding: 30px 0;
		border-bottom: solid $list-border-gr;
		&:first-child {
			padding-top: 0;
		}
		a {
			display: flex;
			align-items: center;
			p {
				color: #fff;
				margin-right: 30px;
				text-transform: uppercase;
			}
			h2 {
				color: #fff;
			}
		}
	}
}
