.dropdown-newsletter {
	background:#0B1929;
	height:350px;
	width:100%;
	transform:translateY(-350px);
	transition:transform 0.5s linear;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	.newsletter__content {
		margin-bottom:0;
		align-items:center;
		width:80%;
		@media (max-width:1500px) {
			flex-direction:row;
			width:85%;
		}
		@media (max-width:1300px) {
			width:90%;
			padding:0;
		}
		@media (max-width:780px) {
			flex-direction:column;
			width:100%;
			padding:0 60px;
		}
		@media (max-width:380px) {
			padding:0 30px;
		}
	}
	.newsletter__content__left {
		margin-bottom:0 !important;
		width:50%;
		margin-right:0;
		padding-right:60px;
		@media (max-width:1500px) {
			width:50%;
			margin-right:0;
		}
		@media (max-width:780px) {
			width:100%;
			padding:0;
			margin-bottom:30px !important;
		}
		h2.b58 {
			font-size:5.0rem;
			@media (max-width:992px) {
				font-size:4.0rem;
			}
			@media (max-width:600px) {
				font-size:3.0rem;
			}
		}
		p.p-25 {
			font-size:16px;
			@media (max-width:600px) {
				font-size:16px;
			}
		}
	}
	.newsletter__content__right {
		margin-bottom:0 !important;
		width:50%;
		input {
			min-width:unset;
			width:100%;
		}
		#mc_embed_signup_scroll .clear {
			top:50%;
		}
		@media (max-width:1500px) {
			width:50%;
			margin-left:0;
		}
		@media (max-width:780px) {
			width:100%;
			padding:0;
		}
		label {
			margin-bottom:0px !important;
		}
	}
}