.page-title {
    position: relative;
    margin-bottom: 6rem;


    &__superscript {
        color: $grey-lt;
        text-align: center;
        margin-bottom: 15px;
    }

    &__header {
        text-align: center;
        padding-bottom: 55px;

        @include respond(640) {
            padding-bottom: 15px;
        }
    }

    &__line {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 335px;
        background: $blue-lt;
        top: 100%;
        z-index: 5;

        @include respond(1700) {
            height: 24rem;
        }

        @include respond(1200) {
            height: 19rem;
        }

        @include respond(992) {
            height: 14rem;
        }

        @include respond(640) {
            height: 11rem;
        }

        @include respond(500) {
            height: 8rem;
        }
    }
}