//found on case studies page different than found on work pages


.c-scrolling-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 0 14%;
    padding-right: 8%;

    @include respond(2000) {
        padding: 0 24%;
        padding-right: 18%;
    }

    @include respond(1700) {
        padding: 0 8%;
    }

    @include respond(1500) {
        padding: 0 5%;
    }

    @include respond(992) {
        display: block;
    }


    .sticky-anchor,
    .scrolling-text-end {
        width: 100%;
    }

    &__text-container {
        color: $white;
        max-width: 54rem;
        align-self: flex-start;
        padding-top: 125px;

        @include respond(1500) {
            max-width: 48rem;
        }

        @include respond(1200) {
            max-width: 32rem;
        }

        @include respond(992) {
            max-width: unset;
            width: 100%;
            padding-top: 0;
            margin-bottom: 10rem;
        }

        &.stick {
            top: 0;
            left: 14%;

            @include respond(2000) {
                left: 24%;
            }

            @include respond(1700) {
                left: 8%;
            }

            @include respond(1500) {
                left: 5%;
            }

            @include respond(992) {
                position: relative !important;
                left: unset;
            }
        }
    }

    &__header {
        line-height: 1;
        margin-bottom: 3rem;

        @include respond(1500) {
            max-width: 74%;
        }

        @include respond(768) {
            max-width: unset;
            width: 100%;
        }
    }

    &__text {}

    &__image {
        max-width: 80rem;
        margin-left: auto;

        @include respond(1700) {
            max-width: 65rem;
        }

        @include respond(1500) {
            max-width: 51rem;
        }

        @include respond(992) {
            width: 100%;
            max-width: unset;
        }
    }
}