.side-nav-container {
	position: absolute;
	transform-origin: center;
	transform: rotate(90deg);
	transform-origin:right top;
	padding: 50px 20px 20px;
	background: white;
	right: 0px;
	top: 300px;
	z-index: 1;
	div.side-nav {
		&.overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			ul li a p {
				color: black;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			li {
				padding: 0 10px;
				position: relative;
				a {
					text-decoration: none;
					p {
						font-size: 15px;
						color: black;
						white-space: nowrap;
					}
				}
				&:before {
					content: '';
					width: 100%;
					height: 2px;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all ease 1s;
					background: $red;
					transform-origin: 50% 50%;
					transform: scaleX(0);
					max-width: 100%;
				}
				&:hover {
					a p {
						color: $red;
					}
					&:before {
						animation: grow .3s ease forwards;
					}
				}
			}
		}
	}
}
