.test-section {
    padding-top: 30rem;
}


.row-images {
    padding: 0 7%;
    max-width: 200rem;
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;

    &__single {
        padding: 0 !important;
        z-index: 1;
    }

    @include respond(1200) {
        padding: 0 5%;
    }

    @include respond(992) {
        padding: 0 3rem;
    }

    @include respond(640) {
        display: block;
    }

    &__image-container {
        padding: 2rem;
        position: relative;

        @include respond(992) {
            padding: 1.2rem;
        }

        @include respond(640) {
            padding: 1.2rem 0;
        }
    }

    &__image {
        width: 100%;
    }

    &__slideshow-container {
        width: 100%;
        padding: 2rem;
        position: relative;

        @include respond(992) {
            padding: 1.2rem;
        }

        @include respond(640) {
            padding: 1.2rem 0;
        }
    }

    &__slideshow {
        width: 100%;
        display: none;

        &.slick-initialized {
            display: block;
        }
    }

    &__slideshow-buttons {
        position: absolute;
        //to compensate for padding from the container
        bottom: 4rem;
        width: calc(100% - 4rem);
        z-index: 1;
        display: flex;
        justify-content: space-between;

        @include respond(992) {
            width: calc(100% - 2.4rem);
        }

        @include respond(640) {
            bottom: -2rem;
            width: 100%;
        }
    }

    //if picture has a video
    &__play-button {
        position: absolute;
        width: 7.8rem;
        height: 7.8rem;
        border: 2px solid white;
        border-radius: 100%;
        background: transparent;
        display: flex;
        cursor: pointer;
        overflow: hidden;
        @include centerItem;
        transition: all ease .3s;

        &:before {
            content: 'PLAY';
            color: white;
            font-size: 1.4rem;
            margin: auto;
            transition: all ease .3s;
            position: relative;
            z-index: 1;
        }

        &:after {
            position: absolute;
            @include centerItem;
            content: '';
            margin: auto;
            border-radius: 100%;
            width: 0;
            height: 0;
            background: white;
            transition: all ease .3s;
        }

        &:hover {
            &:before {
                color: black;
            }

            &:after {
                width: 105%;
                height: 105%;
            }
        }
    }
}