.video-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 0%;
	transition: all 0.5s ease;
	z-index: 45;
	transition: height 0.5s ease, background 0.5s ease;

	&.active {
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		transition: height 0.5s ease, background 0.5s ease;
	}

	.vid-width {
		width: 50%;
	}

	.vid-con {
		width: 100%;
		padding-bottom: 56.5%;
		position: relative;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.close-it {
		position: absolute;
		right: 10%;
		top: 10%;
		width: 28px;
		height: 28px;
		cursor: pointer;
		background: url(../images/circle-close.svg) center no-repeat;
		background-size: cover;
		z-index: 5;
		border: none;
	}
}