/*images*/
.video-shifted {
  bottom: -450px !important;
}

.video-normal {
  bottom: -250px !important;
}

.increased-padding {
  padding-bottom: 40em !important;
}

.shift-higher {
  -webkit-transform: translateY(-70%) !important;
      -ms-transform: translateY(-70%) !important;
          transform: translateY(-70%) !important;
}

section.s1-eagle-update p.gotham {
  text-align: center;
  margin-bottom: 30px;
  color: #969696;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

section.s3-eagle-update .center {
  width: 100%;
  max-width: 1000px;
}
section.s3-eagle-update .center img {
  width: 386px !important;
}
section.s3-eagle-update .center h3 {
  text-transform: none !important;
  margin-top: 60px !important;
  font-size: 60px !important;
}
@media (max-width: 56.25em) {
  section.s3-eagle-update .center h3 {
    font-size: 35px !important;
    line-height: 45px !important;
  }
}
section.s3-eagle-update .center h3 span {
  color: #2772A9;
}
section.s3-eagle-update .center h3:after {
  display: none;
}

@media (max-width: 50em) {
  section.s4-eagle-update {
    padding-top: 70px !important;
  }
}
@media (max-width: 37.5em) {
  section.s4-eagle-update {
    padding-top: 0px !important;
  }
}
section.s4-eagle-update p.gotham {
  margin-bottom: 15px;
  color: #969696;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
section.s4-eagle-update .bottom .language {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
section.s4-eagle-update .bottom .language div {
  width: 100% !important;
}

@media (max-width: 75em) {
  section.s5-eagle-update .content .right {
    margin-top: 165px;
  }
}
@media (max-width: 62.5em) {
  section.s5-eagle-update .content .right {
    margin-top: 0px;
  }
}

section.s6-eagle-update {
  padding-bottom: 25em !important;
}
@media (max-width: 93.75em) {
  section.s6-eagle-update {
    padding-bottom: 15em !important;
  }
}
@media (max-width: 50em) {
  section.s6-eagle-update {
    padding-top: 60px !important;
    padding-bottom: 75px !important;
  }
}
section.s6-eagle-update .top {
  height: auto !important;
  padding-top: 40em;
}

.s12-eagle-update {
  padding: 0 !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.s12-eagle-update div.image {
  padding: 0 !important;
  margin: 0 auto !important;
  /*padding: 10px !important;*/
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
}

.language-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language-update {
  width: 45%;
}
.language-update div {
  padding: 1em !important;
}

section.s9-eagle-update .center-update {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
section.s9-eagle-update .img-padding {
  padding-top: 2em;
  width: 100%;
  height: auto;
}
section.s9-eagle-update .bottom {
  padding: 10px !important;
}

.reduced1 {
  margin: -1035px auto 0 !important;
}

.reduced2 {
  margin: -835px auto 0 !important;
}

.s9-blue {
  background-color: #19283F !important;
}
@media (max-width: 81.25em) {
  .s9-blue .s12-eagle-update {
    -webkit-transform: translateY(30px) !important;
        -ms-transform: translateY(30px) !important;
            transform: translateY(30px) !important;
  }
}

.coll-update {
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
}
@media (max-width: 62.5em) {
  .coll-update {
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}
@media (max-width: 93.75em) {
  .coll-update {
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
  }
}
@media (max-width: 62.5em) {
  .coll-update {
    -webkit-transform: translateY(-250%);
        -ms-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}

@media (max-width: 81.25em) {
  section.s10-eagle-update-2 div.top {
    padding-top: 500px;
    height: unset !important;
  }
}
@media (max-width: 81.25em) {
  section.s10-eagle-update-2 div.top h2.b173 {
    bottom: 0 !important;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}

section.s11-eagle-update {
  padding: 0 !important;
  margin-left: 10%;
  margin-right: 10%;
  /*transform: translateY(-100%);*/
  /*margin-top: -1000px;*/
  position: relative;
}
@media (max-width: 81.25em) {
  section.s11-eagle-update {
    margin-bottom: 120px;
  }
}
@media (max-width: 81.25em) {
  section.s11-eagle-update .shift-up {
    margin-top: -200px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}
@media (max-width: 56.25em) {
  section.s11-eagle-update .shift-up .smallShift .flexContainer {
    padding: 0;
  }
}

.shift-up {
  width: 100%;
  /*height: 500px;
  transform: translateY(-50%);
  margin-top: -500px;*/
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}
.shift-up .smallShift {
  /*margin-top: -200px;*/
}
.shift-up .smallShift .flexContainer div {
  -webkit-box-shadow: 2px 3px 15px 0px #00000040;
          box-shadow: 2px 3px 15px 0px #00000040;
  background-color: white;
  text-align: center;
}
.shift-up .smallShift .flexContainer div h3 {
  padding-top: 2em;
  background-color: white;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 130%;
}
.shift-up .smallShift .flexContainer div p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Gotham", sans-serif;
  padding: 1em;
}
.shift-up .smallShift .flexContainer div h4 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Gotham", sans-serif;
  padding: 2em;
}

.creativeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /*padding: 260px 10%;
  padding-bottom: 420px;*/
  background-color: #F5F7FA;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 15em;
  padding-bottom: 30em;
  padding-top: 17em;
  max-width: 1500px;
}
.creativeFlex .video-up {
  display: none;
}
@media (max-width: 93.75em) {
  .creativeFlex .video-up {
    display: block;
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
    position: absolute;
    top: 0;
    left: 6%;
  }
}
@media (max-width: 115.625em) {
  .creativeFlex {
    padding-bottom: 22em;
  }
}
@media (max-width: 100em) {
  .creativeFlex {
    padding: 10em;
    padding-bottom: 20em;
    padding-top: 5em;
    max-width: 1300px;
  }
}
@media (max-width: 81.25em) {
  .creativeFlex {
    padding-left: 7%;
    padding-right: 7%;
  }
}

.story-update {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
@media (max-width: 62.5em) {
  .story-update {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.story-update .story-content-update, .story-update .b40-update {
  width: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 600px !important;
}
@media (max-width: 62.5em) {
  .story-update .story-content-update, .story-update .b40-update {
    max-width: 1000px !important;
    padding: 0;
  }
}
.story-update .story-content-update {
  padding-left: 0.5em !important;
}
@media (max-width: 62.5em) {
  .story-update .story-content-update {
    width: 100% !important;
    margin: 0 auto;
  }
}
.story-update .b40-update {
  padding-right: 0.5em !important;
}
@media (max-width: 62.5em) {
  .story-update .b40-update {
    width: 100% !important;
    margin: 0 auto;
    padding-left: 7px !important;
    padding-bottom: 30px !important;
  }
}

@media (max-width: 45em) {
  .bolder {
    padding-top: 30px !important;
  }
}

.left-update {
  width: 60% !important;
}

.right-update {
  width: 20% !important;
}
@media (max-width: 81.25em) {
  .right-update {
    width: 30% !important;
  }
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 125em) {
  .flexContainer {
    padding: 0px 10%;
  }
}

.flexContainer > div {
  width: 45%;
}

.b173-update {
  text-align: right !important;
  padding-top: 1em;
}

.image-4 {
  width: 50%;
}

.image-5 {
  width: 33%;
}

.bolder {
  font-weight: 700 !important;
  text-transform: uppercase;
}

.space-bottom {
  padding-bottom: 1em;
}

.image-6 {
  width: 25%;
}

.pad-top {
  padding-top: 21.5em !important;
}

.space {
  padding: 2em 3em;
}

.bottom-update {
  padding-bottom: 15px !important;
}

.s3-eagle-update h3 {
  line-height: 78px !important;
}

.s8-eagle .right-upgrade {
  width: 50% !important;
}
@media (max-width: 93.75em) {
  .s8-eagle .right-upgrade {
    width: 60% !important;
  }
}

.video-update {
  line-height: 153px;
  -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
          transform: translateY(-70px);
}
@media (max-width: 100em) {
  .video-update {
    line-height: 100px;
    -webkit-transform: translateY(-130px);
        -ms-transform: translateY(-130px);
            transform: translateY(-130px);
  }
}
@media (max-width: 75em) {
  .video-update {
    line-height: 100px;
    -webkit-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

.playButton {
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto auto;
  height: 100px;
  width: 100px;
}
.playButton p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Gotham A", sans-serif !important;
}
@media (max-width: 37.5em) {
  .playButton {
    /*transform: translate(-50%, 0%);*/
  }
}

.videoContainer {
  position: relative;
}

.video-popup-left {
  display: none;
}

.video-popup-right {
  display: none;
}

.imageContainerDiv {
  position: relative;
}
.imageContainerDiv .testPlayLeft {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.imageContainerDiv .testPlayRight {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-popup-right {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 0%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 45;
  -webkit-transition: height 0.5s ease, background 0.5s ease;
  -o-transition: height 0.5s ease, background 0.5s ease;
  transition: height 0.5s ease, background 0.5s ease;
}
.video-popup-right.active {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: height 0.5s ease, background 0.5s ease;
  -o-transition: height 0.5s ease, background 0.5s ease;
  transition: height 0.5s ease, background 0.5s ease;
}
.video-popup-right .vid-width {
  width: 50%;
}
.video-popup-right .vid-con {
  width: 100%;
  padding-bottom: 56.5%;
  position: relative;
}
.video-popup-right .vid-con iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-popup-right .close-it {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url(../../../images/circle-close.svg) center no-repeat;
  background-size: cover;
  z-index: 5;
  border: none;
}

.video-popup-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 0%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 45;
  -webkit-transition: height 0.5s ease, background 0.5s ease;
  -o-transition: height 0.5s ease, background 0.5s ease;
  transition: height 0.5s ease, background 0.5s ease;
}
.video-popup-left.active {
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: height 0.5s ease, background 0.5s ease;
  -o-transition: height 0.5s ease, background 0.5s ease;
  transition: height 0.5s ease, background 0.5s ease;
}
.video-popup-left .vid-width {
  width: 50%;
}
.video-popup-left .vid-con {
  width: 100%;
  padding-bottom: 56.5%;
  position: relative;
}
.video-popup-left .vid-con iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-popup-left .close-it {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url(../../../images/circle-close.svg) center no-repeat;
  background-size: cover;
  z-index: 5;
  border: none;
}

.engineered-up {
  width: 30% !important;
}

.bottom {
  max-width: 3000px !important;
}

.photo-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

s9-eagle-update .bottom {
  margin-left: 0px;
  margin-right: 0px;
}

/*vid width close it extra comments*/
.s9-blue .s12-eagle-update {
  -webkit-transform: translateY(200px) !important;
      -ms-transform: translateY(200px) !important;
          transform: translateY(200px) !important;
}
@media (max-width: 81.25em) {
  .s9-blue .s12-eagle-update {
    -webkit-transform: translateY(30px) !important;
        -ms-transform: translateY(30px) !important;
            transform: translateY(30px) !important;
  }
}
.s9-blue .bottom {
  -webkit-transform: translateY(200px) !important;
      -ms-transform: translateY(200px) !important;
          transform: translateY(200px) !important;
}
@media (max-width: 62.5em) {
  .s9-blue .bottom {
    -webkit-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
  }
}

.pad-top {
  /*margin-top: 100px !important;*/
  padding-top: 500px !important;
}
@media (max-width: 62.5em) {
  .pad-top {
    padding-top: 300px !important;
  }
}

@media (max-width: 62.5em) {
  .ns {
    display: none;
  }
}
.mobile-list {
  display: none;
}
@media (max-width: 62.5em) {
  .mobile-list {
    display: block;
    padding-bottom: 30px;
  }
  .mobile-list p {
    margin: 0.2px !important;
    line-height: 28.8px !important;
  }
}

@media (max-width: 62.5em) {
  .s3-eagle h3 {
    padding: 0 10%;
    font-size: 4px !important;
    padding-bottom: 60px;
  }
}

@media (max-width: 50em) {
  .s4-eagle .top {
    padding: 50px !important;
  }
}
@media (max-width: 87.5em) {
  .s4-eagle h3 {
    width: 100% !important;
  }
}
@media (max-width: 62.5em) {
  .s4-eagle .bottom-left {
    width: 100% !important;
  }
}
@media (max-width: 62.5em) {
  .s4-eagle .bottom-right {
    width: 100% !important;
    border-left: 0.5px solid white !important;
    border-top: 0.5px solid rgba(112, 112, 112, 0.75);
  }
}
@media (max-width: 62.5em) {
  .s4-eagle .bottom {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 62.5em) {
  .s4-eagle .bottom .language-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s4-eagle .bottom .language-div div {
    width: 100%;
  }
}

@media (max-width: 62.5em) {
  .s5-eagle .content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .s5-eagle .content .left {
    width: 100% !important;
  }
  .s5-eagle .content .left p {
    display: block !important;
  }
  .s5-eagle .content .right {
    width: 100% !important;
  }
}

@media (max-width: 62.5em) {
  .s6-eagle .top {
    display: block !important;
  }
}

.s7-eagle {
  height: auto !important;
}
@media (max-width: 62.5em) {
  .s7-eagle .stuff {
    display: block !important;
  }
}
@media (max-width: 50em) {
  .s7-eagle .stuff {
    -webkit-transform: translateY(-110px) !important;
        -ms-transform: translateY(-110px) !important;
            transform: translateY(-110px) !important;
  }
}

@media (max-width: 48.4375em) {
  .s8-eagle .b173 {
    left: 50% !important;
    -webkit-transform: translate(-50%, 50%) !important;
        -ms-transform: translate(-50%, 50%) !important;
            transform: translate(-50%, 50%) !important;
  }
  .s8-eagle .right {
    left: 50% !important;
    -webkit-transform: translate(-50%, 0%) !important;
        -ms-transform: translate(-50%, 0%) !important;
            transform: translate(-50%, 0%) !important;
    width: 85% !important;
  }
}
.s12-eagle .mobileOnly {
  display: none !important;
}
.s12-eagle .videoContainer {
  width: 68.4% !important;
}
@media (max-width: 62.5em) {
  .s12-eagle .image {
    display: block !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}
@media (max-width: 62.5em) {
  .s12-eagle .conImage {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .s12-eagle .noDis {
    display: none !important;
  }
  .s12-eagle .image {
    width: 100% !important;
  }
  .s12-eagle .videoContainer {
    width: 100% !important;
  }
}

@media (max-width: 46.25em) {
  .s10-eagle .creativeFlex {
    margin-top: 200px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 7em;
  }
  .s10-eagle .creativeFlex div {
    width: 100% !important;
  }
  .s10-eagle .video-update {
    -webkit-transform: translateY(-650px);
        -ms-transform: translateY(-650px);
            transform: translateY(-650px);
  }
}

@media (max-width: 46.875em) {
  .noDis {
    /*display: none !important;*/
  }
}
.mobileTime {
  display: none;
}

.line2 {
  height: calc(55% + 45px) !important;
}

@media (max-width: 37.5em) {
  .line2 {
    height: calc(48% + 45px) !important;
  }

  .cover {
    -webkit-transform: translateY(-50px) !important;
        -ms-transform: translateY(-50px) !important;
            transform: translateY(-50px) !important;
  }

  .s1-eagle {
    margin-bottom: 20px !important;
  }
  .s1-eagle .b40-update {
    -webkit-transform: translateY(-40px) !important;
        -ms-transform: translateY(-40px) !important;
            transform: translateY(-40px) !important;
  }

  .s2-eagle {
    padding-bottom: 150px !important;
  }
  .s2-eagle .b20 {
    font-size: 2rem !important;
  }

  section.s3-eagle-update {
    padding-bottom: 600px !important;
  }
  section.s3-eagle-update .b173 {
    top: -80px !important;
    font-size: 5em !important;
  }
  section.s3-eagle-update .center {
    padding-top: 180px !important;
  }
  section.s3-eagle-update .center img {
    width: 80% !important;
  }
  section.s3-eagle-update .center h3 {
    font-family: Roboto;
    font-size: 35px !important;
    font-style: normal;
    font-weight: 900;
    line-height: 45px !important;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 300px !important;
  }

  .s4-eagle p.gotham {
    text-align: left !important;
    padding-left: 0px !important;
  }

  .s4-eagle {
    padding: 0% 5% !important;
  }
  .s4-eagle h3 {
    font-size: 25px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 35px !important;
    letter-spacing: 0em;
    text-align: left;
  }
  .s4-eagle .top {
    padding: 30px !important;
  }
  .s4-eagle img {
    max-width: 70%;
  }
  .s4-eagle .bottom-left {
    padding-bottom: 300px !important;
  }
  .s4-eagle .bottom-right {
    padding-bottom: 150px !important;
  }
  .s4-eagle .bottom-update h3 {
    margin-bottom: 0px !important;
    -webkit-transform: translateY(-80px) !important;
        -ms-transform: translateY(-80px) !important;
            transform: translateY(-80px) !important;
  }
  .s4-eagle .b173 {
    font-size: 5rem !important;
  }

  .vid-width iframe {
    width: 90% !important;
    height: auto !important;
    margin: 5% !important;
  }

  .mobile-list {
    padding-left: 7px;
  }

  .mobileTime {
    display: block;
    background-color: #19283F;
    width: 100%;
  }
  .mobileTime h4 {
    width: 100%;
    text-align: center;
    font-family: "Gotham A", sans-serif;
    font-size: 25px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 30px 0px;
  }

  .s5-eagle {
    padding-bottom: 80px !important;
  }
  .s5-eagle .left p {
    text-align: left !important;
  }

  .s6-eagle-update {
    padding-bottom: 0px !important;
  }
  .s6-eagle-update .b58 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
  }

  .s6-eagle-update .top {
    padding-top: 40px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .s6-eagle-update .top .b58 {
    /*font-family: Lapture;*/
    font-size: 25px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 32px !important;
    letter-spacing: 0em;
    text-align: center;
    -webkit-transform: translateY(20px) !important;
        -ms-transform: translateY(20px) !important;
            transform: translateY(20px) !important;
  }

  .s7-eagle {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .s7-eagle .stuff {
    -webkit-transform: translateY(-100px) !important;
        -ms-transform: translateY(-100px) !important;
            transform: translateY(-100px) !important;
  }

  .s8-eagle .b173 {
    font-size: 70px !important;
    font-weight: 700;
    line-height: 98px !important;
    letter-spacing: 0em;
    text-align: left !important;
    top: -60px !important;
    left: 0% !important;
    -webkit-transform: translate(7%, 50%) !important;
        -ms-transform: translate(7%, 50%) !important;
            transform: translate(7%, 50%) !important;
  }
  .s8-eagle .right-upgrade {
    width: 100% !important;
  }
  .s8-eagle .right-upgrade .b40 {
    text-align: left !important;
  }
  .s8-eagle .right a {
    -webkit-transform: translate(-43%, -2%) !important;
        -ms-transform: translate(-43%, -2%) !important;
            transform: translate(-43%, -2%) !important;
  }

  .s9-eagle .center-update {
    padding-top: 80px !important;
    padding-bottom: 40px !important;
  }
  .s9-eagle .center-update .b58 {
    /*text-align: left !important;*/
    margin-bottom: 0px !important;
  }
  .s9-eagle .center {
    padding-bottom: 40px !important;
  }

  .s10-eagle {
    margin-top: 300px !important;
  }
  .s10-eagle .top {
    padding-top: 800px !important;
  }

  .creativeFlex {
    padding: 40px !important;
  }

  .video-update {
    font-size: 50px !important;
    line-height: 50px !important;
    letter-spacing: 0em;
    text-align: left;
    -webkit-transform: translateY(-550px) !important;
        -ms-transform: translateY(-550px) !important;
            transform: translateY(-550px) !important;
  }

  .s10-eagle .topNew .b173 {
    font-size: 70px !important;
    line-height: 98px !important;
    bottom: -240px !important;
  }

  .pad-top {
    padding-top: 29em !important;
  }

  .marginBottom img {
    margin-bottom: 0px !important;
  }

  .marginBottom {
    margin: 0 auto -450px !important;
  }

  main.case-study .s2-eagle div.bottom-content div.story h2 {
    -webkit-transform: translateY(-27px) !important;
        -ms-transform: translateY(-27px) !important;
            transform: translateY(-27px) !important;
  }

  .s13-eagle .sub-text {
    margin-bottom: 10px !important;
    padding-top: 2px !important;
  }
}
main.case-study section.s2-eagle .line .play {
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  /*border: 3px solid #1BB1DE !important;*/
}
main.case-study section.s2-eagle .line .play:hover {
  background-color: #1BB1DE;
}

.testPlayRight:hover {
  cursor: pointer;
}

.testPlayLeft:hover {
  cursor: pointer;
}

.playButton:hover {
  cursor: pointer;
}

.photography-slider {
  margin-bottom: 20px;
  z-index: 4;
  overflow: visible;
  /*min-height: 400px;*/
}

.slick-prev {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #0074A8;
  padding: 20px 40px;
  color: #0074A8;
  font-size: 0px;
  border: none;
  background-image: url("https://driftingcreatives.com/wp-content/themes/drift-2019/images/case-studies/eagle-metal/white-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.slick-next {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0074A8;
  text-decoration: none;
  padding: 20px 40px;
  color: #0074A8;
  font-size: 0px;
  border: none;
  z-index: 5;
  background-image: url("https://driftingcreatives.com/wp-content/themes/drift-2019/images/case-studies/eagle-metal/white-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main.case-study div.case-study-content.eagle .s9-eagle .bottom img {
  z-index: 5 !important;
  height: 100% !important;
  overflow: visible;
  /*min-height: 400px;*/
  /*margin-bottom: 0px;*/
}

@media (max-width: 37.5em) {
  .desktop-images {
    display: none !important;
  }
}

@media (max-width: 62.5em) {
  .desktop-images1 {
    display: none !important;
  }
}

.mobile-images {
  display: none !important;
}
@media (max-width: 37.5em) {
  .mobile-images {
    display: block !important;
  }
}

.mobile-images1 {
  display: none !important;
}
@media (max-width: 62.5em) {
  .mobile-images1 {
    display: block !important;
  }
}

.mobile-images2 {
  display: none !important;
}
@media (max-width: 31.25em) {
  .mobile-images2 {
    display: block !important;
  }
}

.phone-slider {
  position: relative;
  width: 100%;
  height: auto;
}
.phone-slider .slick-prev {
  display: none !important;
}
.phone-slider .slick-next {
  display: none !important;
}

content.eagle section.s4-eagle p.gotham {
  text-align: left !important;
}

content.eagle section.s4-eagle .white-box h3 {
  text-align: left !important;
}

div.case-study-content.eagle .s4-eagle .white-box {
  text-align: left !important;
}

.margin-change {
  margin-bottom: 50px !important;
}

.language-bottom {
  margin-bottom: 25px !important;
}

content.eagle .s5-eagle .content .left p {
  text-align: left !important;
}

.s6-eagle .left p {
  text-align: left !important;
}

.wider-class {
  width: 90% !important;
}

.leftAlign {
  text-align: left !important;
}

.bottom-left {
  /*@include respond(900){
  	position: absolute;
  	top: 0;
  	left: 0;
  }*/
}
@media (max-width: 56.25em) {
  .bottom-left .space {
    padding-bottom: 150px;
  }
  .bottom-left img {
    -webkit-transform: translateX(-50%) translateY(-40%) !important;
        -ms-transform: translateX(-50%) translateY(-40%) !important;
            transform: translateX(-50%) translateY(-40%) !important;
  }
}
@media (max-width: 37.5em) {
  .bottom-left .space {
    padding-bottom: 100px;
  }
  .bottom-left img {
    -webkit-transform: translateX(-50%) translateY(-40%) !important;
        -ms-transform: translateX(-50%) translateY(-40%) !important;
            transform: translateX(-50%) translateY(-40%) !important;
  }
}
@media (max-width: 25em) {
  .bottom-left .space {
    padding-bottom: 50px;
  }
  .bottom-left img {
    -webkit-transform: translateX(-50%) translateY(-40%) !important;
        -ms-transform: translateX(-50%) translateY(-40%) !important;
            transform: translateX(-50%) translateY(-40%) !important;
  }
}

@media (max-width: 47.5em) {
  .s7-eagle {
    height: 200px !important;
  }

  .s8-eagle .b173 {
    left: 30% !important;
  }

  .s8-eagle .right-upgrade {
    width: 100% !important;
  }

  .s8-eagle .right {
    -webkit-transform: translate(0%, 0%) !important;
        -ms-transform: translate(0%, 0%) !important;
            transform: translate(0%, 0%) !important;
    left: 2% !important;
  }
  .s8-eagle .right h3 {
    text-align: left !important;
  }

  .case-study-content.eagle .s8-eagle {
    text-align: left !important;
  }
}
@media (max-width: 37.5em) {
  .s7-eagle {
    height: auto !important;
  }

  .s8-eagle .right a {
    -webkit-transform: translate(0%, 0%) !important;
        -ms-transform: translate(0%, 0%) !important;
            transform: translate(0%, 0%) !important;
  }

  .s8-eagle .b173 {
    left: 0% !important;
  }
}
@media (max-width: 56.25em) {
  .eagle .s9-eagle .center {
    padding-bottom: 40px !important;
  }
}
@media (max-width: 31.25em) {
  .eagle .s9-eagle .center {
    padding-bottom: 120px !important;
  }
}

@media (max-width: 56.25em) {
  .space-bottom {
    margin-top: 40px;
  }
}
@media (max-width: 37.5em) {
  .space-bottom {
    margin-top: 0px;
  }
}
@media (max-width: 40em) {
  .video-update {
    line-height: 70px;
  }
}
.morepadding-top {
  padding-top: 15px;
}

@media (max-width: 93.75em) {
  .video-update {
    display: none !important;
  }
}
@media (max-width: 71.875em) {
  .s10-eagle .topTaller {
    height: 725px !important;
  }
}
@media (max-width: 60em) {
  .s10-eagle .topTaller {
    height: 925px !important;
  }
}
@media (max-width: 47.5em) {
  .s10-eagle .topTaller {
    height: 1100px !important;
    padding-top: 0px !important;
  }
}
@media (max-width: 46.25em) {
  .s10-eagle .topTaller {
    height: 925px !important;
  }
}
@media (max-width: 40.3125em) {
  .s10-eagle .topTaller {
    height: 1100px !important;
  }
}
@media (max-width: 37.5em) {
  .s10-eagle .topTaller {
    height: 725px !important;
  }
}
@media (max-width: 75em) {
  .s9-eagle .center h3 {
    width: 90% !important;
  }
}

@media (max-width: 81.25em) {
  .s9-eagle.s9-eagle-update.pad-top {
    padding-top: 5px !important;
  }
}

@media (max-width: 81.25em) {
  .s9-blue .bottom {
    -webkit-transform: translateY(30px) !important;
        -ms-transform: translateY(30px) !important;
            transform: translateY(30px) !important;
    margin: 0 auto 30px !important;
  }
}

@media (max-width: 81.25em) {
  main.case-study div.case-study-content.eagle section.s4-eagle .bottom {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 37.5em) {
  .s10-eagle-update-2 .topNew {
    padding-top: 290px !important;
  }
}

.s10-eagle-update {
  position: relative;
}
@media (max-width: 93.75em) {
  .s10-eagle-update .hide-it-soon {
    display: none;
  }
}
@media (max-width: 93.75em) {
  .s10-eagle-update .creativeFlex {
    position: relative !important;
    margin-top: 0 !important;
  }
}
@media (max-width: 93.75em) {
  .s10-eagle-update .creativeFlex h2 {
    display: none !important;
  }
}
.s10-eagle-update .topTaller {
  position: relative;
}
@media (max-width: 93.75em) {
  .s10-eagle-update .topTaller {
    height: unset !important;
    padding-bottom: 50%;
  }
}
@media (max-width: 75em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 65%;
  }
}
@media (max-width: 50em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 85%;
  }
}
@media (max-width: 40em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 100%;
  }
}
@media (max-width: 37.5em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 60%;
  }
}
@media (max-width: 31.25em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 70%;
  }
}
@media (max-width: 25em) {
  .s10-eagle-update .topTaller {
    padding-bottom: 80%;
  }
}
@media (max-width: 93.75em) {
  .s10-eagle-update .topTaller h2 {
    bottom: 30px !important;
    top: unset !important;
    z-index: 9999999;
    position: absolute;
    -webkit-transform: unset !important;
        -ms-transform: unset !important;
            transform: unset !important;
    font-size: 10rem !important;
    display: block !important;
  }
}
@media (max-width: 93.75em) and (max-width: 75em) {
  .s10-eagle-update .topTaller h2 {
    font-size: 7rem !important;
    line-height: 1 !important;
  }
}
@media (max-width: 93.75em) and (max-width: 31.25em) {
  .s10-eagle-update .topTaller h2 {
    font-size: 6rem !important;
  }
}
@media (max-width: 93.75em) and (max-width: 25em) {
  .s10-eagle-update .topTaller h2 {
    font-size: 5rem !important;
  }
}
.s10-eagle-update .topTaller .show-it-soon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
@media (max-width: 93.75em) {
  .s10-eagle-update .topTaller .show-it-soon {
    display: block;
  }
}

@media (max-width: 48em) {
  main.case-study div.case-study-content.eagle .s8-eagle {
    padding: 190px 30px 52vw;
  }
}
@media (max-width: 37.5em) {
  main.case-study div.case-study-content.eagle .s8-eagle {
    padding: 110px 30px 52vw;
  }
}

@media (max-width: 48em) {
  main.case-study div.case-study-content.eagle .s8-eagle .top h2.b173 {
    top: 15px;
  }
}

@media (max-width: 37.5em) {
  main.case-study div.case-study-content.eagle .s6-eagle {
    padding-bottom: 165px !important;
  }
}