main.midsouth-2 section.s2-midSouth {
  padding-bottom: 240px !important;
}
main.midsouth-2 section.s2-midSouth .bottom-content .story h2 {
  width: 40%;
  max-width: unset;
}
main.midsouth-2 section.s2-midSouth .bottom-content .story .story-content {
  width: 50%;
  max-width: unset;
}
main.midsouth-2 section.s2-midSouth .bottom-content ul {
  -webkit-columns: unset;
     -moz-columns: unset;
          columns: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main.midsouth-2 section.s2-midSouth .bottom-content ul li {
  width: 20%;
}
main.midsouth-2 .case-study-content section.case-study-s3.s3-midSouth {
  padding-bottom: 0;
}
main.midsouth-2 .case-study-content section.case-study-s3.s3-midSouth .bottom {
  -webkit-transform: translateY(-185px);
      -ms-transform: translateY(-185px);
          transform: translateY(-185px);
}