main.case-study{
    position: relative;
    section{
        padding: 0 10%;
        &.last{
            transform: translateY(-100px);
            .line{
                width: 2px;
                height: 135px;
                background:$red;
                margin: 0 auto 30px;
            }
            p{
                text-align: center;
            }
            .next{
                display: flex;
                a{
                    margin: 0 auto;
                    font-size: 85px;
                }
            }

        }
    }
    .case-study-s1{
        p, h1{
            text-align: center;
        }
        p{
            color:$grey-lt;
        }
        
    }
    .case-study-s2{
        padding-bottom: 200px;
        h1, h2, h3, p, li{
            color:white;
        }
        .img-cover{
            padding-bottom: 56%;
            transform:translateY(-249px);
        }
        div.bottom-content{
            padding: 0 5%;       
            h3{
                margin-bottom: 30px;
                font-weight: 400;
            }
            div.story{
                margin-bottom: 60px;
                display: flex;
                justify-content: space-between;
                h2{
                    max-width: 406px;
                    margin-right: 30px;
                    margin-bottom: 60px;
                }
                div.story-content{
                    max-width:812px ;
                }
            }

            ul{
                columns: 5;
                margin-bottom: 100px;
                li{
                    margin-bottom: 15px;
                    font-size: 18px;
                }
            }
            .main-button{
                z-index: 1;
                color:white;
                &:after{
                    background:#524F48;
                }
            }
        }
    }
    div.case-study-content{
        position: relative;
        section{
            padding: 0 7%;
        }
        .side-nav-container{
            transform: unset;
            right:0px;
            top:0px;
            width: 65px;
            min-height: 400px;
            padding:unset;
            .side-nav{
                transform: rotate(90deg);
                position: absolute;
                left: 25px;
                top:21px;
                width: 25px; 
                height: 25px;

            }
        }
    }
}