main.case-study-overview{
    .case-studies{
        padding: 0 7%;
        .case-study{
            margin-bottom: 150px;
            &:last-child{
                margin-bottom: none;
            }
            .img-cover{
                padding-bottom: 59%;
                position: relative;
                margin-bottom: 35px;
                overflow: hidden;
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
                img{
                    transition: all ease 1s ;
                }
                a{
                    position: absolute;
                    cursor: pointer;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
            h2{
                margin-bottom: 24px;
                a{
                    color: black;
                    transition: all ease .3s;
                    &:hover{
                        color:#1586a8;
                    }
                }
            }
            ul{
                display: flex;
                li{
                    color: #969696;
                    font-size: 15px;
                    display: flex;
                    &:last-child:after{
                        content: unset;
                    }
                    &:after{
                        content: '';
                        width: 5px;
                        height: 5px;
                        background: black;
                        border-radius: 100%;
                        display: inline-block;
                        margin: auto 10px;
                    }
                }
            }
        }
    }
    .more{
        margin-bottom: 175px;
        .line{
            width: 2px;
            background: $red;
            height: 135px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        p{
            color: #969696;
            text-align: center;
        }
        .link{
            display: flex;   
            a{
                font-size: 85px;
                text-align: center;
                margin:0 auto;
                @media only screen and (max-width : 768px) {
                    font-size: 60px;
                }
                @media only screen and (max-width : 640px) {
                    line-height: 1.3;
                    font-size: 40px;
                }
                @media only screen and (max-width : 500px) {
                    font-size: 35px;
                }
            }
        }
    }
}