/*images*/

@mixin respond($breakpoint) {
	$breakpointEM: ($breakpoint / 16) *1em;
	@if $breakpointEM > 2000 {
		@media (max-width: $breakpointEM) {
			@content;
		}
	} @else {
		@media (max-width: $breakpointEM) {
			@content;
		}
	}
}

.video-shifted{
	bottom: -450px !important;
}

.video-normal{
	bottom: -250px !important;
}

.increased-padding{
	padding-bottom: 40em !important;
}

.shift-higher{
	transform: translateY(-70%) !important;
}

section.s1-eagle-update {
	p.gotham {
		text-align: center;
	    margin-bottom: 30px;
	    color: #969696;
	    font-size: 18px;
	    text-transform: uppercase;
	    font-weight: 700;
	}
}
section.s3-eagle-update {
	.center {
		width: 100%;
   		max-width: 1000px;
		img {
			width:386px !important;
		}
		h3 {
			text-transform:none !important;
			margin-top:60px !important;
			font-size:60px !important;

			@include respond(900){
				font-size:35px !important;
				line-height: 45px !important;
			}
			span {
				color:#2772A9;
			}
			&:after {
				display:none;
			}
		}
	}
}
section.s4-eagle-update {
	@include respond(800){
		padding-top: 70px !important;
	}
	@include respond(600){
		padding-top: 0px !important;
	}

	p.gotham {
	    margin-bottom: 15px;
	    color: #969696;
	    font-size: 18px;
	    text-transform: uppercase;
	    font-weight: 700;
	}
	.bottom {
		.language{
			display: flex !important;
			 
			div{
				width:100% !important; 
			}
		}
		
		
	}
}

section.s5-eagle-update {
	.content {
		.right {
			@include respond(1200){
				margin-top:165px;
			}
			@include respond(1000){
				margin-top:0px;
			}
		}
	}
}

section.s6-eagle-update {
	
	
	padding-bottom: 25em !important;
	//padding-top: 2em !important;
	@include respond(1500){
		padding-bottom: 15em !important;
	}
	@include respond(800){
		padding-top:60px !important;
		padding-bottom:75px !important;
	}
	
	.top{
		height: auto !important;
		padding-top: 40em;
	}
}

.s12-eagle-update{
	padding: 0 !important;
	justify-content: space-between !important;
	box-sizing: border-box;

	div.image{
		padding: 0 !important;
		margin: 0 auto !important;
		/*padding: 10px !important;*/

		padding-left: 10px !important;
		padding-right: 10px !important;
		padding-top: 10px !important;
	}

	
}



.language-div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.language-update{
	width: 45%;

	div{
		padding: 1em !important;
	}
}

section.s9-eagle-update {
	.center-update{
		flex-wrap: wrap !important;
	}
	
	.img-padding{
		padding-top: 2em;
		width: 100%;
		height: auto;
	}

	.bottom{
		padding: 10px !important;
	}
}

.reduced1{
	margin: -1035px auto 0 !important;
}

.reduced2{
	margin: -835px auto 0 !important;
}

.s9-blue{
	background-color: #19283F !important;
	.s12-eagle-update {
		@include respond(1300){
			transform:translateY(30px) !important;
		}
	}
}

.coll-update{
	transform: translateY(-55%);
	@include respond(1000){
	transform: translateY(-120%);
	}

	@include respond(1500){
		transform: translateY(-150%);
	}

	@include respond(1000){
		transform: translateY(-250%);
	}
}

section.s10-eagle-update-2{
	div.top {
		@include respond(1300){
			padding-top:500px;
			height:unset !important;
		}
		h2.b173 {
			@include respond(1300){
				bottom:0 !important;
				transform:unset;
			}
		}
	}
}

section.s11-eagle-update{
	padding: 0 !important;
	margin-left: 10%;
	margin-right: 10%;
	
	/*transform: translateY(-100%);*/
	
	/*margin-top: -1000px;*/
	position: relative;
	@include respond(1300){
		margin-bottom:120px;
	}
	.shift-up {
		@include respond(1300){
			margin-top:-200px;
			transform:unset;
		}
		.smallShift {
			.flexContainer {
				@include respond(900){
					padding:0;
				}
			}
		}
	}
}

.shift-up{
	width: 100%;
	/*height: 500px;
	transform: translateY(-50%);
	margin-top: -500px;*/
	transform: translateY(-40%);
	
	.smallShift{
		/*margin-top: -200px;*/
		.flexContainer{
			div{
				box-shadow: 2px 3px 15px 0px #00000040;
				background-color: white;
				text-align: center;

				h3{
					padding-top: 2em;
					background-color: white;
					font-family: "Gotham", sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 2.4rem;
					line-height: 130%;
				}

				p{
					font-size: 18px;
					font-style: normal;
					font-weight: 300;
					line-height: 27px;
					letter-spacing: 0em;
					text-align: center;
					font-family: "Gotham", sans-serif;
					padding: 1em;
				
				}

				h4{
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 23px;
					letter-spacing: 0em;
					text-align: center;
					font-family: "Gotham", sans-serif;
					padding: 2em;

				}
			}
		}
	}
}

.creativeFlex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	align-items: baseline;

		.video-up{
			display: none;
		}

			@include respond(1500){
				.video-up{
					display: block;
					transform: translateY(-120%);
					position: absolute;
					top: 0;
					left: 6%;
				}
			}

			
	
	/*padding: 260px 10%;
	padding-bottom: 420px;*/
	
	background-color: #F5F7FA;

	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 15em;
	padding-bottom: 30em;

	@include respond(1850){
		padding-bottom: 22em;
	}


	padding-top: 17em;
	max-width: 1500px;

	@include respond(1600){
		padding: 10em;
		padding-bottom: 20em;
		padding-top: 5em;
		max-width: 1300px;
	}

	@include respond(1300){
		padding-left: 7%;
		padding-right: 7%;
	}

	

}

.story-update{
	display: flex !important;
	flex-wrap: wrap; 
	justify-content: space-between !important;

	@include respond(1000){
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.story-content-update, .b40-update{
		width: 50% !important;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 600px !important;

		@include respond(1000){
			max-width: 1000px !important;
			padding: 0;
		}
		
	}

	.story-content-update{
		padding-left: 0.5em !important;

		@include respond(1000){
			width: 100% !important;
			margin: 0 auto;
		}
	}

	.b40-update{
		padding-right: 0.5em !important;

		@include respond(1000){
			width: 100% !important;
			margin: 0 auto;
			padding-left: 7px !important;
			padding-bottom: 30px !important;
		}
	}
}

.bolder{
	@include respond(720){
		padding-top: 30px !important;
	}
}

.left-update{
	width: 60% !important;
}

.right-update{
	width: 20% !important;

	@include respond(1300){
		width: 30% !important;
	}
}

.flexContainer{
	display: flex;
	padding: 0px 20%;
	@include respond(2000){
		padding: 0px 10%;
	}
	
	justify-content: space-around;
	
	
}

.flexContainer > div{
		width: 45%;

}

.b173-update{
	text-align: right !important;
	padding-top: 1em;
}

.image-4{
	width: 50%;
}

.image-5{
	width: 33%;
}

.bolder{
	font-weight: 700 !important;
	text-transform: uppercase;
}

.space-bottom{
	padding-bottom: 1em;
}

.image-6{
	width: 25%;
}

.pad-top{
	padding-top: 21.5em !important;
}

.space{
	padding: 2em 3em;
}

.bottom-update{
	padding-bottom: 15px !important;
}

.s3-eagle-update h3{
	line-height: 78px !important; 
}

.s8-eagle .right-upgrade{
	width: 50% !important; 

	@include respond(1500){
		width: 60% !important;
	}
}

.video-update{
	line-height: 153px;
	transform: translateY(-70px);

	@include respond(1600){
		line-height: 100px;
		transform: translateY(-130px);
	}

	@include respond(1200){
		line-height: 100px;
		transform: translateY(-150px);
	}
}

.playButton{
	border:2px solid white;    
    border-radius:50%;
	position: absolute;
	left: 50%;
  	top: 50%;
	transform: translate(-50%, -50%);
	margin: auto auto;
	height: 100px;
	width: 100px;

	p{
		
		position: absolute;
		left: 50%;
  		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		
		color: white;
		//padding: 40px 25px;

		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0.05em;
		text-align: center;
		font-family: "Gotham A", sans-serif !important;

	} 

	@include respond(600){
		//width: 50px;
		//height: 50px;

		p{
			//padding: 40px 20px;
		}/*transform: translate(-50%, 0%);*/
	}
}

.videoContainer{
	position: relative;
}

.video-popup-left{ 
	display: none;
}

.video-popup-right{
	display: none;
}

.imageContainerDiv{
	position: relative;
	.testPlayLeft{
		position: absolute;
		left: 50%;
  		top: 50%;
		transform: translate(-50%, -50%);
	}

	.testPlayRight{
		position: absolute;
		left: 50%;
  		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.video-popup-right{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 0%;
	transition: all 0.5s ease;
	z-index: 45;
	transition: height 0.5s ease, background 0.5s ease;

	&.active {
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		transition: height 0.5s ease, background 0.5s ease;
	}

	.vid-width {
		width: 50%;
	}

	.vid-con {
		width: 100%;
		padding-bottom: 56.5%;
		position: relative;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.close-it {
		position: absolute;
		right: 10%;
		top: 10%;
		width: 28px;
		height: 28px;
		cursor: pointer;
		background: url(../../../images/circle-close.svg) center no-repeat;
		background-size: cover;
		z-index: 5;
		border: none;
	}
}

.video-popup-left{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 0%;
	transition: all 0.5s ease;
	z-index: 45;
	transition: height 0.5s ease, background 0.5s ease;

	&.active {
		height: 100%;
		background: rgba(255, 255, 255, 0.8);
		transition: height 0.5s ease, background 0.5s ease;
	}

	.vid-width {
		width: 50%;
	}

	.vid-con {
		width: 100%;
		padding-bottom: 56.5%;
		position: relative;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.close-it {
		position: absolute;
		right: 10%;
		top: 10%;
		width: 28px;
		height: 28px;
		cursor: pointer;
		background: url(../../../images/circle-close.svg) center no-repeat;
		background-size: cover;
		z-index: 5;
		border: none;
	}
}

.engineered-up{
	width: 30% !important;
}

.bottom{
	max-width: 3000px !important;
}


.photo-img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

s9-eagle-update{
	.bottom{
		margin-left: 0px;
		margin-right: 0px;
	}
}
/*vid width close it extra comments*/

.s9-blue{
	.s12-eagle-update{
		transform: translateY(200px) !important;

		@include respond(1300){
			transform: translateY(30px) !important;
		}
	}

	.bottom{
		transform: translateY(200px) !important;

		@include respond(1000){
			transform: translateY(0px) !important;
		}
	}
}

.pad-top{
	/*margin-top: 100px !important;*/
	padding-top: 500px !important;

	@include respond(1000){
		padding-top: 300px !important;
	}
}

@include respond(1000){
	.ns{
		display: none;
	}
}

.mobile-list{
	display: none;

	@include respond(1000){
		display: block;
		p{
			margin: 0.2px !important;
			line-height: 28.8px !important;
		}

		padding-bottom: 30px;
	}
}

.s3-eagle{
	h3{
		@include respond(1000){
			padding: 0 10%;
			font-size: 4px !important;
			padding-bottom: 60px;
		}
	}
}

.s4-eagle{
	

	@include respond(800){
		.top{
			padding: 50px !important;
		}
	}

	h3{
		@include respond(1400){
			width: 100% !important;
		}
	}

	.bottom-left{
		@include respond(1000){
			width: 100% !important;
		}
	}
	.bottom-right{
		@include respond(1000){
			width: 100% !important;

			border-left: 0.5px solid white !important;
			border-top: 0.5px solid rgba(112, 112, 112, 0.75);
		}
	}

	.bottom{
		@include respond(1000){
		padding-left: 0px !important;
		padding-right: 0px !important;
		}

		.language-div{
			@include respond(1000){
				flex-direction: column;
				div{
					width: 100%;
				}
			}
		}
	}


	
}

.s5-eagle{
	.content{
		@include respond(1000){
			flex-direction: column !important;
			.left{
				width: 100% !important;
				p{
					display: block !important;
				}
			}
			.right{
				width: 100% !important;
			}
		}
	}
}

.s6-eagle{
	.top{
		@include respond(1000){
			display: block !important;
		}
	}
}

.s7-eagle{
	height: auto !important;
	.stuff{
		@include respond(1000){
			display: block !important;
		}
		@include respond(800){
			transform:translateY(-110px) !important;
		}
	}
}

@include respond(775){
.s8-eagle{
	.b173{
		left: 50% !important;
		transform: translate(-50%, 50%) !important;
	}

	.right{
		left: 50% !important;
		transform: translate(-50%, 0%) !important;
		width:85% !important;
	}
}
}


.s12-eagle{
	.mobileOnly{
		display: none !important;
	}

	.videoContainer{
		width: 68.4% !important;
	}

	@include respond(1000){
		.image{
			display: block !important;
			object-fit: cover !important;
		}
	}

	@include respond(1000){
		.conImage{
			object-fit: cover !important;
		}

		.noDis{
			display: none !important;
		}

		.image{
			width: 100% !important;
		}

		.videoContainer{
			width: 100% !important;
		}

	}
}


.s10-eagle{
	
	@include respond(800){
		//padding-top: 200px !important;
	}

	@include respond(740){
		.top{
			//padding-top: 1000px !important;
		}

		.creativeFlex{
			margin-top: 200px !important;
			flex-direction: column;
			
			div{
				width: 100% !important;
			}
			padding-bottom: 7em;
		}

		.video-update{
			transform: translateY(-650px);
		}
	}
}

@include respond(750){
	.noDis{
		/*display: none !important;*/
	}
}

@include respond(750){
	.s10-eagle{
		.topNew{
			//padding-top: 200px !important;
		}
	}
}

.mobileTime{
	display: none;
}

.line2{
	height: calc(55% + 45px) !important;
}

@include respond(600){
	.line2{
		height: calc(48% + 45px) !important;
	}

	.cover{
		transform: translateY(-50px) !important;
	}

	.s1-eagle{
		margin-bottom: 20px !important;

		.b40-update{
			transform: translateY(-40px) !important;
		}
	}

	.s2-eagle{
		padding-bottom: 150px !important;

		.b20{
			font-size: 2rem !important;
		}
	}

	section.s3-eagle-update {
		padding-bottom: 600px !important;

		.b173{
			top: -80px !important;
			font-size: 5em !important;
		}

		.center {
			padding-top: 180px !important;

			img{
				width: 80% !important;
			}
		
		h3{
			font-family: Roboto;
			font-size: 35px !important;
			font-style: normal;
			font-weight: 900;
			line-height: 45px !important;
			letter-spacing: 0em;
			text-align: center;
			margin-top: 20px !important;
			margin-bottom: 300px !important;
		}
	}
	}

	.s4-eagle p.gotham{
		text-align: left !important;
		padding-left: 0px !important;
	}

	.s4-eagle{
		h3{
			font-size: 25px !important;
			font-style: normal;
			font-weight: 700;
			line-height: 35px !important;
			letter-spacing: 0em;
			text-align: left;
		}

		.top{
			padding: 30px !important;
		}

		img{
			max-width: 70%;
		}

		.bottom-left{
			padding-bottom: 300px !important;
		}

		.bottom-right{
			padding-bottom: 150px !important;
		}

			padding: 0% 5% !important;

		.bottom-update{
			h3{
				margin-bottom: 0px !important;
				transform: translateY(-80px) !important;
			}


		}
			
		.b173{
			font-size: 5rem !important;
		}
	}

	.vid-width{	
		
		iframe{
			width: 90% !important;
			height: auto !important;
			margin: 5% !important;
		}
	}

	.mobile-list{
		padding-left: 7px;
	}

	.mobileTime{
		display: block;
		background-color: #19283F;
		width: 100%;
		h4{
			width: 100%;
			text-align: center;
			font-family: "Gotham A", sans-serif;
				font-size: 25px !important;
				font-style: normal;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0em;
				text-align: left;
				color: white;
				padding: 30px 0px;

		}
	}

	.s5-eagle{
		padding-bottom: 80px !important;

		.left{
			p{
				text-align: left !important;
			}
		}
	}

	.s6-eagle-update{
		padding-bottom: 0px !important;

		.b58{
			margin-left: 0px !important;
			margin-right: 0px !important;
			width: 100% !important;
		}
	}

	.s6-eagle-update .top{
		padding-top: 40px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;


		.b58{
			/*font-family: Lapture;*/
			font-size: 25px !important;
			font-style: normal;
			font-weight: 700;
			line-height: 32px !important;
			letter-spacing: 0em;
			text-align: center;
			transform: translateY(20px) !important;
		}
	}

	.s7-eagle{
		padding-left: 10px !important;
		padding-right: 10px !important;

		.stuff{
			transform: translateY(-100px) !important;
		}
	}

	.s8-eagle{
		.b173{
			font-size: 70px !important;
			font-weight: 700;
			line-height: 98px !important;
			letter-spacing: 0em;
			text-align: left !important;
			top: -60px !important;
			left: 0% !important;
    		transform: translate(7%, 50%) !important;
		}

		.right-upgrade{
			width: 100% !important;

			.b40{
				text-align: left !important;
			}
		}

		.right a {
			transform: translate(-43%, -2%) !important;
		}
	}

	.s9-eagle{
		.center-update{
			padding-top: 80px !important;
			padding-bottom: 40px !important;

			.b58{
				/*text-align: left !important;*/
				margin-bottom: 0px !important;

				
			}
		}

		.center{
			padding-bottom: 40px !important;
		}
	}


	.s10-eagle{
		margin-top: 300px !important;

		.top{
			padding-top: 800px !important;
		}
	}

	.creativeFlex{
		padding: 40px !important;
	}

	.video-update{
		font-size: 50px !important;
		line-height: 50px !important;
		letter-spacing: 0em;
		text-align: left;
		transform: translateY(-550px) !important;

	}

	.s10-eagle .topNew{
		//padding-top: 40px !important;

		.b173{
			font-size: 70px !important;;
			line-height: 98px !important;
			bottom: -240px !important;
		}
	}

	.pad-top {
		padding-top: 29em !important;
	}

	.marginBottom img{
		margin-bottom: 0px !important;
	}

	.marginBottom{
		margin: 0 auto -450px !important;
	}
	
	main.case-study .s2-eagle div.bottom-content div.story h2{
		transform: translateY(-27px) !important;
	}

	.s13-eagle{
		.line{
			//transform: translateY(-10px) !important;
		}

		.sub-text{
			margin-bottom: 10px !important;
			padding-top: 2px !important;
		}
	}
}



main.case-study section.s2-eagle .line .play{
	transition: background-color 0.5s ease;
	&:hover{
		background-color: #1BB1DE; 
	}
	/*border: 3px solid #1BB1DE !important;*/
}

.testPlayRight:hover{
	cursor: pointer;
}

.testPlayLeft:hover{
	cursor: pointer;
}

.playButton:hover{
	cursor: pointer;
}

.photography-slider{
	margin-bottom: 20px;
	z-index: 4;
	overflow: visible;
	/*min-height: 400px;*/
}

.slick-prev{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: #0074A8;
	padding: 20px 40px;
	color: #0074A8;
	font-size: 0px;
	border: none;
	background-image: url("https://driftingcreatives.com/wp-content/themes/drift-2019/images/case-studies/eagle-metal/white-arrow.svg");
	background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

.slick-next{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #0074A8;
	text-decoration: none;
	padding: 20px 40px;
	color: #0074A8;
	font-size: 0px;
	border: none;
	z-index: 5;
	background-image: url("https://driftingcreatives.com/wp-content/themes/drift-2019/images/case-studies/eagle-metal/white-arrow.svg");
	background-repeat: no-repeat;
  background-position: center;

}

main.case-study div.case-study-content.eagle .s9-eagle .bottom img{
	z-index: 5 !important;
	height: 100% !important;
	overflow: visible;
	/*min-height: 400px;*/

	/*margin-bottom: 0px;*/
}


.desktop-images{
	@include respond(600){
		display: none !important;
	}
}

.desktop-images1{
	@include respond(1000){
		display: none !important;
	}
}

.mobile-images{
	display: none !important;

	@include respond(600){
		display: block !important;
	}
}

.mobile-images1{
	display: none !important;

	@include respond(1000){
		display: block !important;
	}
}

.mobile-images2{
	display: none !important;

	@include respond(500){
		display: block !important;
	}
}

@include respond(500){
	.noDis2 img{
		//display: none !important;
	}
}

.phone-slider{
	position: relative;
	width: 100%;
	height: auto;

	.slick-prev{
		display: none !important;
	}

	.slick-next{
		display: none !important;
	}
}

content.eagle section.s4-eagle p.gotham{
	text-align: left !important;
}

content.eagle section.s4-eagle .white-box h3{
	text-align: left !important;
}

div.case-study-content.eagle .s4-eagle .white-box{
	text-align: left !important;
}

.margin-change{
	margin-bottom: 50px !important
}

.language-bottom{
	margin-bottom: 25px !important;
}

content.eagle .s5-eagle .content .left p{
	text-align: left !important;
}

.s6-eagle .left{
	p{
		text-align: left !important;
	}
}

.wider-class{
	width: 90% !important;
}

.leftAlign{
	text-align: left !important;
}

.bottom-left{
	/*@include respond(900){
		position: absolute;
		top: 0;
		left: 0;
	}*/

	//padding-bottom: 300px;

	@include respond(900){
		.space{
			padding-bottom: 150px;
		}
		img{
			//margin-top: 100px !important;
			transform: translateX(-50%) translateY(-40%) !important;
		}
	}

	@include respond(600){
		.space{
			padding-bottom: 100px;
		}
		img{
			//margin-top: 100px !important;
			transform: translateX(-50%) translateY(-40%) !important;
		}
	}

	@include respond(400){
		.space{
			padding-bottom: 50px;
		}
		img{
			//margin-top: 100px !important;
			transform: translateX(-50%) translateY(-40%) !important;
		}
	}
}

@include respond(760){
	.s7-eagle {
		height: 200px !important;
	}

	.s8-eagle .b173{
		left: 30% !important;
	}

	.s8-eagle .right-upgrade {
		width: 100% !important;
	}

	.s8-eagle .right{
		transform: translate(0%, 0%) !important;
		left: 2% !important;

		h3{
			text-align: left !important;
		}
	}

	.case-study-content.eagle .s8-eagle{
		text-align: left !important;
	}
}

@include respond(600){
	.s7-eagle {
		height: auto !important;
	}

	.case-study-content.eagle .s8-eagle{
		//text-align: left !important;
		
	}

	.s8-eagle .right a{
		transform: translate(0%, 0%) !important;
	}

	.s8-eagle .b173{
		left: 0% !important;
	}
}

.eagle .s9-eagle .center{
@include respond(900){
	padding-bottom: 40px !important;
}

@include respond(500){
	padding-bottom: 120px !important;
}
}

@include respond(900){
	.space-bottom{
		margin-top: 40px;
	}
}

@include respond(600){
	.space-bottom{
		margin-top: 0px;
	}
}

@include respond(640){
	.video-update{
		line-height: 70px;
	}
}

.morepadding-top{
	padding-top: 15px;
}

@include respond(1500){
	.video-update{ 
		display: none !important;
	}
}

@include respond(1150){
	.s10-eagle .topTaller {
		height: 725px !important;
	}
}

//shift over photography text

@include respond(960){
	.s10-eagle .topTaller {
		height: 925px !important;
	}
}

@include respond(760){
	.s10-eagle .topTaller {
		height: 1100px !important;
		padding-top: 0px !important;
	}
}

@include respond(740){
	.s10-eagle .topTaller {
		height: 925px !important;
	}
}

@include respond(645){
	.s10-eagle .topTaller {
		height: 1100px !important;
	}
}

@include respond(600){
	.s10-eagle .topTaller {
		height: 725px !important;
	}
}

.s9-eagle .center h3{
	@include respond(1200){
		width: 90% !important; 
	}
}

.s9-eagle.s9-eagle-update.pad-top {
	@include respond(1300){
		padding-top:5px !important;
	}
}

.s9-blue .bottom {
	@include respond(1300){
		transform:translateY(30px) !important;
		margin:0 auto 30px !important;
	}
}

main.case-study div.case-study-content.eagle section.s4-eagle .bottom {
	@include respond(1300){
		padding-left:0;
		padding-right:0;
	}
}

.s10-eagle-update-2 {
	.topNew {
		@include respond(600){
			padding-top:290px !important;
		}
	}
}

.s10-eagle-update{
	position: relative;
	.hide-it-soon {
		@include respond(1500){
			display:none;
		}
	}
	.creativeFlex {
		@include respond(1500){
			position:relative !important;
			margin-top:0 !important;
		}
		h2 {
			@include respond(1500){
				display:none !important;
			}
		}
	}
	.topTaller {
		position:relative;
		@include respond(1500){
			height:unset !important;
			padding-bottom:50%;
		}
		@include respond(1200){
			padding-bottom:65%;
		}
		@include respond(800){
			padding-bottom:85%;
		}
		@include respond(640){
			padding-bottom:100%;
		}
		@include respond(600){
			padding-bottom:60%;
		}
		@include respond(500){
			padding-bottom:70%;
		}
		@include respond(400){
			padding-bottom:80%;
		}
		h2 {
			@include respond(1500){
				bottom: 30px !important;
			    top: unset !important;
			    z-index: 9999999;
			    position: absolute;
			    transform: unset !important;
			    font-size: 10rem !important;
			    display:block !important;
			    @include respond(1200){
					font-size:7rem !important;
					line-height:1 !important;
				}
				@include respond(500){
					font-size:6rem !important;
				}
				@include respond(400){
					font-size:5rem !important;
				}
			}
		}
		.show-it-soon {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			object-fit:cover;
			display:none;
			@include respond(1500){
				display:block;
			}
		}
	}
}

main.case-study div.case-study-content.eagle .s8-eagle {
	@include respond(768){
		padding:190px 30px 52vw;
	}
	@include respond(600){
		padding:110px 30px 52vw;
	}
}

main.case-study div.case-study-content.eagle .s8-eagle .top h2.b173 {
	@include respond(768){
		top:15px;
	}
}

main.case-study div.case-study-content.eagle .s6-eagle {
	@include respond(600){
		padding-bottom:165px !important;
	}
}