.mobile-tradeshow,
.photography-mobile-slider,
.language-mobile,
.mobile-statement {
    display:none;
}

.language-mobile,
.photography-mobile-slider {
    display:none !important;
}

main.case-study{
    section.s1-eagle {
        p.gotham {
            text-align: center;
            margin-bottom: 30px;
            color: #969696;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    section.s2-eagle {
        background:#18283F;
        p {
            margin-bottom:20px;
        }
        .img-cover {
            position:relative;
        }
        .line {
            position:absolute;
            width:2px;
            height:calc(25% + 45px);
            left:50%;
            top:-120px;
            transform:translateX(-50%);
            background:#1BB1DE;
            z-index:5;
            .play {
                border:2px solid #1BB1DE;
                width:75px;
                height:75px;
                border-radius:50%;
                position:absolute;
                bottom:-75px;
                left:50%;
                transform:translateX(-50%);
                display:flex;
                justify-content:center;
                align-items:center;
                text-transform:uppercase;
                font-size:14px;
                color:#1BB1DE;
                cursor:pointer;
                overflow:hidden;
                &:after {
                    content:"Play";
                    position:absolute;
                    left:50%;
                    top:50%;
                    transform:translateX(-50%) translateY(-50%);
                    transition:all 0.5s ease;
                    z-index:2;
                }
                &:before {
                    content:"";
                    position:absolute;
                    left:50%;
                    top:50%;
                    transform:translateX(-50%) translateY(-50%);
                    border-radius:50%;
                    width:0px;
                    height:0px;
                    transition:all 0.5s ease;
                    background:#1BB1DE;
                    z-index:1;
                }
                &:hover {
                    color:#fff;
                    &:before {
                        height:150%;
                        width:150%;
                    }
                }
            }
        }
    }
    div.case-study-content.eagle{
        // .side-nav-container {
        //     transform-origin:right top;
        //     padding:unset;
        //     right:0;
        //     top:25px;
        //     width:25px;
        //     height:25px;
        //     overflow:visible;
        //     .side-nav.bottom {
        //         padding: 50px 20px 20px;
        //         background: #fff;
        //         white-space: nowrap;
        //         position:absolute;
        //         left:0;
        //         top:0;
        //         ul li {
        //             padding:0 10px;
        //             margin:0 15px;
        //         }
        //     }
        // }
        .side-nav-container {
            // right:-248px;
            // top:300px;
            right:0px;
            top:0px;
            width:96px;
            height:345px;
            transform:unset;
            padding:unset;
            .side-nav {
                transform:rotate(90deg);
                position:absolute;
                left:37px;
                top:21px;
                width:25px;
                height:25px;
            }
        }
        section.s3-eagle{
            padding-bottom:65%;
            position:relative;
            div.top{
                display: flex;
                justify-content: space-between;
                h2.b173 {
                    position:absolute;
                    z-index:1;
                    top:-102px;
                    color:#707070;
                    -webkit-text-stroke-color:#707070;
                }
            }
            div.center {
                position:absolute;
                top:50%;
                left:50%;
                transform:translateX(-50%) translateY(-50%);
                z-index:1;
                text-align:center;
                width: 100%;
                max-width: 1000px;
                img {
                    width:386px;
                    height:auto;
                }
                h3 {
                    color:#fff;
                    margin:60px 0 0;
                    font-family:'Gotham', sans-serif;
                    position:relative;
                    line-height:1.5;
                    text-transform:none;
                    font-size:60px;
                    span {
                        color:#2772A9;
                    }
                }
            }
        }
        section.s4-eagle {
            background:#F6F7FA;
            padding:0 10%;
            position:relative;
            p.gotham {
                margin-bottom: 15px;
                color: #969696;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
            }
            .white-box {
                width:100%;
                background:#fff;
                display:flex;
                flex-wrap:wrap;
                color:#333333;
                transform:translateY(-160px);
                h3 {
                    font-size:40px;
                    margin:0;
                    width:50%;
                }
                p.sub-text {
                    color:#454545;
                    font-size:16px;
                    text-transform:uppercase;
                    margin:0;
                    position:absolute;
                    left:60px;
                    top:40px;
                }
                .top {
                    width:100%;
                    padding:110px 130px;
                    border-bottom:0.5px solid rgba(112,112,112,0.75);
                }
                .bottom-left {
                    width:50%;
                    padding-bottom:40%;
                    position:relative;
                    img {
                        width:285px;
                        height:auto;
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
                .bottom-right {
                    width:50%;
                    padding-bottom:40%;
                    position:relative;
                    border-left:0.5px solid rgba(112,112,112,0.75);
                    img {
                        width:75%;
                        height:auto;
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
            }
            .bottom {
                padding:30px 126px 220px;
                h3 {
                    font-size:40px;
                    color:#333333;
                    position:relative;
                    margin-bottom:110px;
                    &:after {
                        content:"";
                        background:#F17B21;
                        width:60px;
                        height:5px;
                        position:absolute;
                        left:5px;
                        bottom:-20px;
                    }
                }
                div.language {
                    display:flex;
                    justify-content:space-between;
                    flex-wrap:wrap;
                    div {
                        width:30%;
                        margin-bottom:60px;
                        strong {
                            font-size:20px;
                            text-transform:uppercase;
                        }
                    }
                }
            }
            .bottom-text {
                position:absolute;
                bottom:30px;
                right:0;
            }
        }
        .s5-eagle {
            background:#fff;
            padding:194px 0;
            position:relative;
            .side {
                background:#18283F;
                width:164px;
                height:100%;
                position:relative;
                position:absolute;
                left:0;
                top:0;
                img {
                    width:30px;
                    height:auto;
                    position:absolute;
                    bottom:98px;
                    left:50%;
                    transform:translateX(-50%);
                }
                p {
                    color:#fff;
                    font-size:40px;
                    font-weight:900;
                    margin:0;
                    transform:rotate(-90deg) translateX(-50%);
                    white-space:nowrap;
                    position:absolute;
                    left:50%;
                    bottom:90px;
                    transform-origin:bottom;
                    width:25px;
                    height:25px;
                    display: flex;
                    align-items: center;
                }
            }
            .content {
                display:flex;
                padding:0 10%;
                justify-content:space-between;
                margin-left:164px;
                .left {
                    width:40%;
                    p {
                        margin-bottom:20px;
                    }
                    img {
                        width:285px;
                        height:auto;
                        margin-bottom:65px;
                    }
                }
                .right {
                    width:50%;
                    img {
                        width:100%;
                        height:auto;
                    }
                }
            }
            .brochure {
                width:70%;
                padding-bottom:37%;
                background:red;
                margin:0 auto;
                transform:translateY(200px);
            }
        }
        .s6-eagle {
            background:#F6F7FA;
            padding-bottom:550px;
            overflow-x:hidden;
            .top {
                padding:250px 0 0;
                position:relative;
                text-align:center;
                // img {
                //     position:absolute;
                //     right:-320px;
                //     bottom:-500px;
                //     opacity:0.3;
                // }
                h2 {
                    width:75%;
                    margin:0 auto;
                }
            }
            .content {
                display:flex;
                .left {
                    margin-right:40px;
                    text-align:right;
                    width:60%;
                    .tradeshow-slider {
                        position:relative;
                        img {
                            width:100%;
                            height:auto;
                        }
                        button.slick-prev {
                            border:0;
                            -webkit-appearance:0;
                            border-radius:0;
                            transform:rotate(180deg);
                            background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                            background-size:24px;
                            position:absolute;
                            left:0px;
                            font-size:0;
                            width:87px;
                            height:44px;
                            bottom:55px;
                            z-index:5;
                        }
                        button.slick-next {
                            border:0;
                            -webkit-appearance:0;
                            border-radius:0;
                            background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                            background-size:24px;
                            position:absolute;
                            right:0px;
                            font-size:0;
                            width:87px;
                            height:44px;
                            bottom:55px;
                            z-index:5;
                        }
                    }
                    img {
                        margin-bottom:40px;
                    }
                }
                .right {
                    .text {
                        width:398px;
                        margin:145px auto;
                        h3 {
                            margin-bottom:15px;
                        }
                    }
                }
            }
        }
        .s7-eagle {
            background:#18283F;
            padding:0 17%;
            .stuff {
                transform:translateY(-240px);
                h3 {
                    padding-left:45px;
                }
                .splash-slider {
                    position:relative;
                    img {
                        width:100%;
                        height:auto;
                    }
                    button.slick-prev {
                        border:0;
                        -webkit-appearance:0;
                        border-radius:0;
                        transform:rotate(180deg);
                        background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                        background-size:34px;
                        position:absolute;
                        left:-90px;
                        font-size:0;
                        width:124px;
                        height:63px;
                        bottom:35px;
                        z-index:5;
                    }
                    button.slick-next {
                        border:0;
                        -webkit-appearance:0;
                        border-radius:0;
                        background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                        background-size:34px;
                        position:absolute;
                        right:-90px;
                        font-size:0;
                        width:124px;
                        height:63px;
                        bottom:35px;
                        z-index:5;
                    }
                }
            }
        }
        .s8-eagle {
            display:flex;
            position:relative;
            padding-bottom:65%;
            .top{
                display: flex;
                justify-content: space-between;
                h2.b173 {
                    position:absolute;
                    z-index:1;
                    top:-102px;
                    color:#707070;
                    -webkit-text-stroke-color:#707070;
                }
            }
            .right {
                width:35%;
                position:absolute;
                right:10%;
                top:135px;
                h3 {
                    color:#fff;
                    line-height:1.4;
                }
                a {
                    margin-top:45px;
                    //width:245px;
                    z-index:5;
                    color:#fff;
                    font-size:15px;
                    &:after {
                        background:#0B1627;
                    }
                }
            }
        }
        .s9-eagle {
            .top {
                text-align:center;
                img {
                    margin:-635px auto 0;
                    position:relative;
                    z-index:1;
                    width:1080px;
                    height:auto;
                    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
                    -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
                    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
                }
            }
            .center {
                padding:230px 0 150px;
                text-align:center;
                display:flex;
                justify-content:center;
                align-items:center;
                flex-wrap:wrap;
                width:100%;
                max-width:1000px;
                margin:0 auto;
                h3 {
                    font-size:40px;
                    width:100%;
                    margin-bottom:60px;
                }
            }
            .bottom {
                width:100%;
                max-width:1360px;
                margin:0 auto -300px;
                .image-row {
                    display:flex;
                    justify-content:space-between;
                    .image-container {
                        padding:15px;
                    }
                }
                img {
                    width:100%;
                    height:auto;
                    z-index:1;
                    position:relative;
                }
            }
        }
        .s10-eagle {
            padding:0;
            position:relative;
            .top {
                position:relative;
                background:#18283F;
                height:525px;
                h2.b173 {
                    width:100%;
                    padding-left:7%;
                    position:absolute;
                    left:0;
                    z-index:1;
                    bottom:-250px;
                    color:#707070;
                    -webkit-text-stroke-color:#707070;
                }
            }
            .bottom {
                position:relative;
                padding-bottom:66%;
                .text {
                    position:absolute;
                    right:10%;
                    bottom:250px;
                    width:30%;
                    h3 {
                        color:#fff;
                        line-height:1.4;
                    }
                }
            }
        }
        .s11-eagle {
            display:flex;
            padding:260px 10%;
            justify-content:space-between;
            .left {
                width:35%;
                h3 {
                    margin-bottom:20px;
                }
            }
            .right {
                width:60%;
                margin-top:80px;
                p.sub-text {
                    text-transform:uppercase;
                    font-size:20px;
                    color:#969696;
                    margin-bottom:15px;
                }
                .services {
                    display:flex;
                    justify-content:space-between;
                    div {
                        width:30%;
                        text-align:center;
                        img {
                            height:auto;
                            width:122px;
                            height:89px;
                            object-fit:contain;
                            margin:15px 0;
                            // &.camera {
                            //     width:83px;
                            // }
                            // &.camera-drone {
                            //     width:122px;
                            // }
                            // &.portrait {
                            //     width:89px;
                            // }
                        }
                    }
                }
            }
        }
        .s12-eagle {
            display:flex;
            flex-wrap:wrap;
            padding-bottom:112px;
            div.image {
                padding:15px;
                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
                &.image-1 {
                    width:31.6%;
                }
                &.image-2 {
                    width:68.4%;
                }
                &.image-3 {
                    width:100%;
                    position:relative;
                    button.slick-prev {
                        border:0;
                        -webkit-appearance:0;
                        border-radius:0;
                        transform:rotate(180deg);
                        background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                        background-size:24px;
                        position:absolute;
                        left:0px;
                        font-size:0;
                        width:87px;
                        height:44px;
                        bottom:20px;
                        z-index:5;
                    }
                    button.slick-next {
                        border:0;
                        -webkit-appearance:0;
                        border-radius:0;
                        background:url(../images/white-arrow.svg) center no-repeat #1BB1DE;
                        background-size:24px;
                        position:absolute;
                        right:0px;
                        font-size:0;
                        width:87px;
                        height:44px;
                        bottom:20px;
                        z-index:5;
                    }
                }
            }
        }
        .s13-eagle {
            text-align:center;
            padding-bottom:145px;
            .line {
                width:2px;
                height:250px;
                background:#1898BF;
                margin:0 auto 35px;
            }
            .sub-text {
                font-size:18px;
                text-transform:uppercase;
                color:#969696;
                margin-bottom:30px;
            }
            .dot-link {
                font-size:80px;
                text-transform:unset;
            }
        }
    }
}