main.case-study.grub{
    .img-cover{
        box-shadow:3px 3px 10px -5px rgba(0,0,0,0.17);
    }
    section.s2-grub{
        background: linear-gradient(
           #1a1a1a 25px,
           rgb(41, 41, 41) 1px
        );
        background-size: 100% 27px;
    }
    div.case-study-content{
        .side-nav-container{
            height: 480px;
        }
        .s3-grub{
            padding-top: 100px;
            padding-bottom: 260px;
            div.top{
                display: flex;
                justify-content: space-between;
                h2{
                    span{
                        margin-left: 190px;
                    }
                }
                div.right{
                    .img-cover{
                        width: 560px;
                        padding-bottom: 91%;
                        z-index: 1;
                        transform: translateY(-50%);
                        box-shadow: none;
                    }
                }
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                div.left{
                    width: 45%;
                    .img-cover{
                        padding-bottom: 81%;
                        box-shadow: none;
                    }
                }
                div.right{
                    width: 36%;
                    .img-cover{
                        padding-bottom: 100%;
                        box-shadow: none;
                    }
                }
              
            }
        }
        .s4-grub{
            background: #32B896;
            display: flex;
            justify-content: space-between;
            position: relative;
            &:after{
                content:'';
                width: 100%;
                height: 175px;
                position: absolute;
                bottom:0;
                left:0;
                background: white;
                z-index: 0;
            }
            div.left{
                width: 45%;
                transform:translateY(-4.5%);
                position: relative;
                z-index: 1;
                h2{
                  margin-bottom: 100px;  
                }
                .img-cover{
                    padding-bottom: 214%;
                    margin-bottom: 70px;
                    &:last-child{
                        padding-bottom: 90%;
                        margin-bottom: 0;
                    }
                }
            }
            div.right{
                width: 45%;
                transform:translateY(-40px);
                .img-cover{
                    padding-bottom: 274% ;
                }
            }
        }
        .s5-grub{
            padding-top: 290px;
            padding-bottom: 290px;
            h2{
                text-align: center;
                line-height: 1.3;
                max-width: 1274px;
                margin:auto;
            }
        }
        .s6-grub{
            position: relative;
            div.hoverbox{
                position: absolute;
                z-index: 2;
                height: 200px;
                top: 35%;
                left:0;
                width: 100%;
                .on-hover{
                    position: absolute;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    top: 35%;
                    right:13%;
                    transform: rotate(-50deg);
                    opacity: 0;
                    transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
                    &:after{
                        content: '';
                        position: absolute;
                        left: -39px;
                        top: -3px;
                        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        opacity: 0;
                        background: url(http://driftsandbox.wpengine.com/wp-content/themes/drift-2019/images/case-studies/grub/arrow.png)center no-repeat;
                        background-size: cover;
                        width: 54px;
                        height: 22px;
                    }
                    p{
                        &:first-child{
                            transform: rotate(-17deg) translateY(0);
                        }
                        &:nth-child(2){
                            transform: translateX(7px) translateY(-25px) rotate(-24deg);
                            transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        }
                        &::nth-child(3){
                            transform: translateX(-7px) translateY(-56px) rotate(-35deg);
                            transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            margin-top: 5px;
                        }
                    }
                }
                &:hover .on-hover{
                    transform: rotate(0deg);
                    opacity: 1;
                    &:after{
                        left: -60px;
                        top: 7px;
                        opacity: 1;
                    }
                    p{
                        &:first-child{
                            transform: rotate(-17deg) translateY(0px);
                        }
                        &:nth-child(2){
                            transform: translateX(36px) translateY(0px) rotate(-4deg);
                        }
                        &:nth-child(3){
                            transform: translateX(10px) translateY(0px) rotate(22deg);
                        }
                    }
                }
            }
            &:before{
                position: absolute;
                bottom: 0;
                left: 0;
                content:'';
                width: 100%;
                height: 175px;
                background:#F6F7FA ;
                z-index: 0;
            }
            .img-cover{
                position: relative;
                z-index: 1;
                padding-bottom: 272%;
                width:80%;
                margin:auto;
            }
        }
        .s7-grub{
            background:#F6F7FA;
            padding-top: 260px;
            padding-bottom: 135px;
            h2{
                text-align: center;
                position: relative;
                margin-bottom: 234px;
                &:before{
                    content: '';
                    position: absolute;
                    left:50%;
                    top:calc(100% + 30px);
                    width: 2px;
                    background: #32B896;
                    height:335px;
                    z-index: 1;

                }
            }
            .img-cover{
                padding-bottom: 65%;
            }
            .bottom{
                display: flex;
                align-items: center;
                transform: translateX(3%) translateY(-10%);
                .text{
                    margin-right: 125px;
                    width:34%;
                    position: relative;
                    .number{
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #dddddd;
                        font-size: 173px;
                        position: absolute;
                        top:-80px;
                        left:0;
                        line-height: 1;
                    }
                    h3{
                        margin-left: 100px;
                        position: relative;
                        z-index: 1;
                    }
                }
                .image{
                    width: 16%;
                    margin-left:auto ;
                    margin-right: 65px;
                    .img-cover{
                        padding-bottom:187% ;
                    }
                    
                    &:last-child{
                        width:30%;
                        margin:0;
                        .img-cover{
                            padding-bottom: 134%;
                        }
                    }
                }
            }
        }
        .s8-grub{
            background:#F6F7FA;
            padding-bottom: 375px;
            h2{
                text-align: center;
                margin-bottom: 180px;
            }
            .list{
                display: flex;
                justify-content: space-around;
                
                .item{
                    max-width: 375px;
                    position: relative;
                    .number{
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #dddddd;
                        font-size: 173px;
                        position: absolute;
                        top:-80px;
                        left:0;
                        line-height: 1;
                    }
                    .text{
                        margin-left: 100px;
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }
        .s9-grub{
            .line{
                background: #32B896;
            }
        }
    }
}