main.midsouth-2 {
	section.s2-midSouth {
		padding-bottom:240px !important;
		.bottom-content {
			.story {
				h2 {
					width:40%;
					max-width:unset;
				}
				.story-content {
					width:50%;
					max-width:unset;
				}
			}
			ul {
				columns:unset;
				display:flex;
				flex-wrap:wrap;
				li {
					width:20%;
				}
			}
		}
	}
	.case-study-content {
		section.case-study-s3.s3-midSouth {
			padding-bottom:0;
			.bottom {
				transform:translateY(-185px);
			}
		}
	}
}