main.case-study section.last {
	p {
		text-transform: uppercase;
	}
	.next a {
		font-weight: 700;
	}
}
main.case-study.midSouth {
	.img-cover {
		box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.17);
	}
	section.s2-midSouth {
		background: url(../images//case-studies/midSouth/midsouthbg.svg) no-repeat, #0069a7;
		background-size: cover;
		padding-bottom: 400px;
		.bottom-content {
			.story {
				.story-content {
					p {
						margin-bottom: 60px;
					}
					.button-container {
						a {
							width: 270px;
						}
						a:after {
							background: #112838;
						}
					}
				}
			}
		}
	}

	section.s3-midSouth {
		background: #f6f7fa;
		padding-bottom: 250px;
		.top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 180px;
			h2 {
				padding-top: 150px;
			}
			.img-container {
				transform: translateY(-130px);
			}
		}
		.bottom {
			background: white;
			display: flex;
			flex-wrap: wrap;
			.bottom-top {
				width: 100%;
				padding: 113px 136px 80px;
				display: flex;
				border-bottom: solid 1px #707070;
				.-left {
					max-width: 707px;
					p {
						line-height: 1.3;
					}
				}
			}
			.bottom-left,
			.bottom-right {
				width: 50%;
				position: relative;
				.tag {
					position: absolute;
					top: 30px;
					left: 50px;
				}

				.img-container {
					padding: 250px 150px;
					text-align: center;
					.img-cover {
						box-shadow: none;
						max-width: 470px;
						margin: 0 auto;
					}
				}
			}
			.bottom-left {
				border-right: solid 1px #707070;
				.img-container .img-cover {
					padding-bottom: 20%;
				}
			}
			.bottom-right {
				.img-container .img-cover {
					padding-bottom: 12.5%;
				}
			}
		}
	}
	section.s4-midSouth {
		background: #f6f7fa;
		display: flex;
		justify-content: space-around;
		padding-bottom: 200px;
		.left {
			width: 530px;
			h2 {
				margin-bottom: 30px;
			}
		}
		.right {
			width: 670px;
			.img-cover {
				box-shadow: none;
				padding-bottom: 63%;
			}
		}
	}
	section.s5-midSouth {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin-bottom: 330px;
		.segment {
			width: 50%;
			background: red;
			padding: 180px 150px;
			display: flex;
			.img-cover {
				margin: auto;
				box-shadow: none;
				padding-bottom: 19.2%;
				width: 100%;
			}
			&.internet {
				background: url(../images/case-studies/midSouth/internetbg.png) no-repeat, #ed553b;
				background-size: cover;
			}
			&.water {
				background: url(../images/case-studies/midSouth/waterbg.png) no-repeat, #213c7f;
				background-size: cover;
			}
			&.solar {
				background: url(../images/case-studies/midSouth/solarbg.png) no-repeat, #ffc20e;
				background-size: cover;
			}
			&.vehicle {
				background: url(../images/case-studies/midSouth/vehiclebg.png) no-repeat, #007a3a;
				background-size: cover;
			}
		}
	}
	section.s6-midSouth {
		position: relative;
		.top {
			padding-left: 7%;
			padding-right: 7%;
			.img-cover {
				padding-bottom: 46%;
				box-shadow: none;
			}
		}
		.image-row {
			position: relative;
			z-index: 1;
			.left,
			.right {
				padding: 20px;
				position: relative;
			}
		}
		.color-block {
			z-index: 0;
			position: absolute;
			width: 100%;
			background: #f6f7fa;
			height: 250px;
			bottom: 0;
			left: 0;
		}
	}

	section.s7-midSouth {
		padding-top: 460px;
		background: #f6f7fa;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		margin-bottom: 440px;
		.top {
			display: flex;
			justify-content: space-between;
			padding: 0 10%;
			margin-bottom: 115px;
			p {
				max-width: 600px;
			}
		}
		.bottom {
			.img-cover {
				box-shadow: none;
				padding-bottom: 72%;
			}
		}
		.color-block {
			position: absolute;
			bottom: 0;
			height: 250px;
			background: white;
			width: 100%;
		}
	}

	section.s8-midSouth {
		margin-bottom: 400px;
		h2 {
			text-align: center;
			margin: 0 auto;
			max-width: 1363px;
		}
	}
	section.s9-midSouth {
		background: #112838;
		padding-top: 215px;
		position: relative;
		.color-block {
			width: 100%;
			background: white;
			height: 200px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
		h2 {
			text-align: center;
			margin-bottom: 200px;
			position: relative;
			&:after {
				content: '';
				background: #0069a7;
				width: 2px;
				height: 330px;
				position: absolute;
				left: 50%;
				top: 100%;
				transform: translateX(-50%);
				z-index: 2;
			}
		}
		.image-row {
			position: relative;
			z-index: 1;
		}
		.img-container {
			padding: 20px;
		}
	}
	section.s10-midSouth {
		padding-top: 20px;
		margin-bottom: 360px;
		.image-row {
			.left,
			.right {
				padding: 20px;
			}
		}
	}
	section.s11-midSouth {
		margin-bottom: 432px;
		h2 {
			margin-bottom: 150px;
		}
		.img-cover {
			padding-bottom: 69%;
			box-shadow: none;
		}
	}
	section.s12-midSouth {
		background: #112838;
		padding-top: 190px;
		padding-bottom: 90px;
		position: relative;
		.top {
			display: flex;
			padding: 0 10%;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 130px;
			.left,
			.right {
				flex: 1;
			}
			.left {
				margin-right: 20px;
			}
			.right {
				color: white;
				max-width: 530px;
			}
		}
		.bottom {
			position: relative;
			z-index: 1;
			.playline {
				position: absolute;
				left: 50%;
				height: 50%;
				transform: translate(-50%);
				z-index: 2;
				opacity: 0;
				transition: all ease .3s;
				pointer-events: none;
				&.active {
					opacity: 1;
				}
				.line {
					height: 90%;
					background: #1bb1de;
					width: 2px;
					margin: 0 auto;
				}
				.circle {
					text-align: center;
					border: solid 1px #1bb1de;
					border-radius: 100%;
					width: 80px;
					height: 80px;
					display: flex;
					transition: all ease .3s;
					cursor: pointer;
					p {
						margin: auto;
						color: white;
						text-transform: uppercase;
					}
					&:hover {
						background: #1bb1de;
					}
				}
			}
			.main-slider {
				position: relative;
				z-index: 0;
			}
			.navigation {
				position: absolute;
				width: 100%;
				bottom: 30px;
				left: 0;
				display: flex;
				justify-content: space-between;
				z-index: 1;

				.slider-prev,
				.slider-next {
					padding: 18px 45px;
					background: #1bb1de;
					cursor: pointer;
					&:before {
						color: white;
						display: block;
						font-size: 35px;
					}
				}
				.slider-prev:before {
					transform: rotate(180deg);
				}
			}
		}
		.color-block {
			position: absolute;
			background: white;
			z-index: 0;
			width: 100%;
			height: 200px;
			bottom: 0;
			left: 0;
		}
	}
	section.s13-midSouth {
		transform: unset;
		padding-bottom: 130px;
	}
}
