main.that-conference {
	section {
		padding: 0 7%;
	}

	.s1-that {
		.page-title {
			&__header {
				@include respond(768) {
					font-size: 7rem;
				}

				@include respond(640) {
					font-size: 5rem;
				}

				@include respond(500) {
					font-size: 4rem;
				}

				@include respond(400) {
					font-size: 3.5rem;
				}
			}

			&__superscript {
				@include respond(500) {
					font-size: 1.6rem;
				}
			}
		}
	}

	.s2-that {
		position: relative;

		@include respond(500) {
			padding: 0 15px;
		}

		.img-cover {
			padding-bottom: 54%;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 370px;
			background: $color-blue-drk;
			bottom: 0;
			left: 0;
			z-index: 0;

			@include respond(992) {
				height: 25rem;
			}

			@include respond(768) {
				height: 16rem;
			}

			@include respond(640) {
				height: 12rem;
			}

			@include respond(500) {
				height: 9rem;
			}
		}
	}

	.s3-that {
		@include paddingTopBottom(28, 8.8, 37.7, 17.4);
		background: $color-blue-drk;
		position: relative;
		overflow: hidden;
		.cs-story__header {
			@include respond(2000) {
				max-width: 65rem;
			}
		}

		.side-character {
			position: absolute;
			right: -10%;
			top: 35%;

			@include respond(2000) {
				right: -5%;
			}

			@include respond(1700) {
				right: -19%;
			}

			@include respond(1500) {
				top: 20%;
			}

			@include respond(1200) {
				bottom: -15rem;
				top: unset;
				right: -25%;
			}

			@include respond(992) {
				bottom: -27rem;
				transform: rotate(50deg);
				right: -10%;
			}

			@include respond(500) {
				bottom: 20%;
				transform: rotate(0) scale(.6);
				right: -47%;
			}

			@include respond(400) {
				right: -52%;
				transform: rotate(0) scale(.4);
			}
		}
	}

	.s4-that {
		padding: 0;

		.img-cover {
			padding-bottom: 50%;
			position: relative;

			&:before {
				content: '';
				background: rgba($color-blue-drk, .8);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
	}

	.s5-that {
		background: #f6f7fa;
		padding-bottom: 4rem;

		@include respond(640) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.s5-content {
			background: white;
			max-width: 160rem;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			transform: translateY(-16rem);

			@include respond(992) {
				transform: translateY(-8rem);
			}

			@include respond(768) {
				transform: unset;
			}
		}
	}

	.s6-that {
		background: #f6f7fa;
		padding-bottom: 24rem;

		@include respond(768) {
			padding: 10rem 0 16rem;
		}

		@include respond(500) {
			h3 {
				font-size: 2rem;
			}
		}

		.-row {
			max-width: 160rem;
			padding: 0 8rem;

			@include respond(1700) {
				padding: 0 3rem;
			}
		}
		.block-h-3col {
			&__columns {
				justify-content: flex-start;
			}
			&__column {
				margin-right: 10%;
				@include respond(1500) {
					margin-right: 0;
					max-width: 43rem;
					&:not(:last-child()) {
						margin-right: 1.5rem;
					}
				}
				@include respond(1200) {
					max-width: 55rem;
				}
			}
		}
	}

	.s7-that {
		padding: 0;

		.c-img-overlay__icon {
			color: #f74646;
		}
	}

	.s8-that {
		background: $color-blue-drk;
		padding: 14rem 0;
		position: relative;

		@include respond(1500) {
			padding: 10rem 0;
		}

		.b173 {
			position: absolute;
			left: 7%;
			top: -12rem;
			z-index: 2;

			@include respond(1500) {
				top: -4rem;
			}

			@include respond(992) {
				left: 5%;
			}
		}
	}

	.s9-that {
		padding: 20rem 0;

		@include respond(1500) {
			padding: 15rem 0;
		}

		@include respond(768) {
			padding: 8rem 0;
		}
	}

	.s10-that {
		padding: 10rem 0 32rem;

		@include respond(1500) {
			padding: 10rem 0 25rem;
		}

		@include respond(640) {
			padding: 10rem 0 14rem;
		}

		.line {
			position: absolute;
			width: 2px;
			height: 40rem;
			@include centerItem;
			top: -8rem;
			transform: translateX(-50%);
			background: $blue-lt;

			@include respond(1700) {
				height: 36rem;
			}

			@include respond(1500) {
				height: 30rem;
			}

			@include respond(1200) {
				height: 24rem;
			}

			@include respond(992) {
				height: 18rem;
			}

			@include respond(640) {
				height: 12rem;
				top: -4rem;
			}

			@include respond(500) {
				height: 11rem;
				top: -5rem;
			}

			.play {
				border: 2px solid $blue-lt;
				width: 75px;
				height: 75px;
				border-radius: 50%;
				position: absolute;
				bottom: -75px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				font-size: 14px;
				color: $blue-lt;
				cursor: pointer;
				overflow: hidden;

				&:after {
					content: "Play";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					transition: all 0.5s ease;
					z-index: 2;
				}

				&:before {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					border-radius: 50%;
					width: 0px;
					height: 0px;
					transition: all 0.5s ease;
					background: $blue-lt;
					z-index: 1;
				}

				&:hover {
					color: #fff;

					&:before {
						height: 150%;
						width: 150%;
					}
				}
			}
		}

		.page-title {
			@include respond(500) {
				padding: 0 4rem;

				&__superscript {
					font-size: 1.4rem;
					text-align: left;
				}
			}
		}
	}

	.s11-that {
		background: #f6f7fa;
		padding-top: 11rem;
		padding-bottom: 11rem;

		.b173 {
			margin-bottom: 9rem;
			padding-left: 4rem;

			@include respond(1700) {
				font-size: 15.3rem;
			}

			@include respond(992) {
				font-size: 8rem;
			}

			@include respond(768) {
				font-size: 6rem;
			}

			@include respond(640) {
				padding-left: 0;
				margin-bottom: 10rem;
			}

			@include respond(400) {
				font-size: 5.5rem;
			}
		}

		.cs-logo-compare {
			background: $white;

			&__top {
				padding-top: 10rem;
			}

			&__top-text {
				max-width: 72rem;
			}

			&__center:last-child {
				border-top: none;
				border-bottom: none;
			}
		}
	}

	.s12-that {
		padding-top: 25rem;

		padding-bottom: 25rem;

		@include respond(768) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}

		@include respond(500) {
			padding-top: 9rem;
			padding-bottom: 9rem;
		}

		&__content {
			display: flex;
			padding: 0 10%;
			justify-content: space-between;
			margin-bottom: 10rem;
			@include respond(2000) {
				justify-content: flex-start;
			}
			@include respond(1500) {
				padding: 0;
			}

			@include respond(992) {
				display: block;
			}
		}

		&__text {
			max-width: 45rem;

			@include respond(992) {
				max-width: unset;
			}
		}

		&__header {
			max-width: 73rem;
			margin-right: 6rem;
			@include respond(2000) {
				margin-right: 0;
			}
			@include respond(992) {
				margin-bottom: 3rem;
				max-width: unset;
				margin-right: 0;
			}
		}

		&__characters {
			padding: 0 5%;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			@include respond(1500) {
				padding: 0;
			}

			@include respond(768) {
				flex-wrap: wrap;
			}
		}

		&_character {
			@include respond(768) {
				width: 40%;
				margin: 0 auto 6rem;

				img {
					display: block;
					margin: 0 auto;
				}

				&:last-child {
					width: 60%;
					margin-bottom: 0;
				}
			}
		}

		&__character-year {
			text-align: center;
			margin-top: 3.5rem;

			&--right {
				margin-right: 6rem;

				@include respond(768) {
					margin-right: 0;
				}
			}
		}
	}

	.s13-that {
		background: $color-blue-drk;
		position: relative;
		padding-right: 3%;
		padding-bottom: 25rem;

		@include respond(2000) {
			padding-right: 7%;
		}

		@include respond(1700) {
			padding-left: 3%;
		}

		@include respond(1500) {
			padding-bottom: 15rem;
		}

		@include respond(640) {
			padding: 0;
		}

		&:before {
			z-index: 0;
			content: '';
			background: white;
			height: 85px;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.content {
			position: relative;
			z-index: 1;
		}

		.c-slideshow-caption_header {
			position: relative;

			h2 {
				span.b40 {
					color: white;
					position: absolute;
					bottom: 0;
					right: 5rem;

					@include respond(1200) {
						right: unset;
						left: 6rem;
						bottom: -5px;
					}
				}
			}
		}
	}

	.s14-that {
		padding-top: 39rem;
		padding-bottom: 39rem;

		@include respond(1200) {
			padding-top: 30rem;
			padding-bottom: 30rem;
		}

		@include respond(640) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}

		h2 {
			text-align: center;
			max-width: 136rem;
			margin: auto;
		}
	}

	.s15-that {
		padding: 0;
		padding-bottom: 20rem;
	}

	.s16-that {
		.line {
			background: $blue-lt !important;
		}

		&.last {
			@include respond(640) {
				.next a {
					font-size: 4rem;
				}
			}
		}
	}
}
