@keyframes l-bounce {
	0% {
		left: calc(50% - 3px);
	}
	10% {
		left: calc(50% - 3px);
	}
	30% {
		left: calc(50% - 10px);
	}
	50% {
		left: calc(50% - 3px);
	}
	70% {
		left: calc(50% - 7px);
	}
	90% {
		left: calc(50% - 3px);
	}
	100% {
		left: calc(50% - 3px);
	}
}

@keyframes r-bounce {
	0% {
		left: calc(50% + 3px);
	}
	10% {
		left: calc(50% + 3px);
	}
	30% {
		left: calc(50% + 10px);
	}
	50% {
		left: calc(50% + 3px);
	}
	70% {
		left: calc(50% + 7px);
	}
	90% {
		left: calc(50% + 3px);
	}
	100% {
		left: calc(50% + 3px);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes grow {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
