html {
	font-size: 62.5%;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;

	&.no-scroll {
		overflow: hidden;
	}
}

body {
	position: relative;
	font-family: 'Gotham A', sans-serif;
	overflow-x: hidden;
	color: #333333;
	transform:unset;
	transition:transform 400ms ease;
	background:#fff;
	&.drop {
		transform:translateY(350px);
	}
}

main {
	margin-top: 80px;
}

img {
	max-width: 100%;
}

.grecaptcha-badge { 
    visibility: hidden;
}