.button {
    &__slideshow {
        color: white;
        width: 12rem;
        height: 8rem;
        background: $blue-lt;
        cursor: pointer;
        display: flex;

        @include respond(992) {
            height: 6rem;
            width: 10rem;
        }

        @include respond(640) {
            height: 4.5rem;
            width: 9rem;
        }

        &:before {
            margin: auto;
            content: '\0041';
            font-size: 3.5rem;
            @include driftFont();

            @include respond(992) {
                font-size: 2.5rem;
            }
        }

        &:first-child:before {
            transform: rotate(180deg);
        }
    }
}