h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: jaf-lapture, serif;
	font-weight: 600;
	font-style: normal;
	margin: 0;
}

h4 {
	font-size: 2.6rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.8rem;
}

// LINKS
a {
	color: $blue-lt;
	text-decoration: none !important;

	&:hover {
		color: darken($blue-lt, 5%);
	}
}

p {
	font-size: 1.8rem;
	line-height: 1.8;
	margin: 0;

	&.big-number {
		font-family: jaf-lapture, serif;
		font-size: 17.2rem;
		color: #c3c1c1;
		-webkit-text-fill-color: #f6f7fa;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #c3c1c1;
	}

	&.p-25 {
		font-size: 2.5rem;
	}

	&.subtext {
		color: #969696;
		text-transform: uppercase;
		margin: 0;
		font-size: 1.8rem;
	}
}

// BASE FONTSIZES FROM XD
.b {
	&173 {
		font-size: 17.3rem;
		color: #c3c1c1;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #c3c1c1;
	}

	&120 {
		font-size: 12rem;
	}

	&100 {
		font-size: 10rem;
	}

	&58 {
		font-size: 5.8rem;
	}

	&65 {
		font-size: 6.5rem;
	}

	&50 {
		font-size: 5rem;
	}

	&40 {
		font-size: 4rem;
		line-height:1.2;
	}

	&36 {
		font-size: 3.6rem;
	}

	&26 {
		font-size: 2.6rem;
	}

	&20 {
		font-size: 2rem;
	}

	&16 {
		font-size: 1.6rem;
	}
}

// FONT TYPES
.gotham {
	font-family: 'Gotham A', sans-serif;

	&__bold {
		font-weight: 700;
	}

	&__light {
		font-weight: 400;
	}
}

.lapture {
	font-family: jaf-lapture, serif;
	font-weight: 600;
	font-style: normal;

	&__bold {
		font-weight: 700;
	}

	&__light {
		font-weight: 400;
	}
}

.stroke-text {
	color: #c3c1c1;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #c3c1c1;
}

//FONT SIZE RESPONSIVE 
@media only screen and (max-width: 1500px) {
	.b {

		&173,
		&120 {
			font-size: 10rem;
		}

		&100 {
			font-size: 8rem;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.b {
		&58 {
			font-size: 5.0rem;
		}

		&40 {
			font-size: 3.5rem;
		}
	}
}

@media only screen and (max-width: 992px) {
	.b {

		&173,
		&120 {
			font-size: 9rem;
		}

		&100 {
			font-size: 6rem;
		}

		&58 {
			font-size: 4.5rem;
		}

		&40 {
			font-size: 3rem;
		}
	}
}

@media only screen and (max-width: 768px) {
	.b {
		&100 {
			font-size: 5rem;
		}
	}
}

@media only screen and (max-width: 640px) {
	.b {
		&173 {
			font-size: 7rem;
		}

		&100 {
			font-size: 4.5rem;
		}

		&58 {
			font-size: 4rem;
		}
	}
}

@media only screen and (max-width: 500px) {
	.b {
		&173 {
			font-size: 6rem;
		}

		&100 {
			font-size: 4rem;
		}

		&58 {
			font-size: 3rem;
		}

		&50 {
			font-size: 2.4rem;
		}

		&40 {
			font-size: 2.5rem;
		}

		&20 {
			font-size: 1.4rem;
		}
	}
}