.u-pad {
	padding: 0 7%;

	&-small {
		padding: 0 3%;
	}

	&--constant {
		padding: 0 7%;
	}
}

.u-margin {
	margin: 0 7%;
}

.u-t-margin {
	&--200 {
		margin-top: 20rem;
	}

	&--150 {
		margin-top: 15rem;
	}

	&--100 {
		margin-top: 10rem;

		@include respond(500) {
			margin-top: 7rem;
		}
	}

	&--50 {
		margin-top: 5rem;
	}

	&--30 {
		margin-top: 30rem;
	}
}

// MARGIN BOTTOM  OF SECTIONS
.m {
	&-400 {
		margin-bottom: 40rem !important;
	}

	&-300 {
		margin-bottom: 30rem !important;
	}

	&-230 {
		margin-bottom: 23rem !important;
	}

	&-200 {
		margin-bottom: 20rem !important;
	}

	&-150 {
		margin-bottom: 15rem !important;
	}

	&-130 {
		margin-bottom: 13rem !important;
	}

	&-100 {
		margin-bottom: 10rem !important;
	}

	&-50 {
		margin-bottom: 5rem !important;
	}
}

.contained {
	width: 1200px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.img-cover {
	position: relative;
	padding-bottom: 30%;
}

img.cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ns {
	// MAKES UNORDERED LISTS NOT STYLED (NS)
	margin: 0;
	padding: 0;
	list-style: none;
}