main.academy-landing {
	.s1-academy-landing {
		padding:0 15% 145px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		@include res(1700) {
			padding:0 10% 145px;
		}
		@include res(1500) {
			padding:0 5% 145px;
		}
		@include res(900) {
			padding:0 60px 100px;
		}
		@include res(600) {
			padding:0 30px 100px;
		}
		p.superscript {
			color:#787878;
			font-size:1.8rem;
			font-weight:700;
			text-transform:uppercase;
			margin:0;
			width:100%;
		}
		.left {
			width:55%;
			@include res(900) {
				width:100%;
				margin-bottom:30px;
			}
			h1 {
				color:#0B1929;
				font-size:7.2rem;
				@include res(1400) {
					font-size:6rem;
				}
				@include res(1100) {
					font-size:5rem;
				}
				@include res(550) {
					font-size:4rem;
				}
				@include res(450) {
					font-size:3.5rem;
				}
				span {
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) calc(100% - 30px), #7AE0FF 20px, #7AE0FF 80px, #fff 80px);
					@include res(1100) {
						background:linear-gradient(180deg, rgba(255, 255, 255, 0) calc(100% - 20px), #7AE0FF 40px, #7AE0FF 60px, #fff 60px);
					}
					@include res(550) {
						background:linear-gradient(180deg, rgba(255, 255, 255, 0) calc(100% - 20px), #7AE0FF 20px, #7AE0FF 48px, #fff 48px);
					}
				}
			}
		}
		.right {
			width:40%;
			@include res(900) {
				width:100%;
			}
			p {
				font-size:1.8rem;
				&:first-child {
					margin-bottom:30px;
				}
			}
		}
	}
	.s2-academy-landing {
		background:#F6F7FA;
		padding:130px 18%;
		position:relative;
		@include res(1400) {
			padding:130px 12%;
		}
		@include res(1200) {
			padding:130px 5%;
		}
		@include res(900) {
			padding:130px 60px;
		}
		@include res(600) {
			padding:100px 30px;
		}
		&:before {
			content:"";
			position:absolute;
			left:50%;
			top:-15px;
			transform:translateX(-50%);
			width:30px;
			height:30px;
			background:url(../images/megaphone.svg) center no-repeat;
			background-size:30px;
		}
		.form {
			margin-bottom:50px;
			#mc_embed_signup_scroll {
				display:flex;
				justify-content:center;
				align-items:flex-end;
				@include res(800) {
					flex-wrap:wrap;
					justify-content:unset;
				}
				.mc-field-group {
					width:280px;
					margin-right:30px;
					@include res(800) {
						width:100%;
						margin-right:0;
						margin-bottom:30px;
					}
					&.submission {
						width:151px;
						margin-right:0;
					}
				}
				label {
					color:#787878;
					font-size:1.6rem;
					font-weight:700;
					text-transform:uppercase;
					margin-bottom:15px;
				}
				input {
					width:100%;
					//padding:15px;
					border:1px solid #AAAAAA;
					height:44px;
					margin-right:30px;
					&.button {
						//width:151px;
						border:2px solid #1898BF;
						text-align:center;
						text-transform:uppercase;
						color:#1898BF;
						background:unset;
						font-size:1.5rem;
						font-weight:700;
						margin-right:0;
					}
				}
			}
		}
		.text {
			text-align:center;
			h2 {
				color:#0B1929;
				font-size:4rem;
				margin:0 0 30px;
				@include res(850) {
					font-size:3rem;
				}
				br {
					@include res(700) {
						display:none;
					}
				}
				span {
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) calc(100% - 20px), #7AE0FF 0px, #7AE0FF 45px, #F6F7FA -8px);
					@include res(850) {
						background:linear-gradient(180deg, rgba(255, 255, 255, 0) calc(100% - 15px), #7AE0FF 0px, #7AE0FF 45px, #F6F7FA -8px);
					}
				}
			}
			p {
				color:#787878;
				font-size:1.8rem;
				font-weight:700;
				text-transform:uppercase;
				margin:0;
				width:100%;
			}
		}
	}
}