main.blog-overview{
    
    padding: 0 5%;
    section.s1-blog-overview{
        h1,p{
            text-align: center;
        }
        h1{
            margin-bottom: 40px;
        }
        p{
            color:$grey-lt;
            margin-bottom: 30px;
            &.gotham {
                color:#969696;
                font-size:18px;
                text-transform:uppercase;
                font-weight:700;
            }
        }
        div.red-line{
            background: $red;
            width: 2px;
            height: 140px;
            margin: 0 auto 30px;

        }
    }
    section.s2-blog-overview{
        nav{
            justify-content: center;
            display: flex;
            align-items: center;
            h5{
                font-weight: 300;
                margin:0;
               
            }
            h4, h5{
                margin-right: 40px;
            }
        }
    }
    section.s3-blog-overview{
        .main-button{
            margin:auto;
            cursor: pointer;
            display: inline-block;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: 33.333%;
            padding: 20px;
            margin-bottom: 90px;
            div.img-cover{
                margin-bottom: 30px;
                padding-bottom: 80%;
                overflow: hidden;
                img{
                    transition: all 1s ease;
                }
                &:hover+ h4 a{
                    color: $red;
                }
                &:hover img{
                    transform: scale(1.1);
                }
            }
            h4{
                margin-bottom: 20px;
                a{
                    color:black;
                    transition: all ease .3s;
                }
                &:hover a{
                    color:$red;
                }
            }
            p{
                color: $grey-lt;
                text-transform: uppercase;
                &.date {
                    color:#969696;
                    text-transform:uppercase;
                    font-weight:700;
                }
            }
        }
    }
}