main.careers {
	.s1_career {
		align-items: center;
		justify-content: space-between;
		display: flex;
		padding-bottom: 9rem;
		max-width:1100px;
		padding-left:0;
		padding-right:0;

		.left,
		.right {
			max-width: 530px;
		}
	}

	.career-image {
		position: relative;
		margin-bottom: 12rem;

		.img-cover {
			padding-bottom: 51%;
		}
	}

	.s2_career {
		display: flex;
		justify-content: space-between;
		margin-bottom:10rem;

		.left {
			max-width: 530px;

			h2 {
				margin-bottom: 50px;
			}
		}

		.right {
			flex: 1;
			max-width: 81.2rem;

			p {
				margin-bottom: 30px;
			}

			ul {
				column-count: 2;
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					position: relative;
					margin-bottom: 20px;
					margin-left: 20px;
					padding-left: 20px;

					&:before {
						display: block;
						position: absolute;
						transform: translateY(-50%);
						width: 5px;
						height: 5px;
						top: 50%;
						left: 0;
						background: $red;
						border-radius: 100%;
						content: '';
					}
				}
			}
		}
	}

	.s4_career {
		.-row {
			@include respond(2000) {
				max-width: 150rem;
			}
		}
	}

	.s6_career {
		margin-bottom: 30rem;
		h2 {
			text-align: center;
		}

		.line-group {
			position: relative;
			transform: unset;
			left: unset;
			bottom: unset;
			margin-bottom: 60px;

			.circle {
				margin: 0 auto;
			}

			.line {
				height: 100px;
			}
		}

		.job-postings {
			display: flex;
			justify-content: space-around;
		}
		.job-posting__job {
			width: 30%;
			position: relative;
			.img-cover {
				padding-bottom: 80%;
				margin-bottom: 30px;
			}
		}
		.job-posting__link {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
	}
}
