main.contact {
  section {
    padding: 0 10%;

    &.s1-contact {
      display: flex;
      .left,
      .right {
        width: 50%;
      }
      .img-cover {
        padding-bottom: 100%;
      }
    }
    &.s2-contact {
      position: relative;
      margin-bottom: 60px;
      .-content {
        padding: 0 10%;
        text-align: center;
        margin-bottom: 45px;
        h1 {
          margin-bottom: 60px;
        }
        p {
          margin: auto;
          max-width: 981px;
          font-family: "Gotham A", sans-serif;
          font-weight: 400;
          font-size: 25px;
          span {
            color: $red;
            font-weight: 500;
          }
        }
      }
      .line-group {
        position: relative;
        bottom: unset;
        .circle {
          margin: auto;
        }
      }
    }
    &.s3-contact {
      display: flex;
      .contact-form-button {
        min-width: 240px !important;
      }
      form {
        position: relative;
        p.sr {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          &:focus {
            opacity: 1;
          }
        }
      }
      .wpcf7-form-control {
        display: flex;
        justify-content: space-between;
      }
      .wpcf7 {
        margin: auto;
        min-width: 812px;
        .required {
          color: $red !important;
        }
        *label {
          width: 100%;
          font-family: "Gotham A", sans-serif;
          font-weight: 700;
        }
        span.wpcf7-form-control-wrap {
          display: block;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 25px;
          input[type="text"],
          input[type="email"],
          textarea {
            width: 100%;
            transition: all ease 0.3s;
            padding: 25px 20px;
            border: solid 1px $grey-lt;
            color: black;
            position: relative;
            &::placeholder {
              color: $grey-lt;
            }
            &:focus {
              border: $blue-lt 2px solid;
            }
          }
        }
        //checkboxes
        .wpcf7-list-item {
          width: 18%;
          &.first {
            margin-left: 0;
          }
          label {
            width: 100%;
            padding: 18px 20px;
            position: relative;
            cursor: pointer;
            border: 2px solid #c9c9c9;
            color: #c9c9c9;
            display: flex;
            transition: all ease 0.3s;
            input {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
            &:hover,
            &.active {
              color: $blue-lt;
              border: solid 2px $blue-lt;
            }
          }
          span {
            margin: 0 auto;
          }
        }
        .wpcf7-not-valid {
          color: $red !important;
          border: solid 2px $red !important;
        }
        .wpcf7-not-valid-tip {
          color: $red;
        }
        .wpcf7-response-output {
          margin: 0;
          margin-top: 25px;
          font-size: 15px;
          padding: 0;
          border: none !important;
          color: $red;
        }
        .main-button {
          position: relative;
          margin-top: 40px;
          display: inline-block;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: none;
            border: 0;
            height: 100%;
            padding-left: 55px;
          }
        }
      }
    }
    &.s4-contact {
      p.gotham {
        text-align: center;
        color: $grey-lt;
        margin-bottom: 75px;
      }
      ul {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        li {
          text-align: center;
          .circle {
            background: $red;
            border-radius: 100%;
            margin: auto;
            margin-bottom: 30px;
            width: 28px;
            height: 28px;
            color: white;
            display: flex;
            &:before {
              margin: auto;
            }
          }
        }
        p.title {
          font-size: 26px;
          font-weight: 600;
        }
        p.learn {
          max-width: 330px;
        }
      }
    }
    &.s5-contact {
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
