main.culture{
    scroll-behavior: smooth;
    div.main-content{
        position: relative;
    }   
    section{
        padding: 0 10%;
        background: white;
        &.s5-culture{
            padding:unset;
        }
    }
    section.s1-culture{
        position: relative;
        h1{
            text-align: center;
            max-width: 1385px;
            margin:0 auto 50px;
    
        }
        p.gotham{
            color:$grey-lt;
            text-align: center;
            margin-bottom: 30px;
            color:#969696;
            font-size:18px;
            text-transform:uppercase;
            font-weight:700;
        }
        div.line{
            width:2px;
            background: $red;
            position: absolute;
            left:50%;
            transform:translateX(-50%);
            height: 320px;
            z-index: 1;
        }
    }
    section.s2-culture{
        background: $bg-lt-grey;
        position: relative;
        padding-bottom: 170px;
        div.img-cover{
            padding-bottom: 51%;
            margin-bottom: 150px;
        }
        h2{
            text-align: center;
            max-width: 1125px;
            margin: 0 auto 60px;
        }
        div.color-block{
            position: absolute;
            top: 0;
            left:0;
            height: 100px;
            width:100%;
            background: #fff;
        }
        div.button{
            display: flex;
            a{
                display: block;
                margin:auto;
            }
        }
      
    }
    section.s3-culture{
        scroll-behavior: smooth;
        display: flex;
        flex-wrap: wrap;
        a.drifter{
            display: block;
            width: 33.333%;
            padding: 20px 20px 0;
            margin-bottom: 200px;
            cursor: pointer;
            div.img-cover{
                padding-bottom: 130%;
                margin-bottom: 15px;
                img{
                    z-index: 1;
                    &.over{
                        z-index: 2;
                        opacity: 0;
                        transition: all ease .3s .2s;
                        pointer-events: none;
                    }
                }
                &:hover img.over{
                    opacity: 1;
                }
            }
            h2{
                color: #333333;
                margin-bottom: 15px;
                font-size: 58px;
            }
            p.gotham{
                font-size: 15px;
                text-transform: uppercase;
                color: $grey-lt;
                font-weight:bold;
            }
        }
    }
    section.s4-culture, section.s6-culture{
        .image-row{
            padding:0;
            margin: 0 -25px;
        }
    }
    section.s5-culture{
        background: #112439;
        div.scrolling-text{
            padding-bottom: 100px;
            div.text{
                width: 500px;
                h1{
                    margin-bottom: 15px;
                }
                p{
                    margin-bottom: 30px;
                }
                a.main-button{
                    width: 400px;
                    p{
                        z-index: 2;
                        margin-bottom: 0;
                    }
                    &:after{
                        background: #112439;
                        opacity: .6;
                        z-index: 1;
                    }
                }
            }
            h2{
                position: relative;
                span{
                    position: absolute;
                    left: -80px;
                    top:-45px;
                    font-size: 120px;
                    color: #dddddd;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #dddddd;
                    opacity: .25;
                }
            }
            div.item{
                margin-bottom: 60px;
            }
        }
    }
}

