main.drifter-page{
    section{
        padding: 0 10%;
    }

    section.s1-drifter{
        text-align: center;
        margin-bottom: 100px;
        .sub-text {
            color:#969696;
            text-transform:uppercase;
            font-weight:700;
        }
    }
    section.s2-drifter{
        text-align: center;
        position: relative;
        z-index: 1;
        h2{
            max-width:80%;
            margin:0 auto 30px;
        }
        p{
            color:#969696;
            margin-bottom: 50px;
        }
        div.red-line{
            display: flex;
            flex-direction: column;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            div.line{
                height: 300px;
                width: 2px;
                background-color:$red;
                z-index: 1;
                margin: 0 auto;
            }
            div.circle{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background:$red;
                display: flex;
                &::before{
                    font-family: 'Drift icon';
                    font-size: 15px;
                    margin:auto;
                    display: block;
                    color: #fff;
                    transition:all ease .3s;
                }
            }
        }
    }
    section.s3-drifter{
        div.img-cover{
            padding-bottom: 50%;
        }
    }
    section.s4-drifter{
        display: flex;
        align-items: center;
        margin-bottom: 160px;
        div.left{
            width: 36%;
            margin-right: 130px;
            div.img-cover{
                padding-bottom: 140%;
            }
        }
        div.right{
            flex:1;
            h2{
                margin:0;
                margin-bottom: 60px;
            }
            p{
                font-size: 25px;
                margin-bottom: 30px;
            }
            div.spirit-animal{
                position: relative;
                img {
                    width: 210px;
                    height: 210px;
                    object-fit: contain;
                }
                h4.text{
                    position: absolute;
                    top:50%;
                    left:60px;
                    transform:translateY(-50%);
                }
            }
        }
    }

    section.s5-drifter{
        margin-bottom: 190px;
        .-header{
            text-transform: uppercase;
            color:$grey-lt;
            text-align: center;
            margin-bottom: 60px;
            color:#969696;
            text-transform:uppercase;
            font-weight:700;
        }
        div.favorites{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 100px;
            div.-block{
                padding: 10px;
                margin-bottom:60px;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                p, h4{
                    text-align: center;
                }
                h4{
                    margin-bottom: 10px;
                }
            }
        }
        a.main-button{
            width:320px;
            margin:0 auto;
        }
    }
    section.s6-drifter{
        padding-top: 190px;
        background: $nvy-blue;
        display: flex;
        margin-bottom: 135px;
        div.left{
            margin-right: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                color: #fff;
                margin-bottom: 50px;
            }
            div.img-cover{
                padding-bottom: 79%;
                width: 50%;
                margin:0 auto;
            }
        }
        div.right{
            flex:1;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li {
                    border-bottom: solid 1px #C7C7C9;
                    padding-bottom: 30px;
                    box-sizing: border-box;
                    margin-bottom: 30px;
                    a{
                        display: flex;
                        align-items: flex-end;
                        h2, h5{
                            color: white;
                        }
                        h5{
                            margin-right: 40px;
                            align-self:center;
                        }

                    }
                }
                &.show-more{
                    display: none;
                }
            }
            div.main-button{
                margin-bottom: 190px;
                cursor: pointer;
            }
        }
    }
    section.next-drifter{
        margin-bottom: 130px;
        div.line{
            width: 2px;
            height: 135px;
            background: $red;
            margin:0 auto 30px;
        }
        p.gotham{
            text-align: center;
            color: $grey-lt;
            margin-bottom: 15px;
            color:#969696;
            text-transform:uppercase;
            font-weight:700;
        }
        .next{
            display: flex;
            a{
                color:#333333;
                font-size: 85px;
                text-align: center;
                margin:0 auto;
                display: block;
                @media only screen and (max-width : 768px) {
                    font-size: 60px;
                }
                @media only screen and (max-width : 640px) {
                    line-height: 1.3;
                    font-size: 40px;
                }
                @media only screen and (max-width : 500px) {
                    font-size: 35px;
                }
            }
        }
    }
}