main.home{
	position: relative;
}
section.s1-home {
	text-align:center;
	padding:80px 0 185px;
	margin:0 auto;
	&.active {
		.text {
			.first {
				opacity:1;
			}
			.second {
				width:100%;
			}
		}
	}
	.text {
		margin-bottom:50px;
		//opacity:0;
		//animation: fadein 2s forwards;
		position:relative;
		h1 {
			position:relative;
			width: 1019.01px;
			height:190px;
			margin:0 auto;
		}
		.first {
			white-space:pre-wrap;
			position:absolute;
			left:0;
			top:0;
			opacity:0;
			transition:opacity 4s ease;
		}
		.second {
			position:relative;
			width:0%;
			height:190px;
			overflow:hidden;
			transition:width 1s ease 0.5s;
			span {
				white-space:pre-wrap;
				width: 1019.01px;
    			position: absolute;
    			left:0;
    			top:0;
			}
		}
	}
	.sub-text {
		opacity:0;
		animation: fadein 2s forwards;
		animation-delay:0.5s;
		color:#969696;
		font-size:18px;
		text-transform:uppercase;
		font-weight:700;
	}
	.links {
		width:60%;
		margin:80px auto 0;
		display:flex;
		justify-content:space-between;
		opacity:0;
		animation: fadein 2s forwards;
		animation-delay:1.5s;
	}
}

section.s2-home {
	background:#F5F7FA;
	.s2-video-thumb {
		margin:0 auto;
		transform:translateY(-116px);
		width:1500px;
		height:770px;
		position:relative;
		background:unset !important;
		// opacity:0;
		// animation: fadein 2s forwards;
		// animation-delay:1.5s;
		.animation-container {
			overflow:hidden;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
		}
		.s2-video-thumb-image {
			background-size:cover !important;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background-color:#e6e6e6;
			background-repeat:no-repeat;
			transform:translateX(-100%);
			transition:transform 1s ease 0s;
			&:before {
				content:"";
				position:absolute;
				right:0;
				top:0;
				width:100%;
				height:100%;
				background-color:darken(#F5F7FA, 2%);
				transition:width 1s ease 0.5s;
			}
		}
		&.active {
			.s2-video-thumb-image {
				transform:translateX(0%);
				background-position:0 0 !important;
				&:before {
					width:0%;
					left:unset;
				}
			}
		}
		.line {
			position:absolute;
			width:2px;
			height:calc(25% + 100px);
			left:50%;
			top:-175px;
			transform:translateX(-50%);
			background:#CA1E27;
			opacity:0;
			animation: fadein 2s forwards 1s;
			.play {
				border:2px solid #CA1E27;
				width:75px;
				height:75px;
				border-radius:50%;
				position:absolute;
				bottom:-75px;
				left:50%;
				transform:translateX(-50%);
				display:flex;
				justify-content:center;
				align-items:center;
				text-transform:uppercase;
				font-size:14px;
				color:#CA1E27;
				cursor:pointer;
				overflow:hidden;
				&:after {
					content:"Play";
					position:absolute;
					left:50%;
					top:50%;
					transform:translateX(-50%) translateY(-50%);
					transition:all 0.5s ease;
					z-index:2;
				}
				&:before {
					content:"";
					position:absolute;
					left:50%;
					top:50%;
					transform:translateX(-50%) translateY(-50%);
					border-radius:50%;
					width:0px;
					height:0px;
					transition:all 0.5s ease;
					background:#CA1E27;
					z-index:1;
				}
				&:hover {
					color:#fff;
					&:before {
						height:150%;
						width:150%;
					}
				}
			}
		}
	}
}

section.s3-home {
	background:#F5F7FA;
	padding:30px 0 150px;
	text-align:center;
	.checkmark {
		margin-bottom:30px;
		width:28px;
		height:auto;
		animation: bounce 0.5s;
		animation-direction: alternate;
		animation-timing-function: cubic-bezier(.5,0.05,1,.5);
		animation-iteration-count: infinite;
	}
	.text {
		width:900px;
		margin:0 auto 120px;
		text-align:center;
		h1 {
			margin:0;
		}
	}
	.logos {
		width:1300px;
		margin:0 auto;
		display:flex;
		align-items:center;
		justify-content:space-between;

		img {
			opacity:0;
			transition:all 0.5s ease;
			&:nth-child(1) {
				transition-delay:0s;
			}
			&:nth-child(2) {
				transition-delay:0.2s;
			}
			&:nth-child(3) {
				transition-delay:0.4s;
			}
			&:nth-child(4) {
				transition-delay:0.6s;
			}
			&:nth-child(5) {
				transition-delay:0.8s;
			}
		}
	}
	&.active {
		.logos {
			img {
				opacity:1;
			}
		}
	}
}

section.s4-home {
	padding:310px 0 110px;
	position:relative;
	.line {
		position:absolute;
		width:2px;
		height:75px;
		left:50%;
		top:-60px;
		transform:translateX(-50%);
		background:#CA1E27;
	}
	h2 {
		text-align:center;
		margin:0 0 125px;
	}
	.case-studies {
		.case-study {
			display:flex;
			justify-content:space-between;
			&:nth-child(1) .image-container .animation-container:after {
				background:#34ba99;
			}
			&:nth-child(2) .image-container .animation-container:after {
				background:#01bde3;
			}
			&:nth-child(3) .image-container .animation-container:after {
				background:#ffea2f;
			}
			&:nth-child(4) .image-container .animation-container:after {
				background:#34ba99;
			}
			&:nth-child(odd) {
				.info {
					transform:translateX(-100%);
					opacity:0;
					transition:all 0.8s ease;
				}
				.image-container {
					.animation-container {
				    	background:#ccc;
				    	transform:translateX(100%);
				    	transition:all 1s ease;
				    	&:after {
				    		content:"";
				    		position:absolute;
				    		left:0;
				    		top:0;
				    		width:100%;
				    		height:100%;
				    		transition:width 1s ease 0.5s;
				    	}
				    }
				}
				&.active {
					.info {
						transform:translateX(0px);
						opacity:1;
					}
					.image-container {
						.animation-container {
							transform:translateX(0);
							&:after {
								width:0%;
							}
							img {
								transform:translateX(0);
							}
						}
					}
				}
			}
			&:nth-child(even) {
				.info {
					transform:translateX(100%);
					opacity:0;
					transition:all 0.8s ease;
				}
				.image-container {
					.animation-container {
				    	background:#ccc;
				    	transform:translateX(-100%);
				    	transition:all 1s ease;
				    	&:after {
				    		content:"";
				    		position:absolute;
				    		right:0;
				    		top:0;
				    		width:100%;
				    		height:100%;
				    		transition:width 1s ease 0.5s;
				    	}
				    }
				}
				&.active {
					.info {
						transform:translateX(0px);
						opacity:1;
					}
					.image-container {
						.animation-container {
							transform:translateX(0);
							&:after {
								width:0%;
							}
							img {
								transform:translateX(0);
							}
						}
					}
				}
			}
			&:nth-child(odd) {
				padding:80px 5% 80px 10%;
				.info {
					order:1;
				}
				.image-container {
					order:2;
				}
			}
			&:nth-child(even) {
				padding:80px 10% 80px 5%;
				.info {
					order:2;
				}
				.image-container {
					order:1;
				}
			}
			.info {
				//display:flex;
				width:25%;
				height: 35vw;
				margin-top: 60px;
			    //flex-wrap:wrap;
				h2 {
					text-align:left;
					line-height:1.3;
					margin:0;
					width:100%;
				}
				.dot-link {
					display:inline-block;
					margin-top:60px;
					font-size: 16px;
				}
			}
			.image-container {
				display:flex;
				position:relative;
				width:70%;
				cursor:pointer;
			    height: 35vw;
			    overflow:hidden;
				.spacer {
					width:100%;
					height:auto;
					//opacity:0;
				}
				.case-study-img {
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					img {
						display:none;
						width:100%;
						height:100%;
						//object-fit:cover;
						&:nth-child(2) {
							position: absolute;
						    top: 0;
						    left: 0;
						    opacity: 0;
						    transition: opacity 0.3s;
						}
					}
					canvas {
						display:block;
					}
				}
			}
			
		}
	}
	.bottom {
		margin-top:80px;
		text-align:center;
		.circle{
			width: 30px;
			height: 30px;
			background:$red;
			border-radius: 100%;
			margin:auto;
			margin-bottom: 20px;
			display: flex;
			
			&:before{
				color:white;
				margin:auto;
				animation:beat 3s 3s ease infinite;
			}
		}
		h2 {
			margin-bottom:40px;
		}
		a {
			margin:0 auto;
			display: inline-block;
		}
	}
}

section.s5-home {
	background:#F6F7FA;
	padding:125px 10% 175px;
	.top {
		width:1400px;
		margin:0 auto 180px;
		text-align:center;
		.sub-text {
			color:#969696;
			font-size:18px;
			font-weight:700;
		}
		h2 {
			margin-top:40px;
			margin-bottom:0;
			overflow:hidden;
			// .animate-1 {
			// 	transition:transform 0.5s ease, color 0s linear 0.5s;
			// 	color:rgba(20,20,20,0);
			// 	position:relative;
			// 	transform:translateX(-150%);
			// 	display:inline-block;
			// 	&:before {
			// 		content:"";
			// 		position:absolute;
			// 		right:0;
			// 		top:0;
			// 		width:100%;
			// 		height:100%;
			// 		background:lighten(rgba(20,20,20,1),30%);
			// 		transition:width 0.5s ease 0.5s;
			// 	}
			// 	&.active {
			// 		opacity:1;
			// 		color:rgba(20,20,20,1);
			// 		transform:translateX(0%);
			// 		&:before {
			// 			width:0%;
			// 		}
			// 	}
			// }
			// .animate-2 {
			// 	transition:transform 0.5s ease, color 0s linear 0.5s;
			// 	color:rgba(24,152,191,0);
			// 	position:relative;
			// 	transform:translateX(150%);
			// 	display:inline-block;
			// 	&:before {
			// 		content:"";
			// 		position:absolute;
			// 		left:0;
			// 		top:0;
			// 		width:100%;
			// 		height:100%;
			// 		background:lighten(rgba(24,152,191,1),30%);
			// 		transition:width 0.5s ease 0.5s;
			// 	}
			// 	&.active {
			// 		opacity:1;
			// 		color:rgba(24,152,191,1);
			// 		transform:translateX(0%);
			// 		&:before {
			// 			width:0%;
			// 		}
			// 	}
			// }
		}
	}
	.services {
		display:flex;
		justify-content:space-between;
		&.active {
			.service {
				opacity:1;
				transform:translateY(0px);
			}
		}
		.service {
			position:relative;
			width:22%;
			display: flex;
			flex-direction: column;
			transform:translateY(150px);
			opacity:0;
			&:nth-child(1) {
				transition:all 0.3s ease 0.2s;
			}
			&:nth-child(2) {
				transition:all 0.3s ease 0.4s;
			}
			&:nth-child(3) {
				transition:all 0.3s ease 0.6s;
			}
			&:nth-child(4) {
				transition:all 0.3s ease 0.8s;
			}
			h2 {
				margin-bottom:30px;
				margin-top:0;
				height:100px;
			}
			h2, p {
				position:relative;
				z-index:2;
			}
			p{
				margin-bottom: 50px;
			}
			.big-number {
				margin:0;
				position:absolute;
				left:-50px;
				top:-75px;
				line-height: 1;
			}
			.link{
				margin-top: auto;
			}
			.dot-link {
				display:inline-block;
				font-size: 16px;

			}
		}
	}
}

section.s6-home {
	padding:385px 10% 115px;
	position:relative;
	.line {
		width:2px;
		height:315px;
		background:#CA1E27;
		position:absolute;
		top:-40px;
		left:50%;
		transform:translateX(-50%);
		&:after {
			content:"";
			width:28px;
			height:28px;
			position:absolute;
			bottom:-3px;
			left:50%;
			transform:translateX(-50%);
			background:url(../images/quote.svg) center no-repeat;
		}
	}
	.blog-posts {
		display:flex;
		justify-content:space-between;
		&.mobile{
			display: none;
		}
		&.active {
			.post {
				transform:translateY(0px);
				opacity:1;
				&:nth-child(1) {
					transition:all 0.5s ease;
				}
				&:nth-child(2) {
					transition:all 0.5s ease 0.2s;
				}
				&:nth-child(3) {
					transition:all 0.5s ease 0.4s;
				}
			}
		}
		.post {
			width:30%;
			opacity:0;
			transform:translateY(150px);
			&:hover {
				img {
					transform:scale(1.2);
				}
			}
			.image {
				width:100%;
				padding-bottom:100%;
				position:relative;
				margin-bottom:30px;
				overflow:hidden;
				img {
					position:absolute;
					width:100%;
					height:100%;
					left:0;
					top:0;
					object-fit:cover;
					transition:all 1s ease;
				}
			}
			h2 {
				text-align:center;
				margin:0 0 30px;
			}
			.date {
				text-align:center;
				text-transform:uppercase;
				color:#969696;
				font-size:20px;
				margin:0;
			}
		}
	}
}

section.s7-home {
	padding:125px 5% 250px;
	background:#0B1929;
	position:relative;
	text-align:center;
	img.white-drift {
		width:130px;
		height:auto;
	}
	.line {
		width:2px;
		height:150px;
		background:#CA1E27;
		position:absolute;
		top:-36px;
		left:50%;
		transform:translateX(-50%);
	}
	h2 {
		color:#fff;
		margin:150px 0 50px;
	}
	div.z-index-compensation {
		position:relative;
		z-index:2;
		.main-button {
			width:unset;
			display:inline-block;
			padding:15px 30px;
			&:after {
				background:#112439;
			}
		}
	}
}

main.city-landing {
	.s4-home {
		.text {
			width:1150px;
			margin:0 auto;
			text-align:center;
			@include res(1200) {
				width:100%;
				padding:0 60px;
				margin-bottom:60px;
			}
			@include res(600) {
				padding:0 30px;
			}
			@include res(400) {
				padding:0 15px;
			}
			h2 {
				font-size:5rem;
				line-height:1.2;
				margin-bottom:30px;
				@include res(1200) {
					font-size:4.5rem;
				}
				@include res(1100) {
					font-size:4rem;
				}
				@include res(900) {
					font-size:3.5rem;
				}
			}
			p {
				margin-bottom:15px;
			}
		}
	}
	.s5-home {
		padding-bottom:0;
		@include res(640) {
			padding-bottom:100px;
		}
		.services {
			flex-wrap:wrap;
			.service {
				width:calc(50% - 85px);
				margin-bottom:180px;
				text-align:left;
				@include res(1200) {
					width:calc(50% - 30px);
				}
				@include res(1000) {
					width:100%;
					margin-bottom:100px;
				}
				p {
					margin-bottom:15px;
				}
			}
		}
	}
	.s6-home {
		.line {
			&:after {
				display:none;
			}
		}
		.text {
			width:1150px;
			margin:0 auto;
			text-align:center;
			@include res(1200) {
				width:100%;
				padding:0 60px;
				margin-bottom:60px;
			}
			@include res(600) {
				padding:0 30px;
			}
			@include res(400) {
				padding:0 15px;
			}
			h2 {
				font-size:5rem;
				line-height:1.2;
				margin-bottom:30px;
				@include res(1500) {
					margin-top:30px;
				}
				@include res(1200) {
					font-size:4.5rem;
				}
				@include res(1100) {
					font-size:4rem;
				}
				@include res(900) {
					font-size:3.5rem;
				}
			}
			p {
				margin-bottom:15px;
			}
		}
	}
}

@keyframes bounce {
  from { transform: translate3d(0, -20px, 0);     }
  to   { transform: translate3d(0, 0px, 0); }
}
@keyframes beat{
	0%{
		transform: scale(1);
	}
	10%{
		transform: scale(1.1)
	}
	20%{
		transform: scale(1);
	}
	30%{
		transform:scale(1.1);
	}
	40%{
		transform: scale(1);
	}
	100%{
		transform: scale(1);
	}
}