main.logos{
    section{
        padding: 0 10%;
        &.s1-logos{
        }
        &.s2-logos{
            text-align: center;
            h1{
                margin-bottom: 60px ;
            }
            p{
                font-family: 'Gotham A', sans-serif;
                line-height: 2;
                font-weight: 400;
                max-width: 981px;
                margin:auto;
            }
        }
        &.s3-logos{
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                grid-gap:  16px;               
                li{
                    background-color:#F6F7FA ;
                    display: flex;
                    padding: 80px 0;
                    div{
                        margin:auto;
                    }
                }
            }
        }
        &.s4-logos{
            text-align: center;
            div.text{
                padding: 0 10%;
                h2{
                    font-weight: 500;
                    margin-bottom: 30px;
                }
            }
            a{
                display: block;
                margin: 0 auto;
                width: 284px;
            }
        }
        &.s5-logos{
        }
        &.s6-logos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            div.line-group{
                position: relative;
                margin-bottom: 30px;
                top:unset;
                left:unset;
                bottom:unset;
                transform:unset;
            }
            p{
                color: #969696;
                text-align: center;
                margin-bottom: 15px;
            }
            a{
                margin:0 auto;
                display: block;
                font-size: 85px;
            }
        }
    }    
}