main.mailing-list {
	iframe {
		width: 1000px;
    	height: 600px;
	}
	.s1-mailing-list {
		padding:0 10%;
		h1 {
			text-align: center;
			max-width: 1274px;
			margin: auto;
			margin-bottom:80px;
		}
		.img-cover {
			position: relative;
			z-index: 1;
			padding-bottom: 50%;
			margin-bottom: 150px;
			img {
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
	}
	.s2-mailing-list {
		display:flex;
		justify-content:space-between;
		padding:0 14% 120px;
		.left {
			width:40%;
			h2 {
				margin-bottom:15px;
				font-size:48px;
			}
		}
		.right {
			width:35%;
			.text {
				margin-bottom:30px;
				h2 {
					font-size:48px;
					color:#1898bf;
				}
			}
			.download-button {
				display:none;
				&.active {
					display:block;
				}
				p {
					margin-bottom:15px;
				}
			}
			.form {
				p {
					font-weight:700;
					font-size:16px;
					span {
						color:red;
					}
					&.error-text {
						color:red;
						margin-top:5px;
						font-size:15px;
						font-weight:normal;
					}
				}
				form {
					position:relative;
				}
				.form-group {
					width:100%;
				}
				input[type=email] {
					width:100%;
					border-radius:0;
					-webkit-appearance:none;
					border:0;
					border-bottom:1px solid #ccc;
					font-size:18px;
					padding:15px 0;
					&:focus {
						outline:0;
					}
					&.form-error {
						border-bottom:1px solid red;
					}
				}
				button {
					position:absolute;
					right:0;
					top:50%;
					transform:translateY(-50%);
					font-size:0;
					width:30px;
					height:30px;
					background:#1898bf;
					padding:0;
					border:0;
					border-radius:50%;
				}
			}
		}
	}
}