main.origin-story{
    div.year-nav{
        position: absolute;
        // position: fixed;
        // transform: rotate(90deg);
        // transform-origin:bottom right;
        // transform: rotate(90deg);
        right:30px;
        top: 60px;
        z-index: 1;
        
        ul{
            display: flex;
            flex-direction: column;
            height: 100%;
            li{
                margin:20px;
                font-size: 20px;
                cursor: pointer;
                transform:rotate(90deg);
                position: relative;
                &.active{
                    color:$red;
                }
                // .ee{
                //     position: absolute;
                //     transform: translateX(-100%) rotate(-90deg);
                //     transform-origin: top right;
                //     left:0;
                //     top:0;
                //     width: 100px;
                //     white-space: nowrap;
                // }
            }
        }

    }
    section.s1-origin{
        padding: 0 10%;
        text-align: center;
        position: relative;
        margin-bottom: 200px;
        h1{
            line-height: 1.5;
            margin-bottom: 60px;
        }
        div.line-group{
            bottom:unset;
            z-index: 1;
        }
        p{
            margin-bottom: 60px;
        }

    }
    section.s3-work{
        position: relative;
        div.year{
            height: 100%;
            opacity:0;
            display: none;
            transition:all ease .3s;
            &.active{
                display: block;
                animation: fadein .5s .5s forwards;
            }
        }
        div.top{
            background: #F6F7FA;
            padding:20% 10% 10%;
            display: flex;
            margin-bottom: 200px;
            div.content{
                max-width: 60%;
                margin:auto;
                position: relative;
                p.year{
                    position: absolute;
                    margin:0;
                    font-size: 330px;
                    -webkit-text-fill-color:transparent;
                    -webkit-text-stroke-width:2px;
                    -webkit-text-stroke-color: #DDDDDD;
                    line-height: 1;
                    top: -220px;
                    left:-280px;
                }
                h2{
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 2;
                    color: #454545;
                }
            }
        }
        div.bottom{
            .stats-row{
                height: unset;
                margin-bottom: 200px;
            }
            .image-row{
                margin-bottom: 200px;
            }
        }
    }
}