main.services {
	section {
		padding: 0 7%;
		&.s1-services {
			margin-bottom: 170px;
			position: relative;
			h1 {
				text-align: center;
				max-width: 1274px;
				margin: auto;
			}
			p {
				text-align: center;
				color: #969696;
				margin-bottom: 60px;
			}
			.line {
				background: $red;
				height: 320px;
				width: 2px;
				position: absolute;
				left: 50%;
				top: calc(100% + 30px);
				transform: translateX(-50%);
				z-index: 2;
			}
		}
		&.s2-services {
			position: relative;
			background: #f5f7fa;
			padding-bottom: 200px;
			.color-block {
				position: absolute;
				width: 100%;
				height: 230px;
				background: white;
				top: 0;
				left: 0;
			}
			.img-cover {
				position: relative;
				z-index: 1;
				padding-bottom: 58%;
				margin-bottom: 150px;
			}
			h2 {
				max-width: 1128px;
				margin: auto;
				margin-bottom: 100px;
				text-align: center;
			}
			p {
				text-align: center;
				color: #969696;
			}
			.line-group {
				bottom: -100px;
			}
		}
		&.s3-services {
			.service-group {
				display: flex;
				align-items: center;
				margin-bottom: 315px;
				.left {
					width: 50%;
					margin-right: 160px;
					.img-cover {
						padding-bottom: 66%;
						margin-bottom: 20px;
					}
					.link {
						display: flex;
					}
				}
				.right {
					flex: 1;
					max-width: 600px;
					h2 {
						max-width: 500px;
						margin-bottom: 24px;
					}
					p {
						margin-bottom: 35px;
						font-size: 25px;
					}
					.main-button {
						width: 400px;
					}
				}
				&:nth-child(even) {
					flex-direction: row-reverse;
					.left {
						margin-right: 0;
						margin-left: 160px;
						.link a {
							margin-left: auto;
						}
					}
				}
			}
		}
	}
}
main.services-child {
	//padding-bottom: 175px;
	section {
		padding: 0 7%;

		&.s1-services-child {
			div.content {
				display: flex;
				max-width: 1360px;
				margin: 0 auto;
				margin-bottom: 90px;
				.left {
					width: 58%;
					margin-right: auto;
				}
				p {
					max-width: 536px;
				}
			}
			.img-cover {
				padding-bottom: 50%;
			}
		}
		&.s2-services-child {
			.content {
				display: flex;
				max-width: 1360px;
				margin: auto;
				.left {
					max-width: 482px;
				}
				.right {
					margin-left: 70px;
					flex: 1;
					p {
						margin-bottom: 50px;
						&:nth-child(3) {
							margin-bottom: 30px;
							font-size: 20px;
						}
					}
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						columns: 3;
						li {
							font-size: 18px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}

		&.s4-services-child {
			margin-bottom:0 !important;
			padding-bottom:120px;
			h2 {
				text-align: center;
				max-width: 1275px;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			.button {
				display: flex;
				a {
					margin: auto;
					width: 250px;
				}
			}
		}
		&.s5-services-child {
			.fc-block:last-child {
				margin-bottom: 330px;
			}
			.image-row-block {
				margin-bottom: 150px;
			}
			.bold_text {
				margin-bottom: 150px;
				.circle {
					width: 30px;
					height: 30px;
					background: $red;
					display: flex;
					margin: 0 auto;
					border-radius: 100%;
					margin-bottom: 45px;
					&:before {
						margin: auto;
						font-size: 18px;
						color: white;
					}
				}
				h2 {
					max-width: 1363px;
					text-align: center;
					margin: 0 auto;
				}
			}
			.side-by-side {
				display: flex;
				justify-content: space-between;
				max-width: 1490px;
				margin: 0 auto;
				.left {
					max-width: 813px;
				}
				.right {
					width: 428px;
					p {
						font-size: 20px;
						margin-bottom: 30px;
					}
					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						column-count: 2;
						li {
							font-size: 18px;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		&.s7-home {
			padding: 125px 5% 250px;
			//margin-bottom: 200px;
		}
		&.s7-services-child {
			h2.b40 {
				margin: 0 auto;
				margin-bottom: 95px;
				text-align: center;
				max-width: 968px;
			}
			.projects {
				display: flex;
				margin: 0 -30px;
				margin-bottom: 200px;
				.project {
					width: 50%;
					padding: 30px;
					.img-cover {
						margin-bottom: 43px;
						padding-bottom: 61%;
						overflow: hidden;
						img {
							transition: all ease 1s .2s;
						}
						a {
							position: absolute;
							z-index: 1;
							width: 100%;
							height: 100%;
							left: 0;
							top: 0;
							cursor: pointer;
						}
						&:hover {
							img {
								transform: scale(1.1);
							}
						}
					}
					h2 a {
						color: black;
						transition: all ease .3s;
						&:hover {
							color: #1898bf;
						}
					}
				}
			}
			.button {
				display: flex;
				a {
					margin: 0 auto;
					width: 400px;
				}
			}
		}
	}
}
