main.post {
  padding: 0 10% 160px;
  section.s1-post {
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      color: $grey-lt;
      margin-bottom: 60px;
    }
    div.img-cover {
      padding-bottom: 50%;
    }
  }

  section.s2-post {
    display: flex;
    padding-left: 80px;
    padding-right: 15%;
    div.by-line {
      width: 19%;
      margin-right: 1%;

      div.author {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        .avatar {
          width: 90px;
          height: 90px;
          border-radius: 100%;
          overflow: hidden;
          margin-right: 20px;
        }
      }
      div.author-name {
        p {
          margin: 0;
          &.author-name {
            font-size: 14px;
          }
        }
      }
      div.social {
        margin-bottom: 30px;
        ul {
          li {
            background: $blue-lt;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            margin-right: 8px;
            display: inline-block;
            cursor: pointer;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              &:before {
                font-size: 18px;
                color: white;
                margin: auto;
                z-index: 1;
              }
            }
          }
        }
      }
      div.tags {
        display: none;
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            margin-right: 8px;
            font-size: 14px;

            a {
              color: black;
              transition: all ease 0.3s 0.2s;
            }
            &:hover a {
              color: $red;
            }
          }
        }
      }
    }
    div.content {
      width: 80%;
      ul,
      ol {
        margin-bottom: 30px;
      }
      li {
        font-size: 1.8rem;
      }
      img {
        height: auto;
      }
      p {
        margin-bottom: 30px;
        img {
          margin: 0 auto;
        }
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 15px;
      }
      div.blue-line {
        width: 30%;
        height: 1px;
        margin: 160px auto 0;
        background-color: $blue-lt;
      }
    }
  }
}
