section.s1-work-overview {
	padding: 0 0 110px;
	text-align: center;
	.line {
		width: 2px;
		height: 220px;
		display: inline-block;
		margin: 30px 0;
		background: #ca1e27;
	}
	.text p.sub-text a {
		font-weight: 700;
	}
}

section.s2-work-overview {
	background: #f6f7fa;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 325px;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
	}
	.case-studies {
		padding: 0 7%;
		.case-study {
			margin-bottom: 150px;
			&:last-child {
				margin-bottom: 0;
			}
			.img-cover {
				padding-bottom: 59%;
				position: relative;
				margin-bottom: 35px;
				overflow: hidden;
				&:hover {
					img {
						transform: scale(1.1);
					}
				}
				img {
					transition: all ease 1s;
				}
				a {
					position: absolute;
					cursor: pointer;
					z-index: 1;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
			h2 {
				margin-bottom: 24px;
				a {
					color: black;
					transition: all ease 0.3s;
					&:hover {
						color: #1586a8;
					}
				}
			}
			ul {
				display: flex;
				li {
					color: #969696;
					font-size: 15px;
					display: flex;
					font-weight: 700;
					&:last-child:after {
						content: unset;
					}
					&:after {
						content: "";
						width: 5px;
						height: 5px;
						background: black;
						border-radius: 100%;
						display: inline-block;
						margin: auto 10px;
					}
				}
			}
		}
	}
	.more {
		margin-bottom: 175px;
		.line {
			width: 2px;
			background: $red;
			height: 135px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		p {
			color: #969696;
			text-align: center;
		}
		.link {
			display: flex;
			a {
				font-size: 85px;
				text-align: center;
				margin: 0 auto;
				@media only screen and (max-width: 768px) {
					font-size: 60px;
				}
				@media only screen and (max-width: 640px) {
					line-height: 1.3;
					font-size: 40px;
				}
				@media only screen and (max-width: 500px) {
					font-size: 35px;
				}
			}
		}
	}
}

section.s3-work-overview {
	padding-bottom: 120px;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 150px;
		position: absolute;
		top: 0;
		left: 0;
		background: #f6f7fa;
		z-index: -1;
	}
	.text {
		text-align: center;
		margin-bottom: 80px;
		.line {
			width: 2px;
			height: 220px;
			display: inline-block;
			margin: 30px 0;
			background: #ca1e27;
		}
	}
	.work {
		width: 100%;
		padding: 6rem 7%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			color: #333333;
			margin-top: 30px;
		}
		ul.tags {
			list-style: none;
			margin: 0;
			padding: 0;
			font-weight: 700;
			li {
				display: inline-block;
				color: #969696;
				font-size: 15px;
				text-transform: uppercase;
				&:before {
					content: "•";
					display: inline-block;
					color: #0b1929;
					margin-left: 2px;
					margin-right: 5px;
				}
				&:first-child:before {
					display: none;
				}
			}
		}
		.image-container {
			overflow: hidden;
			cursor: pointer;
			img {
				transition: all 1s ease;
			}
		}
		.full {
			width: 100%;
			.image-container {
				width: 100%;
				padding-bottom: 50%;
				position: relative;
				&:hover img {
					transform: scale(1.05);
				}
			}
		}
		.half {
			width: 48%;
			.image-container {
				width: 100%;
				padding-bottom: 70%;
				position: relative;
				&:hover img {
					transform: scale(1.1);
				}
			}
		}
	}
}
