section.s1-work {
	text-align: center;
	padding: 0 10%;
	.main-image {
		width: 100%;
		margin-top: 90px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 2px;
			height: 250px;
			background: #ca1e27;
			left: 50%;
			top: -72px;
			transform: translateX(-50%);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.sub-text {
		text-transform:uppercase;
		color:#969696;
		font-weight:700;
	}
}

section.s2-work {
	padding: 0 15%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		text-align: center;
		margin: 0 auto 100px;
	}
	.more-text {
		display: flex;
		justify-content: space-between;
		.paragraph {
			width: 55%;
			.main-button {
				margin-top: 80px;
			}
		}
		.list {
			width: 20%;
			p.sub-text {
				margin-bottom: 20px;
				text-transform:uppercase;
				color:#969696;
				font-weight:700;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					color: #454545;
					font-size: 18px;
					padding: 5px 0;
				}
			}
		}
	}
}

section.s3-work {
	//control padding on all sections for responsive
	//stats and scrolling text sections do not have block class
	.block {
		padding: 0 10%;
		height: 90vh;
	}
	.stats-row {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 11%;
		.all-in {
			text-align: center;
			color: #969696;
			font-size: 18px;
			text-transform: uppercase;
			margin: 0;
			text-transform:uppercase;
			color:#969696;
			font-weight:700;
			&:after {
				width: 2px;
				height: 100px;
				content: "";
				background: #ca1e27;
				display: block;
				margin: 30px auto 60px;
			}
		}
		.stats {
			width: 100%;
			display: flex;
			justify-content: space-around;
			.stat {
				width: 25%;
				position: relative;
				.big-number {
					margin: 0;
					position: absolute;
					left: -85px;
					top: -70px;
					font-size: 110px;
					color: #dddddd;
					-webkit-text-fill-color: #fff;
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: #dddddd;
				}
				h3 {
					position: relative;
					z-index: 1;
					font-size: 26px;
					margin: 0;
					color: #333333;
				}
			}
		}
	}
	.video-row {
		display: flex;
		padding: 0 7%;
		max-width: 2000px;
		margin: 0 auto;
		.video-popup {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.8);
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			height: 0%;
			transition: all 0.5s ease;
			&.active {
				height: 100%;
			}
			.vid-width {
				width: 70%;
			}
			.vid-con {
				width: 100%;
				padding-bottom: 56.5%;
				position: relative;
				.close-it {
					position: absolute;
					right: 15px;
					bottom: 15px;
					width: 28px;
					height: 28px;
					cursor: pointer;
					background: url(../images/circle-close.svg) center no-repeat;
					background-size: cover;
					z-index: 5;
				}
				iframe {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.image {
			padding: 25px;
			width: 30%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.video {
			width: 70%;
			padding: 25px;
			.video-container {
				width: 100%;
				padding-bottom: 56.5%;
				position: relative;
				video {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.play {
					border: 2px solid #fff;
					border-radius: 50%;
					display: flex;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					color: #fff;
					font-size: 14px;
					text-transform: uppercase;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 78px;
					height: 78px;
					overflow: hidden;
					&:after {
						content: "Play";
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						transition: all 0.5s ease;
						z-index: 2;
					}
					&:before {
						content: "";
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						border-radius: 50%;
						width: 0px;
						height: 0px;
						transition: all 0.5s ease;
						background: #ca1e27;
						z-index: 1;
					}
					&:hover {
						color: #fff;
						&:before {
							height: 150%;
							width: 150%;
						}
					}
				}
			}
		}
	}
	.image-row-block {
		display: flex;
		padding: 0 7%;
		max-width: 2000px;
		margin: 0 auto;
		.text {
			max-width: 450px;
			display: flex;
			flex: 1;
			padding: 25px;
			.content {
				margin: auto;
				h2 {
					font-size: 25px;
					margin-bottom: 50px;
				}
			}
		}
		.image {
			padding: 25px;
			position: relative;
			img {
				&.work-img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.static-web-screenshots-row {
		display: flex;
		img {
			width: 100%;
			height: auto;
			-webkit-box-shadow: 0px 3px 19px 0px rgba(60, 60, 60, 0.16);
			-moz-box-shadow: 0px 3px 19px 0px rgba(60, 60, 60, 0.16);
			box-shadow: 0px 3px 19px 0px rgba(60, 60, 60, 0.16);
		}
		.left-column {
			width: 50%;
			padding: 25px;
			.text {
				padding: 100px;
				margin-bottom: 100px;
			}
		}
		.right-column {
			width: 50%;
			padding: 25px;
		}
	}
	.text-row {
		display: flex;
		height: unset;
		padding-top:120px;
		padding-bottom:120px;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		line-height: 1.4;
		p,
		h1,
		h2 {
			font-size: unset;
			line-height: unset;
		}
	}

	.slickSlideShow {
		padding: 0 7%;
		max-width: 2000px;
		margin: 0 auto;
		.img-cover {
			width: 100%;
			margin: 25px;
			padding-bottom: 0 !important;
			position: relative;
			display: flex;
			// justify-content:center;
			img {
				flex-grow: 1;
			}
			div.buttons {
				position: absolute;
				right: 0;
				bottom: 20px;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				width: 100%;
				div.slide-left,
				div.slide-right {
					width: 128px;
					height: 63px;
					background: $blue-lt;
					display: flex;
					cursor: pointer;
					&:before {
						content: '\0041';
						font-family: 'Drift icon';
						font-size: 35px;
						color: white;
						margin: auto;
						display: block;
					}
				}
				div.slide-left:before {
					transform: rotate(180deg);
				}
			}
		}
	}
	.fun-facts {
		margin: 200px 0;
		h6 {
			text-align: center;
			color: #969696;
			margin-bottom: 60px;
			text-transform: uppercase;
			font-weight: 400;
		}
		ul {
			display: flex;
			justify-content: space-between;
			li {
				padding: 0 30px;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
		p {
			&.lapture {
				font-size: 26px;
				font-weight: 600;
			}
			text-align: center;
		}
	}
}
section.s4-work {
	margin: 100px 0;
	padding: 0 10%;
	.line {
		width: 2px;
		height: 135px;
		background: $red;
		margin: 0 auto 30px;
	}
	p {
		text-align: center;
		&.gotham {
			text-transform:uppercase;
			color:#969696;
			font-weight:700;
		}
		&.next {
			a {
				font-size: 85px;
				font-weight: 700;
			}
		}
	}
}
